<div class="header__top">
  <div class="container container--wide">
    <div class="contact-panel contact-panel--header header__contact-panel">
      <button class="close-btn contact-panel__close-btn">
        <i class="icon icon--cancel"></i>
        <span>Закрыть</span>
      </button>

      <div class="contact-panel__title-bordered title-bordered title-bordered--white">
        <div class="title-bordered__heading">DW Group</div>
      </div>

      <div class="contact-panel__body">
        <div class="contact-panel__lang-selector lang-selector">
          <span class="lang-selector__item lang-selector__item--active">Рус</span>
          <a class="lang-selector__item" href="#">Укр</a>
        </div>

        <ul class="contact-panel__list iconic-list">
          <li class="iconic-list__item">
            <svg class="iconic-list__svg-icon">
              <use href="/assets/img/sprite.svg#usdOutline" />
            </svg>
            <div class="header-note iconic-list__header-note">
              <div class="header-note__pre">Kурс:</div>
              <div class="header-note__body">1$ - 27.00 грн, безн: 27.00/ 27.05 грн</div>
            </div>
          </li>
          <li class="iconic-list__item">
            <svg class="iconic-list__svg-icon">
              <use href="/assets/img/sprite.svg#userCircledAlt" />
            </svg>
            <div class="header-note iconic-list__header-note">
              <div class="header-note__pre">Мой менеджер:</div>
              <div class="header-note__body">
                Дмитрий, тел:
                <a class="header-note__link" href="tel:+380935745555">093 574 55 55,</a>
                e-mail: <a class="header-note__link" href="#">dmitry@dwgroup.ua</a>
              </div>
            </div>
          </li>
        </ul>

        <ul class="contact-panel__list">
          <li class="contact-panel__list-item">
            <a class="contact-panel__link" href="#">О компании</a>
          </li>
          <li class="contact-panel__list-item">
            <a class="contact-panel__link" href="#">Полезная информация</a>
          </li>
          <li class="contact-panel__list-item">
            <a class="contact-panel__link" href="#">Доставка и оплата</a>
          </li>
          <li class="contact-panel__list-item">
            <a class="contact-panel__link" href="#">Контакты</a>
          </li>
        </ul>

        <a href="#" class="contact-panel-list-btn">
          <svg class="contact-panel-list-btn__svg-icon">
            <use href="/assets/img/sprite.svg#undo" />
          </svg>
          <span class="contact-panel-list-btn__text">Старый сайт</span>
        </a>
      </div>
    </div>
    <!-- contact panel -->
  </div>
</div>
<!-- header top -->
