<div class="header__middle">
    <div class="container container--wide header__middle-container">

        <a href="#" class="logo header__logo">
            <picture class="header__img-wrap">
                <img class="logo__img" src="assets/img/public/logo.svg" alt="DW Group">
            </picture>
        </a>

        <div class="holder">

            <button class="header__catalog-btn">
                <i class="icon icon--layout--grid--6"></i>
                <span>Каталог товаров</span>
            </button>

        </div><!-- header holder -->

        <div class="header__controls">

            <div class="header__controls-item header__controls-item--menu">
                <button class="header__controls-btn">
                    <i class="icon icon--burger--outline"></i>
                    <span class="header__controls-btn-text">Меню</span>
                </button>
            </div><!-- header controls item-->

            <div class="header__controls-item">
                <a href="#" class="header__controls-btn header__controls-btn--profile">
                    <i class="icon icon--user--outline"></i>
                    <span class="header__controls-btn-text">Войти</span>
                </a>
            </div><!-- header controls item-->

        </div><!-- header controls -->

    </div>
</div><!-- header middle -->