<div class="header__bottom">
    <div class="container container--wide">

        <div class="labels header__labels">
            <a href="#" class="labels__item labels__item--discount">
                Акции
            </a>
            <a href="#" class="labels__item labels__item--top">
                Топ продаж
            </a>
            <a href="#" class="labels__item labels__item--new">
                Новинки
            </a>
            <a href="#" class="labels__item labels__item--waiting">
                Ожидается
            </a>
        </div><!-- labels -->

        <nav class="account-nav header__account-nav">
            <ul class="account-nav__list">
                <li class="account-nav__item">
                    <a class="account-nav__link account-nav__link--bonus" href="#">
                        <i class="icon icon--trophy--solid"></i>
                        <span>Бонусы</span>
                    </a>
                </li>
                <li class="account-nav__item">
                    <a class="account-nav__link account-nav__link--news" href="#">
                        <i class="icon icon--horn--solid"></i>
                        <span>Новости</span>
                    </a>
                </li>
                <li class="account-nav__item">
                    <a class="account-nav__link account-nav__link--orders" href="#">
                        <i class="icon icon--text--solid"></i>
                        <span>Заказы</span>
                    </a>
                </li>
                <li class="account-nav__item">
                    <a class="account-nav__link account-nav__link--favorite" href="#">
                        <i class="icon icon--favorite--solid"></i>
                        <span>Избранное</span>
                    </a>
                </li>
                <li class="account-nav__item">
                    <a class="account-nav__link account-nav__link--finance" href="#">
                        <i class="icon icon--usd--solid"></i>
                        <span>Финансы</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- account nav -->

    </div>
</div><!-- header bottom -->