<div class="header__top">
  <div class="container container--wide">
    <div class="contact-panel contact-panel--header header__contact-panel">
      <button class="close-btn contact-panel__close-btn">
        <i class="icon icon--cancel"></i>
        <span>Закрыть</span>
      </button>

      <div class="contact-panel__title-bordered title-bordered title-bordered--white">
        <div class="title-bordered__heading">DW Group</div>
      </div>

      <div class="contact-panel__body">
        <div class="contact-panel__lang-selector lang-selector">
          <span class="lang-selector__item lang-selector__item--active">Рус</span>
          <a class="lang-selector__item" href="#">Укр</a>
        </div>

        <ul class="contact-panel__list iconic-list">
          <li class="iconic-list__item">
            <svg class="iconic-list__svg-icon">
              <use href="/assets/img/sprite.svg#phoneCircled" />
            </svg>
            <a class="iconic-list__link" href="tel:+380443842245">044 384 22 45</a>
          </li>
          <li class="iconic-list__item">
            <svg class="iconic-list__svg-icon">
              <use href="/assets/img/sprite.svg#emailCircled" />
            </svg>
            <a class="iconic-list__link" href="mailto:sales@dwgroup.ua"
              >sales@dwgroup.ua</a
            >
          </li>
          <li class="iconic-list__item">
            <svg class="iconic-list__svg-icon">
              <use href="/assets/img/sprite.svg#clockCircled" />
            </svg>
            <span>Пн-Пт: 09 - 18:00</span>
          </li>
        </ul>
        <!-- header contacts -->

        <ul class="contact-panel__list">
          <li class="contact-panel__list-item">
            <a class="contact-panel__link" href="#">О компании</a>
          </li>
          <li class="contact-panel__list-item">
            <a class="contact-panel__link" href="#">Полезная информация</a>
          </li>
          <li class="contact-panel__list-item">
            <a class="contact-panel__link" href="#">Доставка и оплата</a>
          </li>
          <li class="contact-panel__list-item">
            <a class="contact-panel__link" href="#">Контакты</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- contact panel -->
  </div>
</div>
<!-- header top -->
