<header class="header page__header">
  {{> _header-top }} {{> _header-middle }} {{> _header-bottom }}

  <div class="header__main-nav main-nav main-nav--header">
    <div class="container main-nav__container">
      <button class="close-btn main-nav__close-btn">
        <i class="icon icon--cancel"></i>
        <span>Закрыть</span>
      </button>

      <div class="main-nav__title-bordered title-bordered title-bordered--white">
        <div class="title-bordered__heading">Каталог товаров</div>
      </div>

      <div class="labels main-nav__labels">
        <a href="#" class="labels__item labels__item--discount"> Акции </a>
        <a href="#" class="labels__item labels__item--top"> Топ продаж </a>
        <a href="#" class="labels__item labels__item--new"> Новинки </a>
        <a href="#" class="labels__item labels__item--waiting"> Ожидается </a>
        <a href="#" class="labels__item labels__item--writeOff"> Уценка </a>
      </div>

      <div class="main-nav__category nav-category">
        <button
          class="btn btn--size--sm btn--plain nav-category__btn btn--style--default nav-category__btn--active"
        >
          Категории
        </button>
        <button class="btn btn--size--sm btn--plain nav-category__btn btn--style--wired">
          Производители
        </button>
        <button class="btn btn--size--sm btn--plain nav-category__btn btn--style--wired">
          Еще что-то...
        </button>
        <!-- <div class="main-nav__filter-select">
                   <select class="select2 select2&#45;&#45;theme&#45;&#45;outerSpace main-nav__select2" name="nav-producer">
                        <option value="" selected>Все производители</option>
                        <option value="1">1С Original</option>
                        <option value="1">3М</option>
                        <option value="1">Hanp</option>
                        <option value="1">Foshan Yat Sing</option>
                        <option value="1">IPM</option>
                        <option value="1">Katun</option>
                    </select>
                    <select class="light-select main-nav__light-select" name="nav-producer">
                        <option value="" selected>Все производители</option>
                        <option value="1">1С Original</option>
                        <option value="1">3М</option>
                        <option value="1">Hanp</option>
                        <option value="1">Foshan Yat Sing</option>
                        <option value="1">IPM</option>
                        <option value="1">Katun</option>
                        <option value="1">Foshan Yat Sing</option>
                        <option value="1">IPM</option>
                        <option value="1">Katun</option>
                    </select>
                </div>
                <div class="main-nav__filter-desc">
                    Выберите производителя, товары которого Вас интересуют
                    и перейдите в необходимую категорию товаров.
                </div> -->
      </div>
      <!-- main nav filter-->

      <nav class="main-nav__body">
        <ul class="main-nav__list">
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Бумага</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Валы заряда</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Валы магнитные/ проявляющие</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Валы подачи/ переноса/ очистки</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Валы резиновые</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Валы тефлоновые</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Валы фетровые</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Втулки/Бушинги</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Девелопер</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Детали аппаратов</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Детали картриджей</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Картридж</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Картридж первопроходный</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Лампы</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Лезвия очистки/дозирования</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Лезвия уплотнительные</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Нагревательные элементы</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Печка/Узел закрепления</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Принтеры</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Пылесосы для тонера</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Разное</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Респиратор</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Пылесосы для тонера</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Ролики захвата/подачи</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Сепараторы</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Смазка</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Термистор</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Термопленка</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Тормозная площадка</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Упаковочные материалы</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Фасовка</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Фотобарабаны</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Чипы</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Чистящие средства</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Шестерни</a>
          </li>
          <li class="main-nav__item">
            <a class="main-nav__link" href="#">Шлейфы</a>
          </li>
        </ul>
      </nav>
      <!-- catalog nav body-->
    </div>
  </div>
  <!-- main nav -->
</header>
