.account-nav {
  &__list {
    @extend %listreset;
    display: flex;
    overflow: auto hidden;
    padding-right: 1.5rem;

    @include descending-z-index();
  }

  & &__item.active,
  & &__item:hover {
    z-index: 40;
  }

  &__link {
    @extend %linkreset;
    display: flex;
    align-items: center;
    padding: 1.6rem 0.4rem 1.4rem 1.8rem;
    border-radius: 13px 0 0 0;
    background-color: #1e2625;
    border-left: 2px solid $outerSpaceDarken;
    border-top: 2px solid $outerSpaceDarken;
    color: #fff;
    font-size: 1.2rem;
    line-height: 1;
    margin-right: 2.5rem;
    position: relative;
    white-space: nowrap;
    @include animate(color border-color background-color);

    @include media(">=lg") {
      font-size: 1.4rem;
      padding-left: 2.3rem;
      margin-right: 2.75rem;
    }

    &::after {
      content: "";
      width: 4rem;
      height: calc(100% + 4px);
      position: absolute;
      top: -2px;
      left: 100%;
      background: url("data:image/svg+xml;base64,\
      PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiB\
      BZG9iZSBJbGx1c3RyYXRvciAyNC4zLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW\
      9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfM\
      SIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDov\
      L3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA\
      zOSA0OCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzkgNDg7IiB4bWw6c3BhY2\
      U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtjbGlwLXBhdGg6d\
      XJsKCNTVkdJRF8yXyk7ZmlsbDojMUUyNjI1O3N0cm9rZTojMzAzRDNCO3N0cm9rZS13aWR0aDoy\
      O3N0cm9rZS1taXRlcmxpbWl0OjEwO30NCjwvc3R5bGU+DQo8Zz4NCgk8ZGVmcz4NCgkJPHJlY3Q\
      gaWQ9IlNWR0lEXzFfIiB3aWR0aD0iNDEuMyIgaGVpZ2h0PSI0OCIvPg0KCTwvZGVmcz4NCgk8Y2\
      xpcFBhdGggaWQ9IlNWR0lEXzJfIj4NCgkJPHVzZSB4bGluazpocmVmPSIjU1ZHSURfMV8iICBzd\
      HlsZT0ib3ZlcmZsb3c6dmlzaWJsZTsiLz4NCgk8L2NsaXBQYXRoPg0KCTxwYXRoIGNsYXNzPSJz\
      dDAiIGQ9Ik0wLDFjMy41LDAsNi44LDEsOS44LDIuOGMyLjksMS45LDUuMyw0LjUsNi43LDcuNmw\
      xMy40LDI4LjFjMS43LDMuNSw0LjMsNi40LDcuNSw4LjRjMi45LDEuOCw2LjMsMi45LDkuOCwzLj\
      ENCgkJSDAiLz4NCjwvZz4NCjwvc3ZnPg0K")
        left top / cover;
      @include animate(background);

      @include media(">=lg") {
        width: 4.3rem;
      }
    }

    .icon {
      font-size: 1.8rem;
      margin-right: 1rem;
      @include animate(color);
    }

    .svg-icon {
      width: 1.8rem;
      height: 1.8rem;
      margin-right: 1rem;
      @include animate(fill);
    }

    &.active,
    &:hover {
      color: $white;

      .svg-icon {
        fill: $white;
      }
    }

    &--bonus {
      .svg-icon {
        fill: $lavender;
      }

      &.active,
      &:hover {
        background-color: $lavender;
        border-color: $lavender;

        &::after {
          background: url("data:image/svg+xml;base64,\
          PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiB\
          BZG9iZSBJbGx1c3RyYXRvciAyNC4zLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW\
          9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfM\
          SIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDov\
          L3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA\
          zOSA0OCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzkgNDg7IiB4bWw6c3BhY2\
          U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtjbGlwLXBhdGg6d\
          XJsKCNTVkdJRF8yXyk7ZmlsbDojRDc4QkU5O3N0cm9rZTojRDc4QkU5O3N0cm9rZS13aWR0aDoy\
          O3N0cm9rZS1taXRlcmxpbWl0OjEwO30NCjwvc3R5bGU+DQo8Zz4NCgk8Zz4NCgkJPGc+DQoJCQk\
          8ZGVmcz4NCgkJCQk8cmVjdCBpZD0iU1ZHSURfMV8iIHdpZHRoPSI0MS4zIiBoZWlnaHQ9IjQ4Ii\
          8+DQoJCQk8L2RlZnM+DQoJCQk8Y2xpcFBhdGggaWQ9IlNWR0lEXzJfIj4NCgkJCQk8dXNlIHhsa\
          W5rOmhyZWY9IiNTVkdJRF8xXyIgIHN0eWxlPSJvdmVyZmxvdzp2aXNpYmxlOyIvPg0KCQkJPC9j\
          bGlwUGF0aD4NCgkJCTxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0wLDFjMy41LDAsNi44LDEsOS44LDI\
          uOGMyLjksMS45LDUuMyw0LjUsNi43LDcuNmwxMy40LDI4LjFjMS43LDMuNSw0LjMsNi40LDcuNS\
          w4LjQNCgkJCQljMi45LDEuOCw2LjMsMi45LDkuOCwzLjFIMCIvPg0KCQk8L2c+DQoJPC9nPg0KP\
          C9nPg0KPC9zdmc+DQo=")
            left top / cover;
        }
      }
    }

    &--news {
      .svg-icon {
        fill: $curiousBlue;
      }

      &.active,
      &:hover {
        background-color: $curiousBlue;
        border-color: $curiousBlue;

        &::after {
          background: url("data:image/svg+xml;base64,\
          PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiB\
          BZG9iZSBJbGx1c3RyYXRvciAyNC4zLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW\
          9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfM\
          SIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDov\
          L3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA\
          zOSA0OCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzkgNDg7IiB4bWw6c3BhY2\
          U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtjbGlwLXBhdGg6d\
          XJsKCNTVkdJRF8yXyk7ZmlsbDojMzc5NEQyO3N0cm9rZTojMzc5NEQyO3N0cm9rZS13aWR0aDoy\
          O3N0cm9rZS1taXRlcmxpbWl0OjEwO30NCjwvc3R5bGU+DQo8Zz4NCgk8Zz4NCgkJPGc+DQoJCQk\
          8ZGVmcz4NCgkJCQk8cmVjdCBpZD0iU1ZHSURfMV8iIHdpZHRoPSI0MS4zIiBoZWlnaHQ9IjQ4Ii\
          8+DQoJCQk8L2RlZnM+DQoJCQk8Y2xpcFBhdGggaWQ9IlNWR0lEXzJfIj4NCgkJCQk8dXNlIHhsa\
          W5rOmhyZWY9IiNTVkdJRF8xXyIgIHN0eWxlPSJvdmVyZmxvdzp2aXNpYmxlOyIvPg0KCQkJPC9j\
          bGlwUGF0aD4NCgkJCTxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0wLDFjMy41LDAsNi44LDEsOS44LDI\
          uOGMyLjksMS45LDUuMyw0LjUsNi43LDcuNmwxMy40LDI4LjFjMS43LDMuNSw0LjMsNi40LDcuNS\
          w4LjQNCgkJCQljMi45LDEuOCw2LjMsMi45LDkuOCwzLjFIMCIvPg0KCQk8L2c+DQoJPC9nPg0KP\
          C9nPg0KPC9zdmc+DQo=")
            left top / cover;
        }
      }
    }

    &--orders {
      .svg-icon {
        fill: $conifer;
      }

      &.active,
      &:hover {
        background-color: $conifer;
        border-color: $conifer;

        &::after {
          background: url("data:image/svg+xml;base64,\
          PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiB\
          BZG9iZSBJbGx1c3RyYXRvciAyNC4zLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW\
          9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfM\
          SIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDov\
          L3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA\
          zOSA0OCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzkgNDg7IiB4bWw6c3BhY2\
          U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtjbGlwLXBhdGg6d\
          XJsKCNTVkdJRF8yXyk7ZmlsbDojOTJEQzVBO3N0cm9rZTojOTJEQzVBO3N0cm9rZS13aWR0aDoy\
          O3N0cm9rZS1taXRlcmxpbWl0OjEwO30NCjwvc3R5bGU+DQo8Zz4NCgk8Zz4NCgkJPGc+DQoJCQk\
          8ZGVmcz4NCgkJCQk8cmVjdCBpZD0iU1ZHSURfMV8iIHdpZHRoPSI0MS4zIiBoZWlnaHQ9IjQ4Ii\
          8+DQoJCQk8L2RlZnM+DQoJCQk8Y2xpcFBhdGggaWQ9IlNWR0lEXzJfIj4NCgkJCQk8dXNlIHhsa\
          W5rOmhyZWY9IiNTVkdJRF8xXyIgIHN0eWxlPSJvdmVyZmxvdzp2aXNpYmxlOyIvPg0KCQkJPC9j\
          bGlwUGF0aD4NCgkJCTxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0wLDFjMy41LDAsNi44LDEsOS44LDI\
          uOGMyLjksMS45LDUuMyw0LjUsNi43LDcuNmwxMy40LDI4LjFjMS43LDMuNSw0LjMsNi40LDcuNS\
          w4LjQNCgkJCQljMi45LDEuOCw2LjMsMi45LDkuOCwzLjFIMCIvPg0KCQk8L2c+DQoJPC9nPg0KP\
          C9nPg0KPC9zdmc+DQo=")
            left top / cover;
        }
      }
    }

    &--favorite {
      .svg-icon {
        fill: $mySin;
      }

      &.active,
      &:hover {
        background-color: $mySin;
        border-color: $mySin;

        &::after {
          background: url("data:image/svg+xml;base64,\
          PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiB\
          BZG9iZSBJbGx1c3RyYXRvciAyNC4zLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW\
          9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfM\
          SIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDov\
          L3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA\
          zOSA0OCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzkgNDg7IiB4bWw6c3BhY2\
          U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtjbGlwLXBhdGg6d\
          XJsKCNTVkdJRF8yXyk7ZmlsbDojRkZCNDFFO3N0cm9rZTojRkZCNDFFO3N0cm9rZS13aWR0aDoy\
          O3N0cm9rZS1taXRlcmxpbWl0OjEwO30NCjwvc3R5bGU+DQo8Zz4NCgk8Zz4NCgkJPGRlZnM+DQo\
          JCQk8cmVjdCBpZD0iU1ZHSURfMV8iIHdpZHRoPSI0MS4zIiBoZWlnaHQ9IjQ4Ii8+DQoJCTwvZG\
          Vmcz4NCgkJPGNsaXBQYXRoIGlkPSJTVkdJRF8yXyI+DQoJCQk8dXNlIHhsaW5rOmhyZWY9IiNTV\
          kdJRF8xXyIgIHN0eWxlPSJvdmVyZmxvdzp2aXNpYmxlOyIvPg0KCQk8L2NsaXBQYXRoPg0KCQk8\
          cGF0aCBjbGFzcz0ic3QwIiBkPSJNMCwxYzMuNSwwLDYuOCwxLDkuOCwyLjhjMi45LDEuOSw1LjM\
          sNC41LDYuNyw3LjZsMTMuNCwyOC4xYzEuNywzLjUsNC4zLDYuNCw3LjUsOC40DQoJCQljMi45LD\
          EuOCw2LjMsMi45LDkuOCwzLjFIMCIvPg0KCTwvZz4NCjwvZz4NCjwvc3ZnPg0K")
            left top / cover;
        }
      }
    }

    &--finance {
      .svg-icon {
        fill: $mandy;
      }

      &.active,
      &:hover {
        background-color: $mandy;
        border-color: $mandy;

        &::after {
          background: url("data:image/svg+xml;base64,\
          PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiB\
          BZG9iZSBJbGx1c3RyYXRvciAyNC4zLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW\
          9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfM\
          SIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDov\
          L3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA\
          zOSA0OCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzkgNDg7IiB4bWw6c3BhY2\
          U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtjbGlwLXBhdGg6d\
          XJsKCNTVkdJRF8yXyk7ZmlsbDojRTY1RDgyO3N0cm9rZTojRTY1RDgyO3N0cm9rZS13aWR0aDoy\
          O3N0cm9rZS1taXRlcmxpbWl0OjEwO30NCjwvc3R5bGU+DQo8Zz4NCgk8Zz4NCgkJPGc+DQoJCQk\
          8ZGVmcz4NCgkJCQk8cmVjdCBpZD0iU1ZHSURfMV8iIHdpZHRoPSI0MS4zIiBoZWlnaHQ9IjQ4Ii\
          8+DQoJCQk8L2RlZnM+DQoJCQk8Y2xpcFBhdGggaWQ9IlNWR0lEXzJfIj4NCgkJCQk8dXNlIHhsa\
          W5rOmhyZWY9IiNTVkdJRF8xXyIgIHN0eWxlPSJvdmVyZmxvdzp2aXNpYmxlOyIvPg0KCQkJPC9j\
          bGlwUGF0aD4NCgkJCTxwYXRoIGNsYXNzPSJzdDAiIGQ9Ik0wLDFjMy41LDAsNi44LDEsOS44LDI\
          uOGMyLjksMS45LDUuMyw0LjUsNi43LDcuNmwxMy40LDI4LjFjMS43LDMuNSw0LjMsNi40LDcuNS\
          w4LjQNCgkJCQljMi45LDEuOCw2LjMsMi45LDkuOCwzLjFIMCIvPg0KCQk8L2c+DQoJPC9nPg0KP\
          C9nPg0KPC9zdmc+DQo=")
            left top / cover;
        }
      }
    }
  }
}
