.accordion{

    $this: &;

    &__title{
        position: relative;
        padding: 1.1rem 3rem 1.1rem 0;
        border-bottom: 2px solid $mercury;
        cursor: pointer;
        @include animate(border);

        @include media(">=md"){
            padding: 1.3rem 4rem 1.3rem 0;
        }

        &:hover{
            border-bottom: 2px solid $mySin;
        }
    }

    &__title-text{
        font: 1.4rem/ 1.4 $headings-font-family;

        @include media(">=md"){
            font: 1.6rem/ 1.4 $headings-font-family;
        }
    }

    &__title-toggler{
        position: absolute;
        right: 1.25rem;
        top: 50%;
        transform: translateY(-50%);
        width: 1rem;
        height: 1rem;
        font-size: 0;

        @include media(">=md"){
            right: 2rem;
        }

        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 1rem;
            height: .2rem;
            border-radius: .1rem;
            background-color: #506661;
        }

        &::after{
            transform: translate(-50%, -50%) rotate(90deg);
            @include animate(transform);
        }
    }

    &__body{
        padding-top: 1.5rem;
        display: none;
    }

    &__item--active{

        #{$this}__title{
            border-bottom: 2px solid $mySin;    
        }

        #{$this}__body{
            display: block;
        }

        #{$this}__title-toggler::after{
            transform: translate(-50%, -50%) rotate(0);
        }
    }

    &--faq{

        #{$this}__title{
            padding: 1.1rem 3rem 1.1rem 2rem;
            border: 1px solid rgba($mercury, .75);
            border-left: none;
            border-radius: 3px;
            margin-bottom: 1rem;
            @include animate(border background-color);

            &::before{
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 3px;
                height: 100%;
                background-color: $mySin;
                border-radius: 3px 0 0 3px;
            }

            @include media(">=md"){
                border-radius: 6px;
                padding: 1.3rem 4rem 1.3rem 2rem;

                &::before{
                    border-radius: 6px 0 0 6px;
                }
            }

            &:hover{
                border: 1px solid rgba($mercury, .75);
                border-left: none;
            }
        }

        #{$this}__item--active {

            #{$this}__title {
                background-color: $mySin;
                border-color: transparent;

                &::before{
                    display: none;
                }
            }
        }

        .accordion__body {
            padding-top: 0;
            padding-bottom: 2rem;
        }
    }
}