.btn{
  @extend %linkreset;
  @extend %buttonreset;
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: 700;
  font-family: $headings-font-family;
  text-transform: uppercase;
  color: $outerSpace;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: .923em 1.7em;
  border-radius: 1.769em;
  text-align: center;
  min-width: 10em;
  min-height: 3.384em;

  $this: &;

  @include media('>=md'){
    padding: 1.023em 2em;
    border-radius: 1.923em;
    min-width: 11em;
    min-height: 3.784em;

    &--plain{
      border-radius: 3px;
      padding: .923em 1.7em;
    }
  }

  &--plain{
    border-radius: 3px;
  }

  &__icon{
    font-size: 1.4em;
    line-height: 1;
    margin-right: .3em;
  }

  &__text{
    margin: 0 .6em;
  }

  &--style{

    &--default{
      background-color: $mySin;
      @include animate(box-shadow);

      &:hover{
        box-shadow: 0 0 0 6px rgba($mySin,.3);
      }
    }

    &--wired-default{
      box-shadow: inset 0 0 0 2px $mySin;
      @include animate(background-color);

      &:hover{
        background-color: $mySin;
      }
    }

    &--grey{
      background-color: $mercury;
      @include animate(background-color);

      &:hover{
        background-color: $tiara;
      }
    }

    &--darkgreen{
      background-color: $forestGreen;
      color: $white;
      @include animate(box-shadow);

      &:hover{
        box-shadow: 0 0 0 6px rgba($forestGreen, .3);
      }
    }

    &--wired{
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $mercury;
      color: $mercury;
      @include animate(box-shadow color);

      &:hover{
        box-shadow: inset 0 0 0 2px $tiara;
        color: $tiara;
      }
    }

    &--wired-grey{
      background-color: $white;
      box-shadow: inset 0 0 0 2px $mercury;
      @include animate(box-shadow);

      &:hover{
        box-shadow: inset 0 0 0 2px $tiara;
      }
    }

    &--wired-green{
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $forestGreen;
      color: $forestGreen;
      @include animate(background-color color);

      &:hover{
        background-color: $forestGreen;
        color: $white;
      }
    }

    &--wired-darkorange{
      background-color: transparent;
      box-shadow: inset 0 0 0 2px darkorange;
      color: darkorange;
      @include animate(background-color color);

      &:hover{
        background-color: darkorange;
        color: $white;
      }
    }

    &--wired-lightblue{
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $havelockBlue;
      color: $havelockBlue;
      @include animate(background-color color);

      &:hover{
        background-color: $havelockBlue;
        color: $white;
      }
    }

    &--wired-graygreen{
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $nevada;
      color: $nevada;
      @include animate(background-color color);

      &:hover{
        background-color: $nevada;
        color: $white;
      }
    }

    &--wired-lightgreen{
      background-color: transparent;
      box-shadow: inset 0 0 0 2px $puertoRico;
      color: $puertoRico;
      @include animate(background-color color);

      &:hover{
        background-color: $puertoRico;
        color: $white;
      }
    }

    &--green{
      background-color: #7CBF49;
      color: $white;
      @include animate(box-shadow);

      &:hover{
        box-shadow: 0 0 0 6px rgba(#7CBF49, .3);
      }
    }

    &--orange{
      background-color: $mySin;
      color: $white;
      @include animate(box-shadow);

      &:hover{
        box-shadow: 0 0 0 6px rgba($mySin, .3);
      }
    }

    &--lightblue{
      background-color: #61ACDE;
      color: $white;
      @include animate(box-shadow);

      &:hover{
        box-shadow: 0 0 0 6px rgba(#61ACDE, .3);
      }
    }

    &--lightgreen{
      background-color: #49BFA3;
      color: $white;
      @include animate(box-shadow);

      &:hover{
        box-shadow: 0 0 0 6px rgba(#49BFA3, .3);
      }
    }

    &--darkgrey{
      background-color: #5C747E;
      color: $white;
      @include animate(box-shadow);

      &:hover{
        box-shadow: 0 0 0 6px rgba(#5C747E, .3);
      }
    }

    &--gradient-orange{
      background: rgb(242,149,29);
      background: linear-gradient(90deg, rgba(242,149,29,1) 0%, rgba(242,107,29,1) 100%);
      color: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,.15);
      @include animate(box-shadow);

      &:hover{
        box-shadow: 0 0 0 6px rgba(#F27F1D, .3);
      }
    }

    &--gradient-violet{
      background: rgb(112,26,180);
      background: linear-gradient(90deg, rgba(112,26,180,1) 0%, rgba(33,208,166,1) 100%);
      color: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,.15);
      @include animate(box-shadow);

      &:hover{
        box-shadow: 0 0 0 6px rgba(#467BAD, .3);
      }
    }

    &--gradient-green{
      background: rgb(124,191,73);
      background: linear-gradient(90deg, rgba(124,191,73,1) 0%, rgba(51,163,33,1) 100%);
      color: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,.15);
      @include animate(box-shadow);

      &:hover{
        box-shadow: 0 0 0 6px rgba(#58b135, .3);
      }
    }

    &--gradient-darkgreen{
      background: rgb(41,145,33);
      background: linear-gradient(90deg, rgba(6,117,86,1) 0%, rgba(41,145,33,1) 100%);
      color: #fff;
      box-shadow: 0 0 10px rgba(0,0,0,.15);
      @include animate(box-shadow);

      &:hover{
        box-shadow: 0 0 0 6px rgba(#18833c, .3);
      }
    }
  }

  &--size{
    
    &--lg{
      padding: 1.09em 2em;
      min-height: 3.996em;
      border-radius: 3px;

      &:not(#{$this}--plain){
        border-radius: 2.089em;
      }

      @include media('>=md'){
        padding: 1.2em 2.36em;
        min-height: 4.468em;

        &:not(#{$this}--plain){
          border-radius: 2.271em;
        }
      }
    }

    &--sm{
      font-size: 1rem;
      padding: .7em 1.5em;
      border-radius: 3px;
      min-height: 2.7em;
      min-width: 0;

      &:not(#{$this}--plain){
        border-radius: 1.35em;
      }

      @include media('>=md'){
        min-width: 0;
        font-size: 1.2rem;
        padding: .7em 1.5em;
        min-height: 2.7em;

        &:not(#{$this}--plain){
          border-radius: 1.35em;
        }
      }
    }
  }

  &--disabled,
  &--disabled:hover{
    cursor: default;
    background-color: #F2F5F4;
    box-shadow: none;
    color: #ABB7C8;
  }
}