.btn{
  @extend %linkreset;
  @extend %buttonreset;
  font-size: 1.3rem;
  line-height: 1.3;
  font-weight: 700;
  font-family: $headings-font-family;
  text-transform: uppercase;
  color: $outerSpace;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  padding: .923em 1.7em;
  border-radius: 1.769em;
  text-align: center;
  min-width: 10em;
  min-height: 3.384em;

  @include media('>=md'){
    padding: 1.023em 2em;
    border-radius: 1.923em;
    min-width: 11em;
    min-height: 3.784em;

    &--plain{
      border-radius: 3px;
      padding: .923em 1.7em;
    }
  }

  &--plain{
    border-radius: 3px;
  }

  .icon{
    font-size: 1.538em;
    line-height: 1;

    @include media('>=md'){
        font-size: 1.738em;
    }
  }

  &__text{
    margin: 0 .6em;
  }

  &--style--default{
    background-color: $mySin;
    @include animate(box-shadow);

    &:hover{
      box-shadow: 0 0 0 6px rgba($mySin,.3);
    }
  }

  &--style--wired-default{
    box-shadow: inset 0 0 0 2px $mySin;
    @include animate(background-color);

    &:hover{
      background-color: $mySin;
    }
  }

  &--style--grey{
    background-color: $mercury;

    &:hover{
      background-color: $tiara;
    }
  }

  &--style--wired-grey{
    background-color: $white;
    box-shadow: inset 0 0 0 2px $mercury;
    @include animate(box-shadow);

    &:hover{
      box-shadow: inset 0 0 0 2px $tiara;
    }
  }

  &--style--green{
    background-color: #7CBF49;
    color: $white;
    @include animate(box-shadow);

    &:hover{
      box-shadow: 0 0 0 6px rgba(#7CBF49, .3);
    }
  }

  &--style--orange{
    background-color: $mySin;
    color: $white;
    @include animate(box-shadow);

    &:hover{
      box-shadow: 0 0 0 6px rgba($mySin, .3);
    }
  }

  &--style--lightblue{
    background-color: #61ACDE;
    color: $white;
    @include animate(box-shadow);

    &:hover{
      box-shadow: 0 0 0 6px rgba(#61ACDE, .3);
    }
  }

  &--style--lightgreen{
    background-color: #49BFA3;
    color: $white;
    @include animate(box-shadow);

    &:hover{
      box-shadow: 0 0 0 6px rgba(#49BFA3, .3);
    }
  }

  &--style--darkgrey{
    background-color: #5C747E;
    color: $white;
    @include animate(box-shadow);

    &:hover{
      box-shadow: 0 0 0 6px rgba(#5C747E, .3);
    }
  }
}