.close-btn{
  @extend %buttonreset;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 50%;
  font-size: 0;
  text-align: center;
  line-height: 4.4rem;
  border: 1px solid rgba($mySin, .5);
  cursor: pointer;
  text-decoration: none;
  @include animate(border);
  color: inherit;

  &:hover{
    border: 1px solid rgba($mySin, 1);
  }

  .icon{
    font-size: 1.8rem;
  }
}