.close-btn{
  @extend %buttonreset;
  border-radius: 50%;
  font-size: 0;
  border: 1px solid rgba($mySin, .5);
  cursor: pointer;
  text-decoration: none;
  @include animate(border);
  color: inherit;

  &:hover{
    border: 1px solid rgba($mySin, 1);
  }

  .icon{
    display: block;
    width: 4.4rem;
    height: 4.4rem;
    font-size: 1.8rem;
    line-height: 4.4rem;
  }
}