.control-pad{

    $this: &;

    &__btn{
        width: 100%;
        margin: 0 0 1rem;

        @include media(">=md"){
            width: auto;
            margin: 0 1rem;
        }
    }

    @include media(">=md"){
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--cart,
    &--modal,
    &--return{
        max-width: 40rem;
        margin: 0 auto;

        @include media(">=md"){
            max-width: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &--cart,
    &--modal{
        @include media(">=md"){
            #{$this}__btn{

                &:first-child{
                    margin-left: 0;
                }

                &:last-child{
                    margin-right: 0;
                }

                &:only-child{
                    margin: 0 auto;
                }
            }
        }
    }

    &--return{
        @include media(">=md"){
            justify-content: flex-start;
            flex-direction: row-reverse;

        #{$this}__btn{
                margin: 0 0 0 1rem;
            }
        }
    }

    &--modal{
        max-width: none;
    }
}