.contact-panel{
  color: #fff;

  $this: &;

  &__body{
    display: flex;
    justify-content: space-between;
  }

  &__list{
    @extend %listreset;
  }

  &__list-item{
    line-height: 1.285;
    margin-bottom: 1.2rem;

    &:last-child{
      margin: 0;
    }
  }

  &--header{
    position: relative;
    padding: 5rem 0 3rem;

    #{$this}__title-bordered{
      margin-bottom: 2rem;
    }

    #{$this}__close-btn{
      position: absolute;
      right: 0;
      top: 2rem;
    }

    #{$this}__body{
      display: block;

      @include media('>=md'){
        display: flex;
        align-items: flex-start;
      }

      @include media('>=xl'){
        align-items: center;
        justify-content: flex-end;

        .iconic-list{
          margin-right: auto;
        }
      }
    }

    #{$this}__lang-selector{
      margin: 0 0 1.5rem 3rem;

      @include media('>=md'){
        order: 1;
        margin: 0 0 0 2rem;
      }
    }

    #{$this}__list{
      width: 100%;
      margin: 0 0 2rem;

      .iconic-list__icon{
        color: $regentGray;
      }

      @include media('>=md'){
        margin: 0;
      }

      &:not(.iconic-list){
        padding-left: 3rem;

        @include media('>=xl'){
          padding: 0;
        }
      }

      &:last-child{
        margin: 0;
      }
    }

    @include media('>=xl'){
      padding: 1rem 0;

      #{$this}__title-bordered,
      #{$this}__close-btn{
        display: none;
      }

      #{$this}__list{
        width: auto;
        display: flex;
        align-items: center;

        &:not(.iconic-list){
          flex-shrink: 0;
        }
      }

      #{$this}__list-item{
        margin: 0 0 0 2rem;
      }

      #{$this}__link{
        font-size: 1.25rem;
      }

      #{$this}__list .iconic-list__item{
        margin: 0 2.5rem 0 0;
      }
    }

    @include media('>=xxl'){

      #{$this}__link{
        font-size: 1.3rem;
      }

      #{$this}__list-item{
        margin: 0 0 0 2.5rem;
      }
    }

    @include media('>=xxxl'){

      #{$this}__link{
        font-size: 1.4rem;
      }
    }
  }

  &--footer {

    @include media('>=md') {

      #{$this}__body {
        flex-direction: column;
      }

      #{$this}__list{
        width: auto;
        margin-bottom: 2.8rem;
      }
    }
  }

  &__link{
    color: $white;
    @include animate(color text-decoration, .15s);

    &:hover,
    &:focus{
      color: $mySin;
      text-decoration-color: $mySin;
    }
  }
}

.contact-panel-list-btn{
  display: inline-flex;
  align-items: center;
  border-radius: 3px;
  font-size: 1.1rem !important;
  line-height: 1;
  text-transform: uppercase;
  padding: .8rem 1.3rem .8rem 1rem;
  @include animate(background-color);
  font-weight: 600;
  background-color: $mySin;
  color: $mineShaft;
  margin: 0 0 0 3rem;
  flex-shrink: 0;

  $this: &;

  @include media('>=md'){
    order: 2;
    margin: 0 0 0 2rem;
  }

  &:hover{
    text-decoration-color: transparent;
    color: $mineShaft;
    background-color: darken($mySin,10%);
  }

  &__icon{
    font-size: 1rem;
    line-height: 1;
    margin: 0 .75rem 0 0;
  }
}