.content-holder{
  border-radius: 6px;
  background: #fff;
  position: relative;
  z-index: 10;
  box-shadow: 0 3px 12px rgba($mineShaft, .14);

  &__header{
    border-bottom: 1px solid $mercury;
    padding: 1rem 1.5rem;
    display: flex;
    align-items: center;

    $this: &;

    @include media('>=sm'){
      padding-left: 2.5rem;
      padding-right: 2.5rem;

      &--settings{
        padding: 0;
      }
    }

    @include media('>=lg'){
      padding: 1.5rem 4rem;
    }

    &-title{
      font-size: 2.2rem;
      line-height: 1.363;
      font-weight: 500;
      margin: 0;
    }

    &--settings{
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0;

      @include media('>=lg'){
        flex-wrap: nowrap;
        padding: 0;
      }

      #{$this}-btn{
        @extend %buttonreset;
        display: none;
        font-size: 0;
        background-color: $mySin;
        color: $white;
        width: 5rem;
        height: 5rem;
        border-radius: 6px 0 0 0;
        line-height: 1;
        flex-shrink: 0;

        @include media('>=lg'){
          width: 6rem;
          height: 6rem;
        }

        @include media('<xl'){
          display: block;
        }

        .icon{
          font-size: 2.3rem;
        }
      }

      #{$this}-title{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1;
        min-width: 0;
        padding: 1rem 1.5rem;

        @include media('>=sm'){
          padding-left: 2.5rem;
          padding-right: 2.5rem;
        }

        @include media('>=lg'){
          padding-top: 1.5rem;
          padding-bottom: 1.5rem;
        }
      }

      #{$this}-settings-bar{
        border-top: 1px solid $mercury;
        width: 100%;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        padding: 1rem 1.5rem;

        @include media('>=sm'){
          padding-left: 2.5rem;
          padding-right: 2.5rem;
        }

        @include media('>=lg'){
          width: auto;
          padding: 0;
          border: none;
          flex: 0 0 auto;
        }
      }

      #{$this}-select-alt{
        padding-right: 1.5rem;
        border-right: 1px dotted $tiara;
        margin-right: 1.5rem;

        @include media('>=sm'){
          padding-right: 2rem;
          margin-right: 2.5rem;
        }

        @include media('>=md'){
          .select-alt__textbox{
            padding-top: .75rem;
            padding-bottom: .75rem;
          }
        }

        @include media('>=xxxl'){

          &{
            display: flex;
            align-items: center;

            .select-alt__textbox{
              font-size: 1.3rem;

              &-pre{
                margin-right: 1rem;
                cursor: default;
              }

              &-value{
                display: none;
              }
            }

            .select-alt__option-list,
            .select-alt__option-list.active{
              position: static;
              background: none;
              box-shadow: none;
              border-radius: 0;
              display: flex;
              align-items: center;
              min-width: 0;
            }

            .select-alt__option-item{
              padding: .3rem 1rem;
              border: none;
              font-size: 1.3rem;
              border-radius: 3px;
              font-weight: 700;

              &:not(:last-child){
                margin-right: 1rem;
              }

              &.selected{
                background-color: $mySin;
              }
            }
          }
        }
      }

      #{$this}-layout-switch{
        margin-left: auto;

        @include media(">=lg"){
          margin-right: 1rem;
        }
      }

      #{$this}-calendar{
        width: 100%;

        @include media(">=lg"){
          display: flex;
          align-items: center;
        }
      }

      #{$this}-calendar-pre{
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: .75rem;

        @include media(">=lg"){
          margin-right: 2rem;
          margin-bottom: 0;
        }
      }

      #{$this}-calendar-body{
        display: flex;
        align-items: center;
      }

      #{$this}-calendar-item{
        width: calc(50% - 2rem);
        position: relative;

        @include media(">=lg"){
          width: auto;
        }

        &::before{
          content: "\e837";
          font: 1.6rem/1 "Fontello";
          color: #C8CFD8;
          position: absolute;
          left: 1.5rem;
          top: 50%;
          transform: translateY(-50%);

          @include media(">=lg"){
            left: 2.8rem;
          }
        }

        &:first-child{
          #{$this}-calendar-input{
            border-radius: 3px 0 0 3px;

            @include media(">=lg"){
              border-radius: 0;
            }
          }
        }
      }

      #{$this}-calendar-input{
        width: 100%;
        height: 4rem;
        border-color: #E9E9E9;
        border-radius: 0;
        border-right: 0;
        font-size: 1.4rem;
        line-height: 1;
        padding: 1.3rem 1.3rem 1.3rem 4rem;
        @include animate(border background-color);
        cursor: pointer;

        @include media(">=lg"){
          width: 18rem;
          height: 6rem;
          border-radius: 0;
          border-top: none;
          border-bottom: none;
          padding: 1.3rem 1.3rem 1.3rem 5.6rem;
        }

        &:focus{
          border-color: #E9E9E9;
          background-color: #F1F1F1;
        }
      }

      #{$this}-calendar-btn{
        @extend %buttonreset;
        width: 4rem;
        height: 4rem;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font: 500 13px $headings-font-family;
        background-color: $mySin;
        border-radius: 0 3px 3px 0;
        @include animate(background-color);

        @include media(">=lg"){
          width: 6rem;
          height: 6rem;
          border-radius: 0 6px 0 0;
        }

        &:hover{
          background-color: darken($mySin, 9%);
        }
      }

    }
  }

  &__body{
    padding: 1rem 1.5rem;

    @include media('>=sm'){
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }

    @include media('>=lg'){
      padding: 1.5rem 4rem 3rem;
    }
  }

  &__footer{
    background-color: #FAFAFA;
    padding: 2.5rem 1.5rem 3rem;
    border-radius: 0 0 6px 6px;

    @include media('>=sm'){
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }

    @include media('>=lg'){
      padding: 2.5rem 4rem 4rem;
    }
  }

  &--finance{
    .content-holder__header{
      margin-bottom: 2rem;

      @include media(">=lg"){
        margin-bottom: 3rem;
      }

      @include media(">=xl"){
        margin-bottom: 4rem;
      }
    }
  }
}