.control-pad{

    $this: &;

    &__btn{
        width: 100%;
        margin: 0 0 1rem;
    }

    &--cart,
    &--modal{
        max-width: 40rem;
        margin: 0 auto;

        @include media(">=md"){
            max-width: none;
            display: flex;
            align-items: center;
            justify-content: space-between;

            #{$this}__btn{
                width: auto;
                margin: 0 1rem;

                &:first-child{
                    margin-left: 0;
                }

                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }

    &--modal{
        max-width: none;
    }
}