.contact-panel{
  color: #fff;

  $this: &;

  &__body{
    display: flex;
    justify-content: space-between;
  }

  &__list{
    @extend %listreset;
    width: calc(50% - 15px);
  }

  &__list-item{
    line-height: 1.285;
    margin-bottom: 1.2rem;

    &:last-child{
      margin: 0;
    }
  }

  &--header{
    position: relative;
    padding: 5rem 0 3rem;

    #{$this}__title-bordered{
      margin-bottom: 2rem;
    }

    #{$this}__close-btn{
      position: absolute;
      right: 0;
      top: 2rem;
    }

    @include media('>=xl'){
      padding: 1rem 0;

      #{$this}__title-bordered,
      #{$this}__close-btn{
        display: none;
      }

      #{$this}__list{
        width: auto;
        display: flex;
        align-items: center;
      }

      #{$this}__list-item{
        margin: 0 0 0 2.5rem;
      }

      #{$this}__list .iconic-list__item{
        margin: 0 2.5rem 0 0;
      }
    }
  }

  &--footer {

    @include media('>=md') {

      #{$this}__body {
        flex-direction: column;
      }

      #{$this}__list{
        width: auto;
        margin-bottom: 2.8rem;
      }
    }
  }

  &__link{
    color: $white;
    @include animate(color text-decoration, .15s);

    &:hover,
    &:focus{
      color: $mySin;
      text-decoration-color: $mySin;
    }
  }

}