.form{

  $this: &;

  &__row{
    display: block;

    &:not(:last-child){
      margin-bottom: 2rem;
    }

    &--check-radio{

      &:not(:first-child){
        margin-top: 1rem;
      }

      &:not(:last-child){
        margin-bottom: 1rem;
      }
    }
  }

  &__title-text{
    display: inline-block;
    vertical-align: middle;
  }

  &__title-icon{
    font-size: 2.8rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    color: $mySin;
  }

  &__group{
    margin-bottom: 2rem;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &--col2{
    @include media(">=md"){
      display: flex;
      justify-content: space-between;
    }

    #{$this}__group{

      @include media(">=md"){
        margin-bottom: 0;
      }

      @include media(">=md"){
        width: calc(50% - 10px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    #{$this}__row--fluid{
      flex-grow: 1;

      .form-row__control{
        height: 100%;
        min-height: 10rem;
      }
    }
  }
}