.form{

  &__row{
    display: block;

    &:not(:last-child){
      margin-bottom: 2rem;
    }

    &:not(:first-child){
      margin-top: 2rem;
    }

    &--check-radio{

      &:not(:first-child){
        margin-top: 1rem;
      }

      &:not(:last-child){
        margin-bottom: 1rem;
      }
    }
  }

  &__title-text{
    display: inline-block;
    vertical-align: middle;
  }

  &__title-icon{
    font-size: 2.8rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    color: $mySin;
  }
}