.header{
  background: $outerSpace;
  color: $white;

  $this: &;

  &__top{
    border-bottom: 1px dotted $outerSpaceDarken;

    @include media('>=xl'){
      border-bottom-style: solid;
    }
  }

  &__middle{
    padding: 1rem 0;
    border-bottom: 1px solid $outerSpaceDarken;
    position: relative;
    z-index: 50;

    .holder{
      order: 1;
      flex-shrink: 0;
      width: 100%;
      margin: 1rem 0 0;
      position: relative;

      @include media('>=md'){
        order: unset;
        width: auto;
        flex-grow: 1;
        margin: 0 1.5rem 0 0;
      }

      @include media('>=lg'){
        display: flex;
        align-items: flex-end;
      }
    }
  }

  &__middle-container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;

    @include media('>=lg'){
      flex-wrap: nowrap;
    }
  }

  &__catalog-btn{
    width: 100%;
    background: none;
    color: inherit;
    border: 1px solid $mySin;
    font-size: 1.5rem;
    line-height: 1;
    font-family: $headings-font-family;
    font-weight: 700;
    text-transform: uppercase;
    padding: .5rem 6rem;
    height: 5rem;
    border-radius: 4px;
    white-space: nowrap;
    cursor: pointer;
    @include animate(background-color color);

    @include media('>=lg'){
      padding: .5rem 3rem;
      width: auto;
      margin: 0 1.5rem 0 0;

      &.active{
        background-color: $mySin;
        color: $outerSpace;
      }
    }

    @include media('>=xl'){
      font-size: 1.3rem;
      height: 4.3rem;

      .icon{
        margin-right: .8em;
      }
    }

    &:hover{
      background-color: $mySin;
      color: $outerSpace;

      ~ #{$this}__search-btn{
        color: rgba($outerSpace, .5);

        &::before{
          border-left: 1px solid rgba($outerSpace, .25);
        }
      }
    }

    &:focus{
      outline: none;
    }

    .icon{
      font-size: 1.5rem;
      margin-right: .5em;
    }
  }

  &__search-btn{
    @extend %buttonreset;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    font-size: 0;
    width: 5rem;
    background: none;
    border: none;
    padding: 0;
    color: $regentGray;
    z-index: 5;
    border-radius: 0 4px 4px 0;
    @include animate(color background-color);

    @include media('>=lg'){
      display: none;
    }

    &::before{
      content: "";
      position: absolute;
      left: 0;
      top: 8px;
      height: calc(100% - 16px);
      border-left: 1px solid $outerSpaceDarken;
      @include animate(border);
    }

    &:hover{
      color: $white;
      background-color: $mySin;

      &::before{
        border-left: 1px solid $mySin;
      }
    }

    .icon{
      font-size: 2.3rem;
    }
  }

  &__logo{
    width: 8rem;
    margin-right: 2.5rem;

    @include media('>=md'){
      margin-right: 1.5rem;
      width: 9.5rem;
    }

    @include media('>=xl'){
      margin-right: 4.5rem;
      width: 16rem;
    }
  }

  &__controls{
    display: flex;
    //border: 2px solid $outerSpaceDarken;
    //border-radius: 4px;
    flex-grow: 1;
    max-width: 27rem;
    margin-left: auto;
    position: relative;

    @include media('>=md'){
      width: 27rem;
      flex-grow: 0;
    }

    @include media('>=lg'){
      width: 22.1rem;
      max-width: none;
    }

    @include media('>=xl'){
      border: none;
      width: auto;
    }

    &-btn{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      background: none;
      outline: none;
      text-decoration: none;
      cursor: pointer;
      padding: .5rem;
      font-family: inherit;
      color: $regentGray;
      height: 4rem;
      line-height: 1;
      border: 2px solid $outerSpaceDarken;
      border-right-width: 1px;
      border-left-width: 0;
      @include animate(color border background-color);

      &--cart{
        cursor: default;
      }

      &--profile{
        #{$this}__controls-btn-icon{
          color: $mySin;
        }
      }

      @include media('>=md'){
        height: 4.6rem;
      }

      @include media('>=xl'){
        height: 4.3rem;
        border: 2px solid $outerSpaceDarken;
        border-radius: 4px;
        padding: .5rem 1.5rem;
      }

      @include media('>=xxl'){
        padding: .5rem 2rem;

        &--cart{
          min-width: 16.9rem;
        }
      }

      #{$this}__controls-btn-icon{
        font-size: 2.6rem;

        @include media('>=xl'){
          margin-right: .7rem;
        }
      }

      &-text{
        display: none;

        @include media('>=xl'){
          display: block;
          font-size: 1.4rem;
        }
      }

      &-count{
        display: none;
        font-size: 1.6rem;
        margin-left: .5rem;
      }

    }

    &-dropdown{
      display: none;
      position: absolute;
      right: -2px;
      width: 34rem;
      top: 100%;
      z-index: 51;
      max-height: 90vh;
      overflow-y: auto;

      @include media('>=sm'){
        width: 40rem;
      }

      @include media('>=md'){
        width: 44rem;
        max-height: 85vh;
      }

      @include media('>xl'){
        max-height: 80vh;
      }

      &.active{
        display: block;
      }
    }

  }

  &__controls-item{
    display: flex;
    width: 33.333%;

    &:first-child{

      #{$this}__controls-btn{
        border-radius: 4px 0 0 4px;
        border-left-width: 2px;
      }
    }

    &:last-child{

      #{$this}__controls-btn{
        border-radius: 0 4px 4px 0;
        border-right-width: 2px;
      }
    }

    @include media('>=xl'){
      width: auto;
      border: none;
      margin-right: 1.5rem;

      &:first-child,
      &:last-child{
        #{$this}__controls-btn {
          border-radius: 4px;
        }
      }

      &:last-child{
        margin-right: 0;
      }

      &--menu{
        display: none;
      }
    }

    &.active .header__controls-btn {
      cursor: pointer;
      color: #fff;
      border-color: #35AC45;
      background-color: #35AC45;

      &-count{
        display: block;
      }
    }

    &:not(.active):hover .header__controls-btn{
      color: $white;

      @include media('<xl'){
        background-color: $outerSpaceDarken;
      }
      @include media('>=xl'){
        border: 2px solid $raven;
      }
    }
  }

  &__main-nav{
    position: fixed;
    left: 0;
    top: 0;
    z-index: $main-nav-z-index;
    overflow: hidden auto;
    width: $menu-mob-width;

    @include media('<lg'){
      transform: translateX(-100%);
      width: 85%;
      max-width: 42rem;
      min-width: 32rem;
      height: 100vh;
      @include animate(transform, .2s, 'ease');

      &.active{
        transform: translateX(0);
      }
    }

    @include media('>=lg'){
      position: absolute;
      width: 100%;
      left: 0;
      top: 100%;
      display: none;
      z-index: 40;

      &.active{
        display: block;
      }
    }
  }

  &__search{
    position: relative;

    @include media('<lg'){
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 5 ;

      &.active{
        display: block;
      }

      .search__input{
        padding-right: 9.5rem;

        &:focus{
          padding-right: 6rem;
        }
      }

      .search__extended{
        right: 5rem;
      }
    }

    @include media('>=lg'){
      flex-grow: 1;
    }

    @include media('>=xl'){

      .search__input{
        padding: 1.15rem 1.15rem 1.15rem 5rem;
      }
    }
  }

  &__search-close{
    @extend %buttonreset;
    display: none;

    @include media('<lg'){
      display: block;
      position: absolute;
      width: 3.4rem;
      height: 3.4rem;
      right: .8rem;
      top: .8rem;
      font-size: 1.6rem;
      line-height: 1;
      border-radius: 50%;
      color: $outerSpace;
      border: 1px solid $mySin;
    }
  }

  .account-nav__list{
    padding-left: 1rem;

    @include media('>=sm'){
      padding-left: 2.2rem;
    }

    @include media('>=md'){
      padding-left: 2.1rem;
    }

    @include media('>=lg'){
      padding-left: 2.9rem;
    }

    @include media('>=xl'){
      padding-left: 0;
      padding-right: 3.3rem;
    }

    @include media('>=xxl'){
      padding-right: 3.7rem;
    }

    @include media('>=xxxl'){
      padding-right: 6rem;
    }
  }

  &__bottom{
    padding: .9rem 0 0;

    @include media('>=xl'){
      .container {
        display: flex;
        align-items: center;
        overflow-x: auto;
      }

      .account-nav{
        flex-grow: 1;

        &__list{
          justify-content: flex-end;
        }
      }
    }

    .container {
      padding-right: 0;
      @include media('<xl'){
        padding-left: 0;
      }
    }

    #{$this}__labels{
      flex-wrap: nowrap;
      flex-shrink: 0;
      padding-right: 3rem;

      @include media('<xl'){
        display: none;
      }
    }
  }

  &--index{
    background-color: #2A295A;

    &.page__header{
      margin-bottom: 0;
    }

    #{$this}__top{
      border-bottom: 1px dotted #3A3956;
    }

    .contact-panel__item-icon {
      color: rgba(255,255,255,.3);
    }

    .contact-panel__lang-selector{
      background-color: rgba(#1E2625, .5);
    }

    #{$this}__controls{

      @include media('>=xl'){
        border: none;
      }

      &-btn{
        border-color: rgba(255,255,255,.3);

        @include media('>=xl'){
          height: 4.3rem;
          border-color: rgba(255,255,255,.3);
          border-radius: 4px;
          padding: .5rem 2rem;
        }
      }
    }

    #{$this}__controls-item{

      &:not(.active):hover .header__controls-btn{
        color: $white;
        background-color: rgba(255,255,255,.3);

        @include media('>=xl'){
          border: 2px solid transparent;
        }
      }
    }

    #{$this}__middle{
      background-color: #2A295A;
      border: none;
    }

    #{$this}__catalog-btn{
      border: none;
      background: rgb(112,26,180);
      background: linear-gradient(90deg, rgba(112,26,180,1) 0%, rgba(33,208,166,1) 50%, rgba(151,89,205,1) 100%);
      background-size: 200%;
      background-position: 0 center;
      box-shadow: 0 0 10px rgba(0,0,0,.15);
      @include animate(background-position background-size);

      &.active{
        background-color: inherit;
        color: inherit;
        background-size: 400%;
        background-position: 100% center;
      }

      &:hover{
        background-color: inherit;
        color: inherit;
        background-position: 100% center;

        ~ #{$this}__search-btn{
          color: $white;

          &::before{
            border-left: 1px solid $white;
          }
        }
      }
    }

    #{$this}__search-btn{
      color: $white;

      &::before{
        border-left: 1px solid rgba(255,255,255,.4);
      }

      &:hover{
        color: $white;
        background-color: rgba(0,0,0,.2);

        &::before{
          border-left: 1px solid transparent;
        }
      }
    }

    .main-nav{
      background-color: #2A295A;

      @include media(">=lg"){
        border-top: 1px solid #3A3956;
      }
    }

    .select2-container--default .select2--theme--outerSpace{
      background-color: #2A295A;
      border: 1px solid #3A3956;
    }

    .main-nav__link:hover {
      @include media(">=lg") {
        background-color: rgba($black, .15);
      }
    }

    .main-nav__filter-desc {
      color: #8C8BC2;
    }
  }

  &__controls-notify{
    margin-left: .5rem;

    @include media(">=xl"){
      margin-left: 1.2rem;
    }

    .notify__icon{
      font-size: 1.3rem;
      opacity: .75;

      @include media(">=xl"){
        font-size: 1.6rem;
      }
    }

    .notify__count{
      display: none;

      @include media(">=xl"){
        display: inline;
      }
    }

    &.active{
      .notify__icon{
        opacity: 1;
      }
    }
  }
}