.iconic-list {
  @extend %listreset;

  &__item {
    line-height: 1.285;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    &:last-child {
      margin: 0;
    }
  }

  &__svg-icon {
    width: 2rem;
    height: 2rem;
    fill: $mySin;
    margin-right: 1rem;
  }

  &__icon {
    color: $mySin;
    font-size: 2rem;
    margin-right: 1rem;
    line-height: 1;
  }

  &__link {
    color: inherit;
    @include animate(text-decoration color, 0.15s);

    &:hover {
      color: $mySin;
      text-decoration-color: $mySin;
    }
  }

  &__header-note {
    margin-top: 0.3rem;
  }
}
