.lang-selector{
  display: inline-flex;
  align-items: center;
  background-color: #1E2625;

  &__item{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    padding: .8rem 1.5rem;
    background-color: $mySin;
    @extend %linkreset;
    color: $base-text-color;
    @include animate(background-color);

    &:hover:not(&--active){
      background-color: darken($mySin,10%);
    }

    &:first-child{
      border-radius: 3px 0 0 3px;
    }

    &:last-child{
      border-radius: 0 3px 3px 0;
    }

    &--active{
      color: $white;
      background-color: transparent;
    }
  }
}