.notify {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;

  $this: &;

  &__svg-icon {
    width: 1.6rem;
    height: 1.6rem;
    fill: $white;
  }

  &__text {
    font-size: 1.4rem;
  }

  &.active {
    color: $white;

    #{$this}__svg-icon {
      fill: $pumpkin;
    }
  }
}
