.notify{
  display: inline-block;
  line-height: 1;
  white-space: nowrap;

  $this: &;

  &__icon{
    font-size: 1.6rem;
  }

  &__text{
    font-size: 1.4rem;
  }

  &.active{
    color: $white;

    #{$this}__icon{
      color: $pumpkin;
    }
  }
}