.order-status{
  display: inline-block;
  font-size: .9rem;
  line-height: 1.3;
  text-transform: uppercase;
  padding: .4rem .8rem;
  border-radius: 4px;
  color: $white;
  font-weight: 700;

  &--danger{
    background-color: $mandy;
  }
  &--warning{
    background-color: $pumpkin;
  }
  &--ok{
    background-color: $limeade;
  }
  &--darkGrey{
    background-color: $nevada;
  }
  &--curiouslBlue{
    background-color: $curiousBlue;
  }
  &--conifer{
    background-color: $conifer;
  }
}