.product-price{
  line-height: 1;

  &__pre{
    font-size: 12px;
    line-height: 1;
    color: $raven;
    margin-bottom: .5rem;
    display: block;
  }

  &__item{
    display: inline-block;
    vertical-align: baseline;
    font-size: 1.7rem;
    line-height: 1;
    font-weight: 700;
    margin-right: .5em;
    white-space: nowrap;
    color: $base-text-color;

    &--old{
      font-size: 1.3rem;
      font-weight: 400;
      color: $regentGray;
      margin-top: .7rem;
      background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 100 100'\
         xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3e%3cline x1='0'\
         y1='0' x2='100' y2='100' stroke-width='4' stroke='%23818C98'/%3e%3c/svg%3e");
      background-size: 100% 100%;
    }


  }
}