.product-tile{
  position: relative;
  outline: 1px solid $mercury;

  $this: &;

  &__inner{
    padding: 2rem 2.3rem 2rem;
    background-color: $white;
    display: flex;
    flex-direction: column;
  }

  &__primary{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__fav-add{
    position: absolute;
    left: 2.3rem;
    top: 2rem;
    z-index: 15;
  }

  &__item-labels{
    position: absolute;
    right: 0;
    top: 2rem;
  }

  &__img{
    @extend %linkreset;
    display: block;
    margin-bottom: 1rem;

    &-item{
      display: block;
      width: 100%;
      max-width: 24rem;
      margin: 0 auto;

      @include media('>=sm'){
        max-width: 17rem;
      }
    }
  }

  &__item-rating{
    margin-bottom: 1rem;
  }

  &__name{
    color: inherit;
    display: block;
    font-size: 1.3rem;
    line-height: 1.6;
    margin-bottom: 1.3rem;
    color: $base-text-color;

    &:hover,
    &:focus{
      text-decoration-color: inherit;
    }
  }

  &__price{
    margin: auto 0;
    display: grid;
    grid-template-columns: minmax(50%, max-content) 1fr;
    grid-gap: 1.5rem;
    padding: 1rem 0;
  }

  &__baloon-tip{
    margin-top: .3rem;
  }

  &__footer-btn{
    margin-top: .7rem;
    position: relative;
  }

  &__footer-btn-icon{
    font-size: 1.4em;

    @include media(">=md"){
      font-size: 2em;
    }
  }

  &__availability{
    color: #98A3B3;
    font-size: 1.3rem;
    line-height: 1;
    font-weight: 500;
    margin-bottom: .3rem;
  }

  &__item-quantity{
    margin-top: 1rem;
    margin-bottom: 1.3rem;
    display: block;
    width: 100%;
  }

  &__part-number{
    font-size: 1.2rem;
    line-height: 1.4;
    text-align: center;
    color: $regentGray;

    &:not(:last-child){
      margin-bottom: 0.5rem;
    }
  }

  &--open{
    #{$this}__name{
      margin-bottom: 0;
    }

    #{$this}__price{
      margin: 0 0 auto;
    }
  }
}