.product-hor{
    padding-bottom: 1.5rem;
    margin-bottom: 1.5rem;
    position: relative;
    @extend %clearfix;

    &:not(:last-child){
        border-bottom: 1px dotted $mercury;
    }

    &__img{
        float: left;
        width: 8rem;
        margin-bottom: .6rem;
    }

    &__item-labels{
        float: left;
        clear: left;

        .item-labels__item{
            font-size: 1.1rem;
            padding: .4rem 1.1rem .4rem;
            border-radius: 0 9px 9px 0;
            margin-bottom: .3rem;
        }
    }

    &__img-item{
        display: block;
        width: 100%;
    }

    &__desc{
        margin-left: 9.5rem;
        display: flex;
        flex-wrap: wrap;

        .text-overflow__toggle{
            justify-content: flex-start;
            text-transform: none;
        }
    }

    &__name{
        font-size: 1.2rem;
        line-height: 1.35;
        margin-bottom: 1.25rem;
        width: 100%;
        flex-shrink: 0;
    }

    &__desc-footer{
        display: flex;
        width: 100%;
        align-items: baseline;
        flex-wrap: wrap;
        margin-bottom: 1.25rem;
    }
    
    &__part-number,
    &__availability{
        color: #98A3B3;
        font-size: 1.1rem;
        line-height: 1.35;
        padding-right: 2rem;
        min-width: 33.333%;
        max-width: 20rem;
        flex: 0 0 auto;
    }

    &__part-number{
        margin-bottom: .4rem;
    }

    &__availability{
        margin-bottom: .4rem;
    }

    &__item-rating{
        font-size: 1.1rem;
        flex: 0 0 auto;

        .item-rating__link{
            font-size: 1.1rem;
        }
    }

    &__price{
        display: flex;
        align-items: flex-start;
        margin-left: 9.5rem;
        margin-bottom: 2rem;
    }

    &__product-price{
        flex: 0 1 auto;
        min-width: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .product-price__pre{
            font-size: 1.1rem;
        }

        .product-price__item{
            font-size: 1.6rem;
        }

        .product-price__item--old{
            font-size: 1.2rem;
            margin-top: .3rem;
        }

        &:not(:last-child){
            margin-right: 1rem;
        }
    }

    &__controls{
        margin-left: 9.5rem;
        max-width: 20rem;
    }

    &__controls-btn{
        display: flex;
        width: 100%;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }

    &__item-quantity{
        width: 100%;

        .item-quantity__input{
            height: 4.2rem;
        }
    }

    &__fav-add{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;
    }

}