.search {
  position: relative;

  &__submit {
    @extend %buttonreset;
    position: absolute;
    font-size: 0;
    left: 0;
    top: 0;
    width: 5rem;
    height: 100%;
    z-index: 5;
    border: none;
    background: transparent;
    cursor: pointer;
    color: $regentGray;

    .icon {
      font-size: 2.3rem;
      @include animate(color);
    }

    .svg-icon {
      width: 2.3rem;
      height: 2.3rem;
      fill: $regentGray;
      @include animate(fill);
    }

    &:hover {
      color: $mySin;
    }

    &:hover .svg-icon {
      fill: $mySin;
    }
  }

  & &__input {
    width: 100%;
    background-color: $white;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    line-height: 1.34;
    padding: 1.5rem 4.1rem 1.5rem 5rem;

    &:focus {
      padding-right: 1.5rem;
    }

    &:focus ~ .search__extended {
      opacity: 0;
      visibility: hidden;
    }
  }

  &__extended {
    @extend %linkreset;
    position: absolute;
    z-index: 5;
    right: 1.4rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    width: 3.4rem;
    height: 3.4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background-color: $mySin;

    .svg-icon {
      fill: $white;
      height: 1.6rem;
      width: 1.6rem;

      @include media(">=xl") {
        fill: $base-text-color;
      }
    }

    @include media(">=xl") {
      width: auto;
      height: auto;
      border-radius: 3px;
      padding: 0.7rem 1.05rem 0.7rem 0.95rem;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1;
      color: rgba($base-text-color, 0.9);
      background-color: rgba($raven, 0.2);
      border: none;
      @include animate(background-color);

      .svg-icon {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.4rem;
      }

      &:hover {
        background-color: $mySin;
      }
    }
  }

  &__autocomplete {
    display: none;
    position: absolute;
    left: 0;
    top: calc(100% + 5px);
    z-index: 51;
    width: 100%;
    min-width: 34rem;
    max-width: 55rem;
    background-color: $white;
    color: $base-text-color;
    box-shadow: 0 3px 12px rgba($mineShaft, 0.14);
    border-radius: 6px;
    padding: 0.5rem 0 2rem 0;

    &.active {
      display: block;
    }

    &-body {
      margin-bottom: 2rem;
    }

    &-item {
      padding: 1.5rem 1.5rem 2rem;
      display: flex;
      border-bottom: 1px dotted rgba($outerSpace, 0.15);

      @include media(">=xxl") {
        padding: 1.5rem 2.5rem 2rem;
      }
    }

    &-img {
      flex-shrink: 0;
      width: 5.7rem;
      margin-right: 2rem;

      &-item {
        display: block;
        width: 100%;
      }
    }

    &-desc {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }

    &-name {
      flex-shrink: 0;
      width: 100%;
      display: block;
      font-size: 1.2rem;
      line-height: 1.583;
      margin-bottom: 1rem;
      word-break: break-all;

      &:hover {
        color: $curiousBlue;
      }
    }

    &-footer {
      text-align: center;
    }
  }
}
