.sidebar-filter {
    background-color: $white;

    &__tabs {
        padding-right: 1.25rem;

        .tabs__item {
            flex: 1 0 auto;

            .tabs__link {
                @include media('>=md') {
                    padding: 2.3rem 2.25rem 2.3rem 2.25rem;
                    text-align: center;
                }
            }
        }
    }

    &__group {
        border-bottom: 1px solid $mercury;
        padding: 0.5rem 0;

        &:last-child {
            border-bottom: none;
        }

        &-title {
            font-size: 1.4rem;
            font-family: $headings-font-family;
            font-weight: 500;
            padding: 1.4rem 3rem;
            cursor: pointer;
            position: relative;

            &.disabled {
                cursor: default;
            }

            &-toggler {
                position: absolute;
                width: 1rem;
                height: 1rem;
                right: 3rem;
                top: 2.55rem;
                transform: translateY(-50%);

                &::before,
                &::after {
                    content: '';
                    height: 0.2rem;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 2px;
                    background-color: $raven;
                    @include animate(transform);
                }

                &::after {
                    transform: translateY(-50%) rotate(90deg);
                }
            }

            &.active {
                .sidebar-filter__group-title-toggler::after {
                    transform: translateY(-50%) rotate(0deg);
                }
            }
        }

        &-body {
            padding: 0.75rem 3rem 2.5rem;
        }
    }

    &__checkbox-radio:not(:last-child) {
        margin-bottom: 1.5rem;
    }

    &__active {
        display: flex;
        flex-wrap: wrap;

        &-item {
            @extend %buttonreset;
            padding: 0.5rem 1.4rem 0.5em 1.7rem;
            background-color: $mySin;
            border-radius: 16px;
            // white-space: nowrap;
            margin: 0 0.9rem 0.9rem 0;
            @include animate(box-shadow);

            &:not(&--reset):hover {
                box-shadow: 0 0 0 5px rgba($mySin, 0.4);
            }

            &-text {
                font-size: 1.3rem;
                font-weight: 500;
                margin-right: 0.5rem;
                // white-space: nowrap;
            }

            &::after {
                content: '\e821';
                font: 1rem 'Fontello';
                color: $white;
                display: inline-block;
                vertical-align: middle;
            }

            &--reset {
                background-color: #f2f5f4;
                @include animate(background-color color);

                &::after {
                    color: rgba(#2d4c75, 0.4);
                    @include animate(color);
                }

                &:hover {
                    background-color: $raven;
                    color: $white;

                    &::after {
                        color: $tiara;
                    }
                }
            }
        }
    }
}
