.table{
  display: block;
  width: 100%;
  border-radius: 4px;
  border-collapse: collapse;
  table-layout: auto;

  $this: &;

  &__tbody{
    display: block;
  }

  &__row{
    display: flex;
    flex-direction: column;
    padding: 1.25rem 0;
    background-color: #F2F2F2;
    margin-bottom: 1.75rem;
    border-radius: 4px;
    @include animate(color);

    .text-overflow__toggle{
      justify-content: flex-start;
      background: linear-gradient(0deg, #F2F2F2 15%, rgba(#F2F2F2, 0) 100%);
    }

    &:hover {
      background-color: #FFECC6;

      .text-overflow__toggle{
        background: linear-gradient(0deg, #FFECC6 15%, rgba(#FFECC6, 0) 100%);
      }
    }

    &:last-child{
      margin-bottom: 0;
    }

    &--toggler{
      cursor: pointer;
      padding-bottom: 0;
      position: relative;
      @include animate(color margin);
  
      &--active{
        background-color: #77818C;
        color: $white;
        border-radius: 4px 4px 0 0;
        margin-bottom: 0;
  
        &:hover{
          background-color: #6B747E;

          .text-overflow__toggle{
            background: linear-gradient(0deg, #6B747E 15%, rgba(#6B747E, 0) 100%);
          }
        }

        .text-overflow__toggle{
          background: linear-gradient(0deg, #77818C 15%, rgba(#77818C, 0) 100%);
        }

        #{$this}__cell{
          border-bottom: 1px solid rgba(255,255,255,.2);
        }
  
        #{$this}__dropdown{
          border-radius: 0;
          background-color: #5C6772;
        }
  
        #{$this}__dropdown-icon::before{
          transform: rotate(180deg);
        }
  
        #{$this}__dropdown-text{
          display: block;
  
          &--active{
            display: none;
          }
        }

        .table__product-name{
          color: $white;

          &:hover,
          &:focus{
            text-decoration-color: $white;
          }
        }
      }
    }

    &--clear{
      background-color: transparent;
      padding: 0;

      &:hover{
        background-color: transparent;
      }

      #{$this}__cell{
        justify-content: center;
      }
    }

    #{$this}__clear-btn{
      @extend %buttonreset;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 2.5rem;
      border-radius: 20px;
      border: 1px solid rgba(#8E9AA7, 0.4);
      @include animate(background-color border);
      white-space: nowrap;


      &:hover{
        border: 1px solid transparent;
        background-color: rgba(#8E9AA7, .15);
      }
    }

    #{$this}__clear-btn-icon{
      color: $mySin;
      font-size: 1.8rem;
      line-height: 1;
      margin-right: .5em;
    }

    #{$this}__clear-btn-text{
      font: 700 1.3rem/ 1 $headings-font-family;
      text-transform: uppercase;
      @include animate(color);
    }
  }

  &__row-head{
    display: none;
  }

  &__row-sub{
    &--active{
      display: block;
      margin-bottom: 3rem;

      #{$this}__cell-sub{
        padding: 1rem 1rem 1.5rem;
      }
    }
  }

  &__dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 0 0 4px 4px;
    padding: 1rem;
    background-color: $mySin;
    cursor: pointer;
    @include animate(background-color, border-radius);

    @include media('>=sm') {
      padding: 1.25rem;
    }

    @include media('>=md') {
      padding: 1.5rem;
    }

    &--sub{
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      background-color: $white;
      border-top: 1px dotted rgba(#8E9AA7, .3);
      z-index: 5;
    }
  }

  &__dropdown-text{
    text-transform: uppercase;
    font-weight: 700;
    margin-right: .75rem;
    display: none;

    &--active{
      display: block;
    }
  }

  &__dropdown-icon{
    font-size: 1.2rem;
  }

  &__dropdown-btn{
    @extend %buttonreset;
    display: inline-flex;
    justify-content: center;
    padding: 1rem 2.5rem;
    width: 100%;
    max-width: 20rem;
    border-radius: 20px;
    border: 1px solid rgba(#8E9AA7, .4);
    @include animate(background-color border);

    &:hover{
      border: 1px solid transparent;
      background-color: rgba(#8E9AA7, .15);
    }
  }

  &__cell{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 1.2rem;
    line-height: 1.428;
    padding: .5rem 1rem;
    vertical-align: middle;
    border-bottom: 1px solid #fff;
    @include animate(border);

    @include media('>=sm') {
      font-size: 1.3rem;
      padding: .75rem 2rem;
    }

    @include media('>=600px') {
      font-size: 1.4rem;
      padding: .8rem 2.4rem;
    }

    @include media('>=xxl') {
      font-size: 1.4rem;
      padding: 1.2rem 2rem;
    }

    &[data-col-name]::before {
      content: attr(data-col-name);
      padding-right: .75rem;
      position: relative;
      z-index: 5;
      font-weight: 700;
    }

    #{$this}__cell-inner {
      max-width: 50%;
      padding-left: .75rem;
      position: relative;
      z-index: 5;
    }

    &--wide{
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
      width: 100%;
      flex-shrink: 0;

      #{$this}__cell-inner{
        max-width: none;
        flex: 0 0 100%;
        padding-left: 0;
      }
    }

    &--check{
      order: 1;
      padding-top: 1.4rem;
      padding-bottom: 0;
      font-size: 1.6rem;
      border-bottom: none;

      @include media('>=sm') {
        font-size: 1.8rem;
        padding-top: 1.6rem;
        padding-bottom: 0;
      }
  
      @include media('>=600px') {
        font-size: 1.8rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
      }

      @include media('>=xxl') {
        font-size: 1.8rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
      }

      .checkbox-radio__label{
        font-size: 1.4rem;

        @include media('>=sm') {
          font-size: 1.5rem;
        }
      }
    }

    &--dropdown{
      display: block;
      padding: 0;

      #{$this}__cell-inner {
        max-width: none;
        padding: 0;
      }

      @include media('>=sm') {
          padding: 0;
      }
  
      @include media('>=600px') {
          padding: 0;
      }
    }

    &--delete{
      background: transparent;
      padding: 0;

      @include media('>=600px') {
        padding: 0;
      }

      @include media('>=xxl') {
        padding: 0;
      }

      #{$this}__cell-inner{
        position: static;
      }

      #{$this}__delete-btn{
        @extend %buttonreset;
        color: #fff;
        font-size: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 3.1rem;
        height: 3.1rem;
        border-radius: 50%;
        text-align: center;
        transform: translate(50%, -50%);
        background-color: #A2B1C0;
        @include animate(background-color);

        &:hover{
          background-color: #707776;
        }
      }

      #{$this}__delete-btn-icon{
        font-size: 1rem;
        line-height: 3.1rem;
      }
    }
  }

  &__quantity-input{
    background-color: #FFFFFF;
    border-radius: 3px;
    position: relative;
  }

  &__quantity-input-label{

    .form-row__control{
      background-color: transparent;
      border: none;
      text-align: center;
      width: 11rem;
      padding: .8rem 4.4rem .8rem;
      font-size: 1.2rem;

      @include media(">=sm"){
        width: 12rem;
        font-size: 1.3rem;
      }

      @include media(">=600px"){
        font-size: 1.4rem;
      }
    }
  }

  &__quantity-input-btn{
    @extend %buttonreset;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 700;
    width: 2.9rem;
    height: 2.9rem;
    font-size: 1.6rem;
    border-radius: 2px;
    color: #A2B1C0;
    @include animate(color background-color);
    z-index: 5;

    @include media(">=sm"){
      width: 3rem;
      height: 3rem;
    }

    @include media(">=600px"){
      width: 3.1rem;
      height: 3.1rem;
    }

    &:hover{
      color: $white;
      background-color: #A2B1C0;
    }

    &--inc{
      right: .1rem;

      @include media(">=sm"){
        right: .2rem;
      }
    }

    &--dec{
      left: .1rem;

      @include media(">=sm"){
        left: .2rem;
      }
    }
  }

  &__cell-sub{
    display: block;
    padding: 0 1rem;
    background-color: #8E9AA7;
    @include animate(padding);
    border-radius: 0 0 4px 4px;
  }

  &__cell-sub-content{
    display: none;
    position: relative;
    background-color: $white;
    border-radius: 4px;
    padding: 1rem 1rem 9rem;

    &.active{
      display: block;
    }
  }

  &__cell-sub-table{
    margin-bottom: 2rem;
  }

  &__order-summary{
    padding-left: 1rem;
    padding-right: 1rem;

    $this: ".order-summary";

    @include media(">=sm"){
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &__product-name{
    display: block;
    overflow: hidden;
    position: relative;
    
    &:not(:last-child){
      margin-bottom: 1rem;
    }
  }

  &__availability{
    font-size: 1.2rem;
    font-weight: 500;
    color: #98A3B3;

    @include media(">=md"){
      font-size: 1.3rem;
    }
  }

  &__status-radio{

    .checkbox-radio__input[type="radio"]{

      ~ .checkbox-radio__toggler{
        position: relative;
        width: 2rem;
        height: 2rem;
        color: transparent;
        @include animate(background-color, .1s);

        &::before{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%,-50%) scale(0);
          content: "\e823";
          font: .7em/1 "Fontello";
          line-height: 1;
          @include animate(transform, .2s);
        }
      }

      &:checked{
        ~ .checkbox-radio__toggler{
          box-shadow: none;
          background-color: $forestGreen;
          color: #fff;

          &::before{
            transform: translate(-50%,-50%) scale(1);
          }
        }
      }
    }
  }

  &__sub-form{
    margin-bottom: 2rem;
  }

  &__add-file{
    margin-bottom: 1rem;
  }

  &__info-block{
    &:not(:last-child){
      margin-bottom: 2rem;
    }

    @include media(">=lg"){
      &:not(:last-child) {
        margin-bottom: 3rem;
      }
    }
  }

  &__text{
    display: inline-block;
    line-height: 1.4;
  }
}

@mixin table-build($breakpoint, $tableModifier) {

  $this: '.table'; /* THIS value */

  .#{$tableModifier} {

    @include media('>=#{$breakpoint}') {
      display: table;

      #{$this}__tbody {
        display: table-row-group;
      }

      #{$this}__row {
        display: table-row;

        &:not(:hover):nth-child(odd){
          background-color: #FAFAFA;

          .text-overflow__toggle{
            background: linear-gradient(0deg, #FAFAFA 15%, rgba(#FAFAFA, 0) 100%);
          }
        }
        
        &--toggler{

          #{$this}__cell {
            padding-top: 2.2rem;
            padding-bottom: 2.2rem;
          }
        }

        &--clear{
          text-align: right;

          #{$this}__cell{
            padding: 1.5rem 0 0;
          }
        }
      }

      #{$this}__row-head {
        display: table-row;
      }

      #{$this}__row-sub--active {
        display: table-row;

        #{$this}__cell-sub {
          padding: 2rem 2rem 3rem;
        }
      }

      #{$this}__dropdown:not(#{$this}__dropdown--sub){
        padding: 0;
        background-color: unset;

        #{$this}__dropdown-text,
        #{$this}__dropdown-text.active{
          display: none;
        }

        #{$this}__dropdown-icon{
          color: #A2B1C0;
        }
      }

      #{$this}__cell {
        display: table-cell;
        padding: 1.2rem 2rem;
        @include animate(padding);

        &[data-col-name]::before {
          display: none;
        }

        #{$this}__cell-inner {
          max-width: none;
          padding-left: 0;
        }

        &--check {
          padding-right: 0;
          width: auto;
          border-bottom: 1px solid #fff;
          font-size: 1.4rem;

          .checkbox-radio__label{
            display: none;
          }
        }

        &--dropdown {
          position: relative;

          &::before {
            content: "\e830";
            font: 1.5rem/1 "Fontello";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-50%, -50%);
            color: rgba(#A2B1C0, .5);
          }
        }

        &--delete{

          #{$this}__delete-btn{
            position: static;
            transform: none;
            width: 2.7rem;
            height: 2.7rem;
          }

          #{$this}__delete-btn-icon{
            font-size: .8rem;
            line-height: 2.7rem;
          }
        }
      }

      #{$this}__cell-head {
        display: table-cell;
        border-bottom: 2px solid $mySin;
        font-size: 1.1rem;
        font-weight: 700;
        padding: .8rem 2rem;
        white-space: nowrap;
        text-align: left;

        &--hidden{
          font-size: 0;
        }
      }

      #{$this}__cell-sub {
        display: table-cell;
        padding: 0 2rem;
        border-radius: 0;
      }

      #{$this}__cell-sub-content{
        padding-bottom: 10rem;

        &--returns{
          padding: 2.6rem 2rem 10rem;
        }
      }
    }

    @include media('>=1400px'){
      #{$this}__cell-head{
        &:not(#{$this}__cell-head--hidden){
          font-size: 1.3rem;
          padding: .8rem 2rem;
        }
      }
    }

    
  }
}

@include table-build("lg", table--build-lg);

@include table-build("xl", table--build-xl);
