.tabs{
  @extend %listreset;
  display: flex;
  @include descending-z-index();
  padding-right: .9rem;
  overflow: auto hidden;

  $this: &;

  &__item{
    position: relative;

    #{$this}__link{
      @extend %linkreset;
      display: block;
      text-align: center;
      color: $regentGray;
      line-height: 1;
      white-space: nowrap;
      position: relative;
      font-family: $headings-font-family;
      font-weight: 700;
      text-transform: uppercase;
      border-radius: 6px 0 0 0;
      background: rgb(236,236,236);
      background: linear-gradient(0deg, rgba(236,236,236,1) 0%, rgba(248,248,248,1) 30%, rgba(248,248,248,1) 100%);
      @include animate(color);
      padding: 1.6rem .5rem 1.6rem 1.8rem;
      font-size: 1.2rem;
      margin-right: 1.5rem;

      @include media(">=md"){
        font-size: 1.3rem;
        padding: 2.3rem 2.5rem 2.3rem 4rem;
        margin-right: 2.25rem;
      }

      &:hover{
        color: inherit;
      }

      &::after{
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        width: 2.7rem;
        height: 100%;
        z-index: 5;
        background: url("data:image/svg+xml;base64,\
        PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiB\
        BZG9iZSBJbGx1c3RyYXRvciAyNC4zLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW\
        9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfM\
        SIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDov\
        L3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA\
        zOSA2MCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzkgNjA7IiB4bWw6c3BhY2\
        U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtvcGFjaXR5OjAuO\
        TtmaWxsOnVybCgjU1ZHSURfMV8pO30NCgkuc3Qxe2ZpbGw6dXJsKCPQmtC+0L3RgtGD0YBfMzEy\
        Ni0yXzFfKTt9DQo8L3N0eWxlPg0KPGxpbmVhckdyYWRpZW50IGlkPSJTVkdJRF8xXyIgZ3JhZGl\
        lbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwIiB5MT0iMzIiIHgyPSIzOSIgeTI9IjMyIi\
        BncmFkaWVudFRyYW5zZm9ybT0ibWF0cml4KDEgMCAwIC0xIDAgNjIpIj4NCgk8c3RvcCAgb2Zmc\
        2V0PSIwIiBzdHlsZT0ic3RvcC1jb2xvcjojOTk5OTk5O3N0b3Atb3BhY2l0eTowLjQiLz4NCgk8\
        c3RvcCAgb2Zmc2V0PSIwLjg1IiBzdHlsZT0ic3RvcC1jb2xvcjojQzJDMkMyO3N0b3Atb3BhY2l\
        0eTowIi8+DQo8L2xpbmVhckdyYWRpZW50Pg0KPHJlY3QgY2xhc3M9InN0MCIgd2lkdGg9IjM5Ii\
        BoZWlnaHQ9IjYwIi8+DQo8Zz4NCgk8Zz4NCgkJDQoJCQk8bGluZWFyR3JhZGllbnQgaWQ9ItCa0\
        L7QvdGC0YPRgF8zMTI2LTJfMV8iIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0i\
        MTguMyIgeTE9IjYwLjAwNDIiIHgyPSIxOC4zIiB5Mj0iLTkuMDk0OTQ3ZS0xMyI+DQoJCQk8c3R\
        vcCAgb2Zmc2V0PSIwIiBzdHlsZT0ic3RvcC1jb2xvcjojRUNFQ0VDIi8+DQoJCQk8c3RvcCAgb2\
        Zmc2V0PSIwLjI5NDQiIHN0eWxlPSJzdG9wLWNvbG9yOiNGOEY4RjgiLz4NCgkJCTxzdG9wICBvZ\
        mZzZXQ9IjEiIHN0eWxlPSJzdG9wLWNvbG9yOiNGOEY4RjgiLz4NCgkJPC9saW5lYXJHcmFkaWVu\
        dD4NCgkJPHBhdGggaWQ9ItCa0L7QvdGC0YPRgF8zMTI2LTJfMTJfIiBjbGFzcz0ic3QxIiBkPSJ\
        NMjkuOSw1NS42TDE0LjQsOS4zQzEyLjYsMy44LDYuNywwLDAsMHY2MGgzNi42QzMzLjcsNjAuMS\
        wzMSw1OC40LDI5LjksNTUuNnoiDQoJCQkvPg0KCTwvZz4NCjwvZz4NCjwvc3ZnPg0K") left top / cover;

        @include media(">=md"){
          width: 3.5rem;
        }
      }
    }

    &--active #{$this}__link{
      background: $white;
      color: inherit;

      &::after{
        background: url("data:image/svg+xml;base64,\
        PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiB\
        BZG9iZSBJbGx1c3RyYXRvciAyNC4zLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW\
        9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i0KHQu9C+0LlfM\
        SIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDov\
        L3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiDQoJIHZpZXdCb3g9IjAgMCA\
        zOSA2MCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzkgNjA7IiB4bWw6c3BhY2\
        U9InByZXNlcnZlIj4NCjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+DQoJLnN0MHtvcGFjaXR5OjAuO\
        TtmaWxsOnVybCgjU1ZHSURfMV8pO30NCgkuc3Qxe2ZpbGw6I0ZGRkZGRjt9DQo8L3N0eWxlPg0K\
        PGxpbmVhckdyYWRpZW50IGlkPSJTVkdJRF8xXyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25\
        Vc2UiIHgxPSIwIiB5MT0iMzIiIHgyPSIzOSIgeTI9IjMyIiBncmFkaWVudFRyYW5zZm9ybT0ibW\
        F0cml4KDEgMCAwIC0xIDAgNjIpIj4NCgk8c3RvcCAgb2Zmc2V0PSIwIiBzdHlsZT0ic3RvcC1jb\
        2xvcjojOTk5OTk5O3N0b3Atb3BhY2l0eTowLjQiLz4NCgk8c3RvcCAgb2Zmc2V0PSIwLjg1IiBz\
        dHlsZT0ic3RvcC1jb2xvcjojQzJDMkMyO3N0b3Atb3BhY2l0eTowIi8+DQo8L2xpbmVhckdyYWR\
        pZW50Pg0KPHJlY3QgY2xhc3M9InN0MCIgd2lkdGg9IjM5IiBoZWlnaHQ9IjYwIi8+DQo8Zz4NCg\
        k8Zz4NCgkJPHBhdGggaWQ9ItCa0L7QvdGC0YPRgF8zMTI2LTJfMTJfIiBjbGFzcz0ic3QxIiBkP\
        SJNMjkuOSw1NS42TDE0LjQsOS4zQzEyLjYsMy44LDYuNywwLDAsMHY2MGgzNi42QzMzLjcsNjAu\
        MSwzMSw1OC40LDI5LjksNTUuNnoiDQoJCQkvPg0KCTwvZz4NCjwvZz4NCjwvc3ZnPg0K") left top / cover;
      }
    }
  }

  &--theme--dark{
    background-color: #515E5C;

    #{$this}__item{

      #{$this}__link {
        background: rgb(56, 71, 69);
        background: linear-gradient(180deg, rgba(56, 71, 69, 1) 0%, rgba(56, 71, 69, 1) 75%, rgba(48, 61, 59, 1) 100%);
        color: $white;

        &::after{
          background: url("data:image/svg+xml;base64,\
          PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6I\
          EFkb2JlIElsbHVzdHJhdG9yIDI0LjMuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcn\
          Npb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9ItCh0LvQvtC\
          5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0\
          dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9I\
          jAgMCAzOSA2MCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzkgNjA7IiB4bW\
          w6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7b3BhY2l\
          0eTowLjk7ZmlsbDp1cmwoI1NWR0lEXzFfKTtlbmFibGUtYmFja2dyb3VuZDpuZXcgICAgO30K\
          CS5zdDF7ZmlsbDp1cmwoI9Ca0L7QvdGC0YPRgF8zMTI2LTJfMV8pO30KPC9zdHlsZT4KPGxpb\
          mVhckdyYWRpZW50IGlkPSJTVkdJRF8xXyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2\
          UiIHgxPSIwIiB5MT0iLTY3NCIgeDI9IjM5IiB5Mj0iLTY3NCIgZ3JhZGllbnRUcmFuc2Zvcm0\
          9Im1hdHJpeCgxIDAgMCAtMSAwIC02NDQpIj4KCTxzdG9wICBvZmZzZXQ9IjAiIHN0eWxlPSJz\
          dG9wLWNvbG9yOiMzMDNEM0I7c3RvcC1vcGFjaXR5OjAuNCIvPgoJPHN0b3AgIG9mZnNldD0iM\
          C44NSIgc3R5bGU9InN0b3AtY29sb3I6IzMwM0QzQjtzdG9wLW9wYWNpdHk6MCIvPgo8L2xpbm\
          VhckdyYWRpZW50Pgo8cmVjdCBjbGFzcz0ic3QwIiB3aWR0aD0iMzkiIGhlaWdodD0iNjAiLz4\
          KPGc+Cgk8Zz4KCQkKCQkJPGxpbmVhckdyYWRpZW50IGlkPSLQmtC+0L3RgtGD0YBfMzEyNi0y\
          XzFfIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjE4LjMiIHkxPSIxLjk5N\
          TgiIHgyPSIxOC4zIiB5Mj0iNjIiIGdyYWRpZW50VHJhbnNmb3JtPSJtYXRyaXgoMSAwIDAgLT\
          EgMCA2MikiPgoJCQk8c3RvcCAgb2Zmc2V0PSIwIiBzdHlsZT0ic3RvcC1jb2xvcjojMzAzRDN\
          CIi8+CgkJCTxzdG9wICBvZmZzZXQ9IjAuMyIgc3R5bGU9InN0b3AtY29sb3I6IzM4NDc0NSIv\
          PgoJCQk8c3RvcCAgb2Zmc2V0PSIxIiBzdHlsZT0ic3RvcC1jb2xvcjojMzg0NzQ1Ii8+CgkJP\
          C9saW5lYXJHcmFkaWVudD4KCQk8cGF0aCBpZD0i0JrQvtC90YLRg9GAXzMxMjYtMl8xMl8iIG\
          NsYXNzPSJzdDEiIGQ9Ik0yOS45LDU1LjZMMTQuNCw5LjNDMTIuNiwzLjgsNi43LDAsMCwwdjY\
          waDM2LjZDMzMuNyw2MC4xLDMxLDU4LjQsMjkuOSw1NS42eiIKCQkJLz4KCTwvZz4KPC9nPgo8\
          L3N2Zz4K") left top / cover;
        }
      }

      &--active #{$this}__link {
        color: inherit;
        background: $white;

        &::after {
          background: url("data:image/svg+xml;base64,\
        PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yID\
        I0LjMuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249\
        IjEuMSIgaWQ9ItCh0LvQvtC5XzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dH\
        A6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAzOSA2MCIgc3R5bGU9ImVu\
        YWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMzkgNjA7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3\
        NzIj4KCS5zdDB7b3BhY2l0eTowLjk7ZmlsbDp1cmwoI1NWR0lEXzFfKTtlbmFibGUtYmFja2dyb3VuZDpuZXcgICAgO30KCS5z\
        dDF7ZmlsbDojRkZGRkZGO30KPC9zdHlsZT4KPGxpbmVhckdyYWRpZW50IGlkPSJTVkdJRF8xXyIgZ3JhZGllbnRVbml0cz0idX\
        NlclNwYWNlT25Vc2UiIHgxPSIwIiB5MT0iLTY3NCIgeDI9IjM5IiB5Mj0iLTY3NCIgZ3JhZGllbnRUcmFuc2Zvcm09Im1hdHJp\
        eCgxIDAgMCAtMSAwIC02NDQpIj4KCTxzdG9wICBvZmZzZXQ9IjAiIHN0eWxlPSJzdG9wLWNvbG9yOiMzMDNEM0I7c3RvcC1vcG\
        FjaXR5OjAuNCIvPgoJPHN0b3AgIG9mZnNldD0iMC44NSIgc3R5bGU9InN0b3AtY29sb3I6IzMwM0QzQjtzdG9wLW9wYWNpdHk6\
        MCIvPgo8L2xpbmVhckdyYWRpZW50Pgo8cmVjdCBjbGFzcz0ic3QwIiB3aWR0aD0iMzkiIGhlaWdodD0iNjAiLz4KPGc+Cgk8Zz\
        4KCQk8cGF0aCBpZD0i0JrQvtC90YLRg9GAXzMxMjYtMl8xMl8iIGNsYXNzPSJzdDEiIGQ9Ik0yOS45LDU1LjZMMTQuNCw5LjND\
        MTIuNiwzLjgsNi43LDAsMCwwdjYwaDM2LjZDMzMuNyw2MC4xLDMxLDU4LjQsMjkuOSw1NS42eiIvPgoJPC9nPgo8L2c+Cjwvc3\
        ZnPgo=") left top / cover;
        }
      }
    }
  }
}