.table-alt{
    $this: &;

    &__item{
        margin-bottom: 3rem;

        @include media(">=md"){
            position: relative;
            margin-bottom: 4rem;
        }

        @include media(">=xl"){
            padding-left: 11rem;
        }
    }

    &__main{
        @extend %clearfix;
        padding: 1.4rem 1.4rem 1rem;
        background-color: #F2F2F2;
        border-radius: 4px 4px 0 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 7.8rem;
        position: relative;

        @include media(">=md"){
            padding: 1.8rem;
            min-height: 11.6rem;
        }

        @include media(">=xl"){
            min-height: 0;
        }

        .text-overflow__toggle {
            background: #f2f2f2;
            background: linear-gradient(0deg, #F2F2F2 15%, rgba(242, 242, 242, 0) 100%);
            
            @include media("<md"){
                font-size: 1rem;
            }
        }
    }

    &__delete{
        @extend %buttonreset;
        color: #fff;
        font-size: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 3.1rem;
        height: 3.1rem;
        border-radius: 50%;
        text-align: center;
        transform: translate(50%, -50%);
        background-color: #C0C5CB;
        @include animate(background-color);

        &:hover{
            background-color: #707776;
        }
    }

    &__delete-icon{
        font-size: 1.8rem;
        line-height: 3.1rem;
    }

    &__img{
        position: absolute;
        left: 1.4rem;
        top: 1.4rem;
        width: 5rem;

        @include media(">=md"){
            left: 1.8rem;
            top: 1.8rem;
            width: 8rem;
        }

        @include media(">=xl"){
            left: -11rem;
            top: 1.8rem;
        }
    }

    &__img-item{
        display: block;
        width: 100%;
        border-radius: 2px;
    }

    &__name{
        @extend %linkreset;
        font-size: 1.2rem;
        margin-bottom: .7rem;
        margin-left: 6.26rem;
        display: block;

        @include media(">=md"){
            margin-left: 10rem;
            margin-right: 4rem;
            font-size: 1.3rem;
        }

        @include media(">=xl"){
            margin-left: 0;
        }
    }

    &__availability{
        font-size: 1.1rem;
        margin-right: 1.5rem;
        flex-shrink: 0;
        color: #98a3b3;

        @include media(">=md"){
            font-size: 1.3rem;
            margin-right: 5rem;
        }
    }

    &__item-rating{
        .item-rating__mark-item{
            @include media("<md"){
                font-size: 1rem;
            }
        }

        .item-rating__link{
            @include media("<md"){
                font-size: 1.1rem;
            }
        }
    }

    &__main-footer{
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        margin-left: 6.25rem;

        @include media(">=md"){
            margin-left: 10rem;
        }

        @include media(">=xl"){
            margin-left: 0;
        }
    }
    
    &__secondary{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem 1.4rem;
        background-color: #F9F9F9;

        @include media(">=md"){
            padding: 1.8rem;
        }

        @include media(">=lg"){
            flex-wrap: nowrap;
            justify-content: space-between;
            padding: 1rem 1.8rem;
            border-radius: 0 0 4px 4px;
        }
    }
    
    &__secondary-item{
        min-width: 50%;
        flex-shrink: 0;
        margin-bottom: 1rem;
        padding-right: 1rem;

        @include media(">=md"){
            margin-bottom: 1.4rem;
        }

        @include media(">=lg"){
            min-width: 0;
            margin-bottom: 0;
        }
        
        .product-price__pre{

            @include media("<md"){
                font-size: 1.1rem;
                margin-bottom: .3rem;
            }

            @include media(">=md"){
                margin-bottom: .8rem;
            }
        }
        
        .product-price__item{

            @include media("<md"){
                font-size: 1.3rem;
            }

            @include media(">=md"){
                font-size: 1.4rem;
            }
        }
        
        &.table-alt__secondary-item--primary{
            width: 100%;
            order: -1;
            padding-right: 0;

            @include media(">=lg"){
                width: 14rem;
                order: unset;
                margin-right: 1rem;
            }
        }
    }

    &__item-quantity{
        display: block;
        width: 100%;

        .item-quantity__input{
            background-color: $white;
            box-shadow: inset 0 0 0 1px #E9E9E9;
        }
    }
}