.account{
  border-bottom: 1px solid transparent;

  &__tabs{
    border-radius: 6px 6px 0 0;
    overflow: auto hidden;
    margin-bottom: 2rem;
  }

  &__table{
    &:not(:last-child){
      margin-bottom: 4rem;
    }

    @include media(">=xl"){
      &:not(:last-child){
        margin-bottom: 5rem;
      }
    }
  }

  &__order-search{
    margin-bottom: 2.5rem;

    @include media(">=md"){
      margin-bottom: 3.5rem;
    }
  }
}