.cart{
    padding-top: 2.5rem;
    padding-bottom: 4rem;

    @include media(">=lg"){
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

    &__order-summary{
        margin-bottom: 3.5rem;

        @include media(">=xl"){
            margin-bottom: 4rem;
        }
    }

    &__form{
        @include media(">=md"){
            display: flex;
            justify-content: space-between;
        }
    }

    &__form-group{

        &:not(:last-child){
            @include media("<md"){
                margin-bottom: 2rem;
            }
        }

        @include media(">=md"){
            width: calc(50% - 10px);
        }

        &--textarea{

            .form-row{
                @include media(">=md"){
                    display: flex;
                    flex-direction: column;
                    height: 100%;

                    &__control{
                        height: 10rem;
                        flex: 1 0 auto;
                    }
                }
            }
        }
    }
}