.cart{
    padding-top: 2.5rem;
    padding-bottom: 4rem;

    @include media(">=lg"){
        padding-top: 3rem;
        padding-bottom: 4rem;
    }

    &__order-summary{
        margin-bottom: 3.5rem;

        @include media(">=xl"){
            margin-bottom: 4rem;
        }
    }
}