.product-card{

  &__tabs{
    $tabs: ".tabs";
    border-radius: 6px 6px 0 0;
    overflow: auto hidden;
    margin-bottom: 2rem;

    @include media('>=md'){
      margin-bottom: 3rem;
    }

    @include media('<lg'){
      #{$tabs}__link{
        padding: 1.6rem .5rem 1.6rem 1.8rem;
        font-size: 1.2rem;
        margin-right: 1.5rem;

        &::after{
          width: 2.7rem;
        }
      }
    }
  }

  &__main{
    padding: 0 1.5rem;
    margin-bottom: 2rem;

    @include media(">=sm"){
      padding: 0 2.2rem;
    }

    @include media(">=md"){
      padding: 0 2.1rem;
    }

    @include media(">=lg"){
      padding: 0 2.9rem;
      display: grid;
      grid-template-areas:
        "gallery info"
        "service info";
        grid-template-columns: 300px 1fr;
        grid-template-rows: auto auto;
        grid-gap: 2rem 2.9rem;
    }

    @include media(">=xl"){
      padding: 0 3.3rem;
      grid-gap: 2rem 3.3rem;
      grid-template-columns: 350px 1fr;
    }

    @include media(">=xxl"){
      padding: 0 4rem;
      grid-gap: 2rem 4rem;
      grid-gap: 2rem 4rem;
      grid-template-columns: 400px 1fr;
    }
  }

  &__gallery{

    @include media(">=lg"){
      grid-area: gallery;
    }
  }

  &__info{
    
    @include media(">=md"){
      max-width: 81.2rem;
      margin-right: auto;
      margin-left: auto;
    }

    @include media(">=lg"){
      max-width: none;
      grid-area: info;
    }
  }

  &__item-rating{
    margin: 0 0 .75rem;

    @include media(">=md"){
      float: right;
      margin: .4rem 0 0;
    }
  }

  &__part-number{
    display: inline-block;
    font-size: 1.2rem;
    padding: .42em .95em;
    border-radius: 3px;
    background-color: rgba($curiousBlue,.3);
    color: $curiousBlue;
    margin-bottom: 1.5rem;

    @include media(">=md"){
      font-size: 1.3rem;
      margin-bottom: 2.7rem;
    }
  }

  &__name{
    font: 1.4rem/ 1.4 $base-font-family;
    font-weight: normal;
    margin: 0 0 2rem;

    @include media(">=md"){
      font-size: 1.5rem;
      line-height: 1.6;
      margin-bottom: 2.9rem;
    }
  }

  &__holder{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    @include media(">=xl"){
      flex-wrap: nowrap;
    }
  }

  &__holder-left,
  &__holder-right{
    max-width: 50%;

    @include media(">=xl"){
      max-width: none;
    }
  }

  &__holder-middle{
    display: flex;
    flex-shrink: 0;
    width: 100%;
    order: 1;
    margin-top: 2rem;

    @include media(">=xl"){
      width: 32rem;
      order: unset;
      margin: 0;
    }
  }

  &__availability{
    font-size: 1.3rem;
    line-height: 1;
  }

  &__product-price {
    margin-bottom: 1rem;

    .product-price__item {
      font-size: 2rem;

      &--old {
        font-size: 1.3rem;
      }

      @include media(">=md"){
        font-size: 2.6rem;

        &--old {
          font-size: 1.6rem;
        }
      }
    }
  }

  &__holder-quantity,
  &__holder-buy-btn{
    width: 50%;
    flex: 0 1 auto;
  }

  @include media(">=xl"){

    &__holder-quantity{
      width: 14rem;
    }

    &__holder-buy-btn{
      width: 18rem;
    }
  }

  &__holder-buy-btn.btn{
    border-radius: 0 3px 3px 0;
  }

  &__holder-quantity .item-quantity__input{
    border-radius: 3px 3px 0 0;
    min-height: 5rem;
  }

  &__service{

    @include media(">=lg"){
      grid-area: service;
    }
  }

}