.product-card{

  &__tabs{
    $tabs: ".tabs";
    border-radius: 6px 6px 0 0;
    overflow: auto hidden;
    margin-bottom: 2rem;

    @include media('>=md'){
      margin-bottom: 3rem;
    }

    @include media('<md'){
      #{$tabs}__link{
        padding: 1.6rem .5rem 1.6rem 1.8rem;
        font-size: 1.2rem;
        margin-right: 1.5rem;

        &::after{
          width: 2.7rem;
        }
      }
    }

    .tabs__link{
      @include media('>=md'){
        padding: 2.3rem 2.5rem 2.3rem 4rem;
      }
    }
  }

  &__main{
    padding: 0 1.5rem;
    margin-bottom: 2rem;

    @include media(">=sm"){
      padding: 0 2.2rem;
    }

    @include media(">=md"){
      padding: 0 2.1rem;
      margin-bottom: 4rem;
    }

    @include media(">=lg"){
      padding: 0 2.9rem;
      display: grid;
      grid-template-areas:
        "gallery info"
        "features info";
        grid-template-columns: 340px 1fr;
        grid-template-rows: auto 1fr;
        grid-gap: 2rem 4rem;
        align-items: start;
    }

    @include media(">=xl"){
      padding: 0 3.3rem;
      grid-template-columns: 370px 1fr;
    }

    @include media(">=xxl"){
      padding: 0 4rem;
      grid-template-columns: 400px 1fr;
    }
  }

  &__fav-add{
    position: absolute;
    left: 2rem;
    top: 2rem;
    z-index: 5;

    .fav-add__icon{
      font-size: 3rem;
    }
  }

  &__gallery{
    margin-bottom: 2.5rem;
    position: relative;

    @include media(">=md"){
      max-width: 76.8rem;
      margin-right: auto;
      margin-left: auto;
    }

    @include media(">=lg"){
      grid-area: gallery;
      max-width: none;
      margin: 0;
    }
  }

  &__info{
    margin-bottom: 2rem;
    
    @include media(">=md"){
      max-width: 76.8rem;
      margin-right: auto;
      margin-left: auto;
    }

    @include media(">=lg"){
      max-width: none;
      grid-area: info;
    }
  }

  &__item-rating{
    margin: 0 0 .75rem;

    @include media(">=md"){
      float: right;
      margin: .4rem 0 0;
    }
  }

  &__part-number{
    display: inline-block;
    font-size: 1.2rem;
    padding: .42em .95em;
    border-radius: 3px;
    background-color: rgba($curiousBlue,.3);
    color: $curiousBlue;
    margin-bottom: 1.5rem;

    @include media(">=md"){
      font-size: 1.3rem;
      margin-bottom: 2.7rem;
    }
  }

  &__name{
    font: 1.4rem/ 1.4 $base-font-family;
    font-weight: normal;
    margin: 0 0 1rem;

    @include media(">=md"){
      font-size: 1.5rem;
      line-height: 1.6;
      margin-bottom: 2.4rem;
    }
  }

  &__baloon-tip{
    display: inline-flex;

    @include media(">=md"){
      margin-bottom: 1rem;
    }

    @include media(">=md"){
      margin-bottom: 1.5rem;
    }
  }

  &__holder{
    @include media(">=md"){
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 3rem;
    }

    @include media(">=xxl"){
      justify-content: flex-start;
    }
  }

  &__price{
    display: grid;
    grid-template-columns: calc(40% - 1.5rem) 1fr;
    grid-gap: 1.5rem;
    margin: 2rem 0 1.5rem;

    @include media(">=md"){
      width: 40%;
      display: block;
      margin: 0;

      .product-card__product-price{
        padding: .7rem 0;
      }
    }

    @include media(">=xxl"){
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 2.5rem;
      width: auto;
      margin-right: 5rem;

      .product-card__product-price{
        padding: .55rem 0;
      }
    }

    .product-price__value{
      font-size: 1.9rem;

      @include media(">=xxl"){
        font-size: 2.2rem;
      }
    }

    .product-price__item--old .product-price__value{
      font-size: 1.6rem;

      @include media(">=xxl"){
        font-size: 1.8rem;
      }
    }
  }

  &__wished-price{
    margin-bottom: 1.5rem;
    margin-left: 1.8rem;
    max-width: 40rem;
  }

  &__controls{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;

    @include media(">=md"){
      width: 50%;
      max-width: 30rem;
      margin-bottom: 0;
      flex-direction: column;
    }

    @include media(">=xxl"){
      width: auto;
      flex-direction: row;
      max-width: none;
    }
  }

  &__buy-btn.btn{
    width: 60%;
    border-radius: 0 3px 3px 0;
    position: relative;
    padding-right: 1em;
    padding-left: 1em;

    @include media(">=md"){
      width: 100%;
    }

    @include media(">=xxl"){
      width: 20rem;
    }
  }

  &__quantity{
    width: 40%;

    @include media(">=md"){
      width: 100%;
    }

    @include media(">=xxl"){
      width: auto;
    }
  }

  &__quantity .item-quantity__input{
    border-radius: 3px 3px 0 0;
    min-height: 5rem;

    @include media(">=xxl"){
      width: 14rem;
    }
  }

  &__features{

    @include media('>=md'){
      max-width: 76.8rem;
      margin-right: auto;
      margin-left: auto;
    }

    @include media(">=lg"){
      grid-area: features;
    }
  }

  .product-list{
    padding-bottom: 3rem;
  }

}