.account{
    border-bottom: 1px solid transparent;

    &__tabs{
        border-radius: 6px 6px 0 0;
        overflow: auto hidden;
        margin-bottom: 2rem;
    
        @include media('>=md'){
          margin-bottom: 3rem;
        }
    }

    &__main{
        padding: 0 1.5rem 2rem;
        margin-bottom: 2rem;
    
        @include media(">=sm"){
          padding: 0 2.2rem;
        }
    
        @include media(">=md"){
          padding: 0 2.1rem;
          margin-bottom: 4rem;
        }
    
        @include media(">=lg"){
          padding: 0 2.9rem;
        }
    
        @include media(">=xl"){
          padding: 0 3.3rem;
        }
    
        @include media(">=xxl"){
          padding: 0 4rem;
        }
      }
}