<div class="carousel-section__item">
    <div class="container container--wide">
        <div class="carousel-section__inner">
            <div class="carousel-section__header">

                <div class="carousel-section__counter">
                    <span class="carousel-section__counter-active">01</span>
                    <span class="carousel-section__counter-total">04</span>
                </div>

                <div class="carousel-section__title">Рекомендуемые товары</div>

                <div class="carousel-section__arrows">
                    <button class="carousel-section__arrows-btn swiper-prev">
                        <i class="icon icon--arrow--left"></i>
                        <span>Назад</span>
                    </button>
                    <button class="carousel-section__arrows-btn swiper-next">
                        <i class="icon icon--arrow--right"></i>
                        <span>Вперед</span>
                    </button>
                </div>

                <a class="carousel-section__all-link" href="#">
                    <span class="carousel-section__all-link-text">Показать все</span>
                    <i class="icon icon--arrow--long--right carousel-section__all-link-icon"></i>
                </a>

            </div>
            <div class="carousel-section__body">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="product-tile">
                                <div class="product-tile__inner">

                                    <!--#region catalog tile main-->
                                    <div class="product-tile__primary">
                                        <a href="#" class="product-tile__fav-add fav-add">
                                            <i class="fav-add__icon icon icon--favorite--solid"></i>
                                        </a>
                                        <a href="#" class="product-tile__img">
                                            <img class="product-tile__img-item" src="assets/img/catalog/04.jpg" alt="image">
                                        </a>
                                        <a href="#" class="product-tile__name text-overflow" data-text-max-row="3">
                                            Тонер Static Control Brother HL-5340/ 5350/ 5370/ FC-8480/ 8680/ 8690/ 5350/ 5370/ 1020/ 1022/ 1050/ 1150/
                                        </a>
                                        <div class="product-tile__item-rating item-rating">
                                            <div class="item-rating__mark" data-mark="4.6"></div>
                                            <a class="item-rating__link" href="#">
                                                <span class="item-rating__link-pre">отзывы:</span>
                                                <span class="item-rating__link-val">14</span>
                                            </a>
                                        </div>
                                        <div class="product-tile__footer">
                                            <div class="product-tile__footer-controls">
                                                <!--                    <div class="product-tile__footer-controls-note">-->
                                                <!--                        В наличии. Доступен к заказу-->
                                                <!--                    </div>-->
                                                <button class="product-tile__footer-controls-btn btn btn--plain btn--style--green">
                                                    <i class="icon icon--cart--alt"></i>
                                                </button>
                                            </div>
                                            <div class="product-tile__product-price product-price">
                                                <div class="product-price__item">
                                                    <span class="product-price__value">312.25</span>
                                                    <span class="product-price__currency">&#8372;</span>
                                                </div>
                                            </div>
                                            <div class="product-tile__footer-availability text--marker--ok">
                                                Много
                                            </div>
                                        </div>
                                    </div>
                                    <!--#endregion catalog tile main-->

                                    <!--#region catalog tile sub-->
                                    <div class="product-tile__sub">
                                        <div class="product-tile__item-quantity item-quantity">
                                            <button class="item-quantity__btn item-quantity__btn--dec">-</button>
                                            <button class="item-quantity__btn item-quantity__btn--inc">+</button>
                                            <input class="item-quantity__input" type="number" value="1" min="1">
                                        </div>
                                        <div class="product-tile__part-number">Код товара: UTHP1010</div>
                                    </div>
                                    <!--#endregion catalog tile sub-->

                                </div>
                            </div><!--product tile -->
                        </div>
                        <div class="swiper-slide">
                            <div class="product-tile">
                                <div class="product-tile__inner">

                                    <!--#region catalog tile main-->
                                    <div class="product-tile__primary">
                                        <div class="product-tile__item-labels item-labels">
                                            <div class="item-labels__item item-labels__item--discount">Акция</div>
                                        </div>
                                        <a href="#" class="product-tile__fav-add fav-add">
                                            <i class="fav-add__icon icon icon--favorite--solid"></i>
                                        </a>
                                        <a href="#" class="product-tile__img">
                                            <img class="product-tile__img-item" src="assets/img/catalog/02.jpg" alt="image">
                                        </a>
                                        <a href="#" class="product-tile__name text-overflow" data-text-max-row="3">
                                            Тонер Katun Brother HL-6050, TN-4100/670, 220г/банка
                                        </a>
                                        <div class="product-tile__item-rating item-rating">
                                            <div class="item-rating__mark" data-mark="4.6"></div>
                                            <a class="item-rating__link" href="#">
                                                <span class="item-rating__link-pre">отзывы:</span>
                                                <span class="item-rating__link-val">14</span>
                                            </a>
                                        </div>
                                        <div class="product-tile__footer">
                                            <div class="product-tile__footer-controls">
                                                <!--                    <div class="product-tile__footer-controls-note">-->
                                                <!--                        В наличии. Доступен к заказу-->
                                                <!--                    </div>-->
                                                <button class="product-tile__footer-controls-btn btn btn--plain btn--style--green">
                                                    <i class="icon icon--cart--alt"></i>
                                                </button>
                                            </div>
                                            <div class="product-tile__product-price product-price">
                                                <div class="product-price__item">
                                                    <span class="product-price__value">36.25</span>
                                                    <span class="product-price__currency">&#8372;</span>
                                                </div>
                                                <div class="product-price__item product-price__item--old">
                                                    <span class="product-price__value">35.26</span>
                                                    <span class="product-price__currency">&#8372;</span>
                                                </div>
                                            </div>
                                            <div class="product-tile__footer-availability text--marker--ok">
                                                Много
                                            </div>
                                        </div>
                                    </div>
                                    <!--#endregion catalog tile main-->

                                    <!--#region catalog tile sub-->
                                    <div class="product-tile__sub">
                                        <div class="product-tile__item-quantity item-quantity">
                                            <button class="item-quantity__btn item-quantity__btn--dec">-</button>
                                            <button class="item-quantity__btn item-quantity__btn--inc">+</button>
                                            <input class="item-quantity__input" type="number" value="1" min="1">
                                        </div>
                                        <div class="product-tile__part-number">Код товара: UTHP1010</div>
                                    </div>
                                    <!--#endregion catalog tile sub-->

                                </div>
                            </div><!--product tile -->
                        </div>
                        <div class="swiper-slide">
                            <div class="product-tile">
                                <div class="product-tile__inner">

                                    <!--#region catalog tile main-->
                                    <div class="product-tile__primary">
                                        <div class="product-tile__item-labels item-labels">
                                            <div class="item-labels__item item-labels__item--new">Новинка</div>
                                        </div>
                                        <a href="#" class="product-tile__fav-add fav-add">
                                            <i class="fav-add__icon icon icon--favorite--solid"></i>
                                        </a>
                                        <a href="#" class="product-tile__img">
                                            <img class="product-tile__img-item" src="assets/img/catalog/03.jpg" alt="image">
                                        </a>
                                        <a href="#" class="product-tile__name text-overflow" data-text-max-row="3">
                                            Тонер Static Control Brother HL-5340/ 5350/ 5370/ FC-8480/ 8680/ 8690/ 5350/ 5370/
                                        </a>
                                        <div class="product-tile__item-rating item-rating">
                                            <div class="item-rating__mark" data-mark="4.6"></div>
                                            <a class="item-rating__link" href="#">
                                                <span class="item-rating__link-pre">отзывы:</span>
                                                <span class="item-rating__link-val">14</span>
                                            </a>
                                        </div>
                                        <div class="product-tile__footer">
                                            <div class="product-tile__footer-controls">
                                                <!--                    <div class="product-tile__footer-controls-note">-->
                                                <!--                        В наличии. Доступен к заказу-->
                                                <!--                    </div>-->
                                                <button class="product-tile__footer-controls-btn btn btn--plain btn--style--lightblue">
                                                    <i class="icon icon--cart--locked"></i>
                                                </button>
                                            </div>
                                            <div class="product-tile__product-price product-price">
                                                <div class="product-price__item">
                                                    <span class="product-price__value">312.25</span>
                                                    <span class="product-price__currency">&#8372;</span>
                                                </div>
                                            </div>
                                            <div class="product-tile__footer-availability text--marker--danger">
                                                Заканчивается
                                            </div>
                                        </div>
                                    </div>
                                    <!--#endregion catalog tile main-->

                                    <!--#region catalog tile sub-->
                                    <div class="product-tile__sub">
                                        <div class="product-tile__item-quantity item-quantity">
                                            <button class="item-quantity__btn item-quantity__btn--dec">-</button>
                                            <button class="item-quantity__btn item-quantity__btn--inc">+</button>
                                            <input class="item-quantity__input" type="number" value="1" min="1">
                                        </div>
                                        <div class="product-tile__part-number">Код товара: UTHP1010</div>
                                    </div>
                                    <!--#endregion catalog tile sub-->

                                </div>
                            </div><!--product tile -->
                        </div>
                        <div class="swiper-slide">
                            <div class="product-tile">
                                <div class="product-tile__inner">

                                    <!--#region catalog tile main-->
                                    <div class="product-tile__primary">
                                        <a href="#" class="product-tile__fav-add fav-add">
                                            <i class="fav-add__icon icon icon--favorite--solid"></i>
                                        </a>
                                        <a href="#" class="product-tile__img">
                                            <img class="product-tile__img-item" src="assets/img/catalog/04.jpg" alt="image">
                                        </a>
                                        <a href="#" class="product-tile__name text-overflow" data-text-max-row="3">
                                            Тонер Static Control Brother HL-5340/ 5350/ 5370/ FC-8480/ 8680/ 8690/ 5350/ 5370/ 1020/ 1022/ 1050/ 1150/
                                        </a>
                                        <div class="product-tile__item-rating item-rating">
                                            <div class="item-rating__mark" data-mark="4.6"></div>
                                            <a class="item-rating__link" href="#">
                                                <span class="item-rating__link-pre">отзывы:</span>
                                                <span class="item-rating__link-val">14</span>
                                            </a>
                                        </div>
                                        <div class="product-tile__footer">
                                            <div class="product-tile__footer-controls">
                                                <!--                    <div class="product-tile__footer-controls-note">-->
                                                <!--                        В наличии. Доступен к заказу-->
                                                <!--                    </div>-->
                                                <button class="product-tile__footer-controls-btn btn btn--plain btn--style--lightgreen">
                                                    <i class="icon icon--cart--processing"></i>
                                                </button>
                                            </div>
                                            <div class="product-tile__product-price product-price">
                                                <div class="product-price__item">
                                                    <span class="product-price__value">312.25</span>
                                                    <span class="product-price__currency">&#8372;</span>
                                                </div>
                                            </div>
                                            <div class="product-tile__footer-availability text--marker--ok">
                                                Много
                                            </div>
                                        </div>
                                    </div>
                                    <!--#endregion catalog tile main-->

                                    <!--#region catalog tile sub-->
                                    <div class="product-tile__sub">
                                        <div class="product-tile__item-quantity item-quantity">
                                            <button class="item-quantity__btn item-quantity__btn--dec">-</button>
                                            <button class="item-quantity__btn item-quantity__btn--inc">+</button>
                                            <input class="item-quantity__input" type="number" value="1" min="1">
                                        </div>
                                        <div class="product-tile__part-number">Код товара: UTHP1010</div>
                                    </div>
                                    <!--#endregion catalog tile sub-->

                                </div>
                            </div><!--product tile -->
                        </div>
                        <div class="swiper-slide">
                            <div class="product-tile">
                                <div class="product-tile__inner">

                                    <!--#region catalog tile main-->
                                    <div class="product-tile__primary">
                                        <a href="#" class="product-tile__fav-add fav-add">
                                            <i class="fav-add__icon icon icon--favorite--solid"></i>
                                        </a>
                                        <a href="#" class="product-tile__img">
                                            <img class="product-tile__img-item" src="assets/img/catalog/01.jpg" alt="image">
                                        </a>
                                        <a href="#" class="product-tile__name text-overflow" data-text-max-row="3">
                                            Тонер Katun HP LJ 1010/ 1012/ 1015/ 1020/ 1022/ 1050/ 1150/ 1200/ 1250/ 1020/ 1022/ 1050/ 1022/ 1050/ 1150/ 1022/ 1050/ 1150/
                                        </a>
                                        <div class="product-tile__item-rating item-rating">
                                            <div class="item-rating__mark" data-mark="4.6"></div>
                                            <a class="item-rating__link" href="#">
                                                <span class="item-rating__link-pre">отзывы:</span>
                                                <span class="item-rating__link-val">14</span>
                                            </a>
                                        </div>
                                        <div class="product-tile__footer">
                                            <div class="product-tile__footer-controls">
                                                <!--                    <div class="product-tile__footer-controls-note">-->
                                                <!--                        В наличии. Доступен к заказу-->
                                                <!--                    </div>-->
                                                <button class="product-tile__footer-controls-btn btn btn--plain btn--style--darkgrey">
                                                    <i class="icon icon--cart--warning"></i>
                                                </button>
                                            </div>
                                            <div class="product-tile__product-price product-price">
                                                <div class="product-price__item">
                                                    <span class="product-price__value">36.25</span>
                                                    <span class="product-price__currency">&#8372;</span>
                                                </div>
                                            </div>
                                            <div class="product-tile__footer-availability text--marker--darkgrey">
                                                Нет в наличии
                                            </div>
                                        </div>
                                    </div>
                                    <!--#endregion catalog tile main-->

                                    <!--#region catalog tile sub-->
                                    <div class="product-tile__sub">
                                        <div class="product-tile__item-quantity item-quantity">
                                            <button class="item-quantity__btn item-quantity__btn--dec">-</button>
                                            <button class="item-quantity__btn item-quantity__btn--inc">+</button>
                                            <input class="item-quantity__input" type="number" value="1" min="1">
                                        </div>
                                        <div class="product-tile__part-number">Код товара: UTHP1010</div>
                                    </div>
                                    <!--#endregion catalog tile sub-->

                                </div>
                            </div><!--product tile -->
                        </div>
                        <div class="swiper-slide">
                            <div class="product-tile">
                                <div class="product-tile__inner">

                                    <!--#region catalog tile main-->
                                    <div class="product-tile__primary">
                                        <a href="#" class="product-tile__fav-add fav-add">
                                            <i class="fav-add__icon icon icon--favorite--solid"></i>
                                        </a>
                                        <a href="#" class="product-tile__img">
                                            <img class="product-tile__img-item" src="assets/img/catalog/02.jpg" alt="image">
                                        </a>
                                        <a href="#" class="product-tile__name text-overflow" data-text-max-row="3">
                                            Тонер Katun Brother HL-6050, TN-4100/670, 220г/банка
                                        </a>
                                        <div class="product-tile__item-rating item-rating">
                                            <div class="item-rating__mark" data-mark="4.6"></div>
                                            <a class="item-rating__link" href="#">
                                                <span class="item-rating__link-pre">отзывы:</span>
                                                <span class="item-rating__link-val">14</span>
                                            </a>
                                        </div>
                                        <div class="product-tile__footer">
                                            <div class="product-tile__footer-controls">
                                                <!--                    <div class="product-tile__footer-controls-note">-->
                                                <!--                        В наличии. Доступен к заказу-->
                                                <!--                    </div>-->
                                                <button class="product-tile__footer-controls-btn btn btn--plain btn--style--green">
                                                    <i class="icon icon--cart--alt"></i>
                                                </button>
                                            </div>
                                            <div class="product-tile__product-price product-price">
                                                <div class="product-price__item">
                                                    <span class="product-price__value">262.50</span>
                                                    <span class="product-price__currency">&#8372;</span>
                                                </div>
                                            </div>
                                            <div class="product-tile__footer-availability text--marker--ok">
                                                Много
                                            </div>
                                        </div>
                                    </div>
                                    <!--#endregion catalog tile main-->

                                    <!--#region catalog tile sub-->
                                    <div class="product-tile__sub">
                                        <div class="product-tile__item-quantity item-quantity">
                                            <button class="item-quantity__btn item-quantity__btn--dec">-</button>
                                            <button class="item-quantity__btn item-quantity__btn--inc">+</button>
                                            <input class="item-quantity__input" type="number" value="1" min="1">
                                        </div>
                                        <div class="product-tile__part-number">Код товара: UTHP1010</div>
                                    </div>
                                    <!--#endregion catalog tile sub-->

                                </div>
                            </div><!--product tile -->
                        </div>
                        <div class="swiper-slide">
                            <div class="product-tile">
                                <div class="product-tile__inner">

                                    <!--#region catalog tile main-->
                                    <div class="product-tile__primary">
                                        <div class="product-tile__item-labels item-labels">
                                            <div class="item-labels__item item-labels__item--new">Новинка</div>
                                        </div>
                                        <a href="#" class="product-tile__fav-add fav-add">
                                            <i class="fav-add__icon icon icon--favorite--solid"></i>
                                        </a>
                                        <a href="#" class="product-tile__img">
                                            <img class="product-tile__img-item" src="assets/img/catalog/03.jpg" alt="image">
                                        </a>
                                        <a href="#" class="product-tile__name text-overflow" data-text-max-row="3">
                                            Тонер Static Control Brother HL-5340/ 5350/ 5370/ FC-8480/ 8680/ 8690/ 5350/ 5370/
                                        </a>
                                        <div class="product-tile__item-rating item-rating">
                                            <div class="item-rating__mark" data-mark="4.6"></div>
                                            <a class="item-rating__link" href="#">
                                                <span class="item-rating__link-pre">отзывы:</span>
                                                <span class="item-rating__link-val">14</span>
                                            </a>
                                        </div>
                                        <div class="product-tile__footer">
                                            <div class="product-tile__footer-controls">
                                                <!--                    <div class="product-tile__footer-controls-note">-->
                                                <!--                        В наличии. Доступен к заказу-->
                                                <!--                    </div>-->
                                                <button class="product-tile__footer-controls-btn btn btn--plain btn--style--green">
                                                    <i class="icon icon--cart--alt"></i>
                                                </button>
                                            </div>
                                            <div class="product-tile__product-price product-price">
                                                <div class="product-price__item">
                                                    <span class="product-price__value">312.25</span>
                                                    <span class="product-price__currency">&#8372;</span>
                                                </div>
                                            </div>
                                            <div class="product-tile__footer-availability text--marker--danger">
                                                Заканчивается
                                            </div>
                                        </div>
                                    </div>
                                    <!--#endregion catalog tile main-->

                                    <!--#region catalog tile sub-->
                                    <div class="product-tile__sub">
                                        <div class="product-tile__item-quantity item-quantity">
                                            <button class="item-quantity__btn item-quantity__btn--dec">-</button>
                                            <button class="item-quantity__btn item-quantity__btn--inc">+</button>
                                            <input class="item-quantity__input" type="number" value="1" min="1">
                                        </div>
                                        <div class="product-tile__part-number">Код товара: UTHP1010</div>
                                    </div>
                                    <!--#endregion catalog tile sub-->

                                </div>
                            </div><!--product tile -->
                        </div>
                        <div class="swiper-slide">
                            <div class="product-tile">
                                <div class="product-tile__inner">

                                    <!--#region catalog tile main-->
                                    <div class="product-tile__primary">
                                        <a href="#" class="product-tile__fav-add fav-add">
                                            <i class="fav-add__icon icon icon--favorite--solid"></i>
                                        </a>
                                        <a href="#" class="product-tile__img">
                                            <img class="product-tile__img-item" src="assets/img/catalog/04.jpg" alt="image">
                                        </a>
                                        <a href="#" class="product-tile__name text-overflow" data-text-max-row="3">
                                            Тонер Static Control Brother HL-5340/ 5350/ 5370/ FC-8480/ 8680/ 8690/ 5350/ 5370/ 1020/ 1022/ 1050/ 1150/
                                        </a>
                                        <div class="product-tile__item-rating item-rating">
                                            <div class="item-rating__mark" data-mark="4.6"></div>
                                            <a class="item-rating__link" href="#">
                                                <span class="item-rating__link-pre">отзывы:</span>
                                                <span class="item-rating__link-val">14</span>
                                            </a>
                                        </div>
                                        <div class="product-tile__footer">
                                            <div class="product-tile__footer-controls">
                                                <!--                    <div class="product-tile__footer-controls-note">-->
                                                <!--                        В наличии. Доступен к заказу-->
                                                <!--                    </div>-->
                                                <button class="product-tile__footer-controls-btn btn btn--plain btn--style--green">
                                                    <i class="icon icon--cart--alt"></i>
                                                </button>
                                            </div>
                                            <div class="product-tile__product-price product-price">
                                                <div class="product-price__item">
                                                    <span class="product-price__value">312.25</span>
                                                    <span class="product-price__currency">&#8372;</span>
                                                </div>
                                            </div>
                                            <div class="product-tile__footer-availability text--marker--ok">
                                                Много
                                            </div>
                                        </div>
                                    </div>
                                    <!--#endregion catalog tile main-->

                                    <!--#region catalog tile sub-->
                                    <div class="product-tile__sub">
                                        <div class="product-tile__item-quantity item-quantity">
                                            <button class="item-quantity__btn item-quantity__btn--dec">-</button>
                                            <button class="item-quantity__btn item-quantity__btn--inc">+</button>
                                            <input class="item-quantity__input" type="number" value="1" min="1">
                                        </div>
                                        <div class="product-tile__part-number">Код товара: UTHP1010</div>
                                    </div>
                                    <!--#endregion catalog tile sub-->

                                </div>
                            </div><!--product tile -->
                        </div>
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>