<div class="container container--medium">
    <div class="carousel-wide__inner">
        <div class="carousel-wide__header">

            <div class="carousel-wide__counter">
                <span class="carousel-wide__counter-active">01</span>
                <span class="carousel-wide__counter-total">04</span>
            </div>

            <div class="carousel-wide__title">Рекомендуемые товары</div>

            <div class="carousel-wide__arrows">
                <button class="carousel-wide__arrows-btn">
                    <i class="icon icon--arrow--left"></i>
                    <span>Назад</span>
                </button>
                <button class="carousel-wide__arrows-btn">
                    <i class="icon icon--arrow--right"></i>
                    <span>Вперед</span>
                </button>
            </div>

            <a class="carousel-wide__all-link" href="#">
                <span class="carousel-wide__all-link-text">Показать все</span>
                <i class="icon icon--arrow--long--right"></i>
            </a>

        </div>
        <div class="carousel-wide__body carousel">
            {{> product-tiles }}
        </div>
    </div>
</div>