<button class="content-holder__sidebar-close-btn sidebar-toggle">
    <i class="icon icon--arrow--left"></i>
    <span>Скрыть</span>
</button>

<ul class="tabs sidebar-filter__tabs">
    <li class="tabs__item tabs__item--active">
        <a class="tabs__link" href="#"  data-tab-label="filter">Фильтр</a>
    </li>
    <li class="tabs__item">
        <a class="tabs__link" href="#"  data-tab-label="partition">Разделы</a>
    </li>
</ul><!-- tabs label holder -->

<div class="tabs__content-item tabs__content-item--active" data-tab-content="filter">

    <!--#region catalog sidebar group -->
    <div class="sidebar-filter__group sidebar-filter__group--active-items">
        <div class="sidebar-filter__group-title disabled">
            <span class="sidebar-filter__group-title-text">Активные фильтры</span>
        </div>

        <div class="sidebar-filter__group-body">
            <div class="sidebar-filter__active">
                <button class="sidebar-filter__active-item">
                    <span class="sidebar-filter__active-item-text">3М</span>
                </button>
                <button class="sidebar-filter__active-item">
                    <span class="sidebar-filter__active-item-text">Foshan Yat Sing</span>
                </button>
                <button class="sidebar-filter__active-item">
                    <span class="sidebar-filter__active-item-text">Black</span>
                </button>
                <button class="sidebar-filter__active-item sidebar-filter__active-item--reset">
                    <span class="sidebar-filter__active-item-text">Сбросить все фильтры</span>
                </button>
            </div>
        </div>

    </div>
    <!--#endregion catalog sidebar group -->

    <div class="sidebar-filter__group">

        <div class="sidebar-filter__group-title active">
            <span class="sidebar-filter__group-title-text">Производитель</span>
            <span class="sidebar-filter__group-title-toggler"></span>
        </div>

        <div class="sidebar-filter__group-body">

            <label class="checkbox-radio checkbox-radio--count sidebar-filter__checkbox-radio">
                <input class="checkbox-radio__input" type="checkbox" name="" value="">
                <span class="checkbox-radio__toggler"></span>
                <span class="checkbox-radio__label" data-count="123">
                            1C Original
                        </span>
            </label>

            <label class="checkbox-radio checkbox-radio--count sidebar-filter__checkbox-radio">
                <input class="checkbox-radio__input" type="checkbox" name="" value="" checked>
                <span class="checkbox-radio__toggler"></span>
                <span class="checkbox-radio__label" data-count="23">
                            3М
                        </span>
            </label>

            <label class="checkbox-radio checkbox-radio--count sidebar-filter__checkbox-radio">
                <input class="checkbox-radio__input" type="checkbox" name="" value="">
                <span class="checkbox-radio__toggler"></span>
                <span class="checkbox-radio__label" data-count="14">
                            Hanp
                        </span>
            </label>

            <label class="checkbox-radio checkbox-radio--count sidebar-filter__checkbox-radio">
                <input class="checkbox-radio__input" type="checkbox" name="" value="" checked>
                <span class="checkbox-radio__toggler"></span>
                <span class="checkbox-radio__label" data-count="21">
                            Foshan Yat Sing
                        </span>
            </label>

            <label class="checkbox-radio checkbox-radio--count sidebar-filter__checkbox-radio">
                <input class="checkbox-radio__input" type="checkbox" name="" value="">
                <span class="checkbox-radio__toggler"></span>
                <span class="checkbox-radio__label" data-count="42">
                            IPM
                        </span>
            </label>

            <label class="checkbox-radio checkbox-radio--count sidebar-filter__checkbox-radio">
                <input class="checkbox-radio__input" type="checkbox" name="" value="">
                <span class="checkbox-radio__toggler"></span>
                <span class="checkbox-radio__label" data-count="56">
                            Katun
                        </span>
            </label>

            <label class="checkbox-radio checkbox-radio--count sidebar-filter__checkbox-radio">
                <input class="checkbox-radio__input" type="checkbox" name="" value="">
                <span class="checkbox-radio__toggler"></span>
                <span class="checkbox-radio__label" data-count="125">
                            Kuroki
                        </span>
            </label>

            <label class="checkbox-radio checkbox-radio--count sidebar-filter__checkbox-radio">
                <input class="checkbox-radio__input" type="checkbox" name="" value="">
                <span class="checkbox-radio__toggler"></span>
                <span class="checkbox-radio__label" data-count="21">
                            MK-Imaging, Delacamp
                        </span>
            </label>

            <label class="checkbox-radio checkbox-radio--count sidebar-filter__checkbox-radio">
                <input class="checkbox-radio__input" type="checkbox" name="" value="">
                <span class="checkbox-radio__toggler"></span>
                <span class="checkbox-radio__label" data-count="34">
                            Printermayin
                        </span>
            </label>

            <label class="checkbox-radio checkbox-radio--count sidebar-filter__checkbox-radio">
                <input class="checkbox-radio__input" type="checkbox" name="" value="">
                <span class="checkbox-radio__toggler"></span>
                <span class="checkbox-radio__label" data-count="13">
                            Static Control
                        </span>
            </label>

        </div>

    </div><!-- catalog sidebar group -->

    <div class="sidebar-filter__group">

        <div class="sidebar-filter__group-title active">
            <span class="sidebar-filter__group-title-text">Цвет</span>
            <span class="sidebar-filter__group-title-toggler"></span>
        </div>

        <div class="sidebar-filter__group-body">

            <label class="checkbox-radio checkbox-radio--count sidebar-filter__checkbox-radio">
                <input class="checkbox-radio__input" type="checkbox" name="" value="">
                <span class="checkbox-radio__toggler"></span>
                <span class="checkbox-radio__label" data-count="123">
                            Cyan
                        </span>
            </label>

            <label class="checkbox-radio checkbox-radio--count sidebar-filter__checkbox-radio">
                <input class="checkbox-radio__input" type="checkbox" name="" value="">
                <span class="checkbox-radio__toggler"></span>
                <span class="checkbox-radio__label" data-count="23">
                            Magenta
                        </span>
            </label>

            <label class="checkbox-radio checkbox-radio--count sidebar-filter__checkbox-radio">
                <input class="checkbox-radio__input" type="checkbox" name="" value="">
                <span class="checkbox-radio__toggler"></span>
                <span class="checkbox-radio__label" data-count="14">
                            Yellow
                        </span>
            </label>

            <label class="checkbox-radio checkbox-radio--count sidebar-filter__checkbox-radio">
                <input class="checkbox-radio__input" type="checkbox" name="" value="" checked>
                <span class="checkbox-radio__toggler"></span>
                <span class="checkbox-radio__label" data-count="21">
                            Black
                        </span>
            </label>
        </div>

    </div><!-- catalog sidebar group -->

</div><!-- tabs content item -->
<div class="tabs__content-item" data-tab-content="partition">

</div><!-- tabs content item -->