<div class="footer page__footer">
    <div class="footer__main">
        <div class="container">

            <div class="logo footer__logo">
                <img class="logo__img" src="assets/img/public/logo.svg" alt="DW Group">
            </div>

            <section class="footer__contact-panel contact-panel contact-panel--footer">
                <div class="contact-panel__body">
                    <ul class="contact-panel__list iconic-list">
                        <li class="iconic-list__item">
                            <i class="iconic-list__icon icon icon--phone--circled"></i>
                            <a class="iconic-list__link" href="tel:+380443842245">044 384 22 45</a>
                        </li>
                        <li class="iconic-list__item">
                            <i class="iconic-list__icon icon icon--email--circled"></i>
                            <a class="iconic-list__link" href="mailto:sales@dwgroup.ua">sales@dwgroup.ua</a>
                        </li>
                        <li class="iconic-list__item">
                            <i class="iconic-list__icon icon icon--clock--circled"></i>
                            <span>Пн-Пт: 09 - 18:00</span>
                        </li>
                    </ul><!-- header contacts -->

                    <ul class="contact-panel__list">
                        <li class="contact-panel__list-item">
                            <a class="contact-panel__link" href="#">О компании</a>
                        </li>
                        <li class="contact-panel__list-item">
                            <a class="contact-panel__link" href="#">Полезная информация</a>
                        </li>
                        <li class="contact-panel__list-item">
                            <a class="contact-panel__link" href="#">Доставка и оплата</a>
                        </li>
                        <li class="contact-panel__list-item">
                            <a class="contact-panel__link" href="#">Контакты</a>
                        </li>
                    </ul>
                </div>
            </section><!-- contact panel -->

            <section class="footer__nav">

                <div class="footer__nav-title title-bordered title-bordered--white">
                    <h3 class="title-bordered__heading">Каталог товаров</h3>
                </div>

                <nav class="footer__nav-body">
                    <ul class="footer__nav-list">
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Бумага</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Валы заряда</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Валы магнитные/ проявляющие</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Валы подачи/ переноса/ очистки</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Валы резиновые</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Валы тефлоновые</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Валы фетровые</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Втулки/Бушинги</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Девелопер</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Детали аппаратов</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Детали картриджей</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Картридж</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Картридж первопроходный</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Лампы</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Лезвия очистки/дозирования</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Лезвия уплотнительные</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Нагревательные элементы</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Печка/Узел закрепления</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Принтеры</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Пылесосы для тонера</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Разное</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Респиратор</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Пылесосы для тонера</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Ролики захвата/подачи</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Сепараторы</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Смазка</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Термистор</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Термопленка</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Тормозная площадка</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Упаковочные материалы</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Фасовка</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Фотобарабаны</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Чипы</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Чистящие средства</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Шестерни</a>
                        </li>
                        <li class="footer__nav-item">
                            <a class="footer__nav-link" href="#">Шлейфы</a>
                        </li>
                    </ul>
                </nav><!-- catalog nav body-->

            </section><!-- footer nav -->

        </div>
    </div><!-- footer main -->

    <div class="footer__bottom">
        <div class="container">

            <span class="footer__copyright">© 2020 DW-Group.ua</span>

            <ul class="socials">
                <li class="socials__item">
                    <a class="socials__link" target="_blank" href="#">
                        <i class="icon icon--facebook"></i>
                        <span>Facebook</span>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" target="_blank" href="#">
                        <i class="icon icon--instagram"></i>
                        <span>Instagram</span>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" target="_blank" href="#">
                        <i class="icon icon--youtube"></i>
                        <span>Youtube</span>
                    </a>
                </li>
                <li class="socials__item">
                    <a class="socials__link" target="_blank" href="#">
                        <i class="icon icon--pinterest"></i>
                        <span>Pinterest</span>
                    </a>
                </li>
            </ul><!-- socials -->

        </div>
    </div><!-- footer bottom -->

</div>