<div class="modal modal--search close-modal" id="modal-password-recover">
    <div class="modal__body modal__body--size--sm">
        <div class="modal__header">
            <h3 class="modal__header-title">Восстановить пароль</h3>
            <button class="modal__header-close">
                <i class="icon icon--cancel close-modal"></i>
                <span>Закрыть</span>
            </button>
        </div>
        <form class="form" action="/">
            <div class="modal__content">
                <p>
                    На ваш e-mail будет выслан пароль учетной записи.
                </p>
                <label class="form-row form__row">
                    <span class="form-row__label">E-mail</span>
                    <input class="form-row__control" type="email" name="email" required>
                </label>
            </div>
            <div class="modal__footer">
                <button type="button" class="modal__footer-btn btn btn--style--wired-grey close-modal">
                    <span class="btn__text close-modal">Отмена</span>
                </button>
                <button type="submit" class="modal__footer-btn btn btn--style--default">
                    <span class="btn__text">Отправить</span>
                </button>
            </div>
        </form>
    </div>
</div>