<div class="modal modal--search close-modal" id="modal-password">
    <div class="modal__body modal__body--size--lg modal__body--side-img">
        <div class="modal__header">
            <h3 class="modal__header-title">Сменить пароль</h3>
            <button class="modal__header-close">
                <i class="icon icon--cancel close-modal"></i>
                <span>Закрыть</span>
            </button>
        </div>
        <form class="form" action="/">
            <div class="modal__content">
                <label class="form-row form__row form-row--input-icon form__row password-toggle">
                    <i class="form-row__icon icon icon--eye password-toggle__btn"></i>
                    <span class="form-row__label">Текущий пароль</span>
                    <input class="form-row__control password-toggle__control" type="password" name="current password" required>
                    <a href="#" class="text text--smaller-85 close-modal" data-modal-id="modal-password-recover">
                        Не помните свой пароль?
                    </a>
                </label>
                <label class="form-row form-row--input-icon form__row password-toggle">
                    <i class="form-row__icon icon icon--eye password-toggle__btn"></i>
                    <span class="form-row__label">Новый пароль</span>
                    <input class="form-row__control password-toggle__control" type="password" name="new password" required>
                </label>
                <label class="form-row form-row--input-icon form__row password-toggle">
                    <i class="form-row__icon icon icon--eye password-toggle__btn"></i>
                    <span class="form-row__label">Новый пароль еще раз</span>
                    <input class="form-row__control password-toggle__control" type="password" name="new password" required>
                </label>
            </div>
            <div class="modal__footer">
                <button type="button" class="modal__footer-btn btn btn--style--wired-grey close-modal">
                    <span class="btn__text close-modal">Отмена</span>
                </button>
                <button type="submit" class="modal__footer-btn btn btn--style--default">
                    <span class="btn__text">Сохранить</span>
                </button>
            </div>
        </form>
    </div>
</div>