<div class="modal modal--info close-modal" id="modal-info">
    <div class="modal__body modal__body--size--sm">
        <div class="modal__header">
            <h3 class="modal__header-title">Благодарим за заказ</h3>
            <button class="modal__header-close">
                <i class="icon icon--cancel close-modal"></i>
                <span>Закрыть</span>
            </button>
        </div>
        <div class="modal__content">
            <img loading="lazy" src="assets/img/public/success.svg" alt="Success" class="modal__title-icon" />

            <p>Ваш заказ поступил в обработку. Наш сотрудник свяжется с вами для подтверждения в ближайшее время</p>
        </div>
        <!-- modal content -->
        <div class="modal__footer">
            <div class="control-pad control-pad--modal">
                <button class="control-pad__btn btn btn--style--wired-default close-modal" href="#">Закрыть</button>
            </div>
            <!-- control pad -->
        </div>
    </div>
</div>
