<div class="container page-desc__container">
    <div class="page-desc__inner">
        <div class="page-desc__img">
            <img
                loading="lazy"
                src="assets/img/page-desc.png"
                alt="Лучшие расходные материалы и запчасти для печатающей техники!"
                class="page-desc__img-item"
            />
        </div>
        <div class="page-desc__text">
            <h2>Лучшие расходные материалы и запасные части!</h2>
            <p>
                Наша компания предлагает в ассортименте лучшие расходные материалы для печатающей техники. Мы являемся
                авторизированным импортёром совместимых и оригинальных расходных материалов, а также запчастей к офисной
                печатающей технике (принтеры, МФУ, копировальные аппараты/КМА/копиры/ксероксы).
            </p>
            <p>
                Наши клиенты - крупные компании из Киева и регионов (дилеры), сервисные центры, предоставляющие услуги
                заправки и ремонта печатающей техники, а также небольшие компании и ФЛП по всей Украине, которые
                предоставляют услуги по заправке и ремонту соответствующей техники. Также мы предоставляем необходимые
                комплектующие для розничных клиентов, которым нужны картриджи/тонеры/расходные материалы/запчасти для
                полноценной работы и починки принтера.
            </p>
            <p>
                Для того, чтобы Ваш принтер Вас не подводил, нужно быть уверенным в его исправности, а также в наличии
                тонера. Наша фирма поможет Вам в этом. У нас Вы можете приобрести такие комплектующие, как тонер для
                лазерного принтера, тонер-картридж, драм-картридж, девелопер, чип, лезвия очистки/дозирования,
                термопленку, ролик захвата бумаги, тормозную площадку, шестерню, узел закрепления и вал для принтера.
            </p>
        </div>
    </div>
</div>
