<span class="pagination__btn pagination__btn--disabled">
    <i class="pagination__btn-icon icon--arrow--angle--left"></i>
    <span class="pagination__btn-text">Предыдущая страница</span>
</span>

<ul class="pagination__list">
    <li class="pagination__list-item pagination__list-item--active">
        <a href="#" class="pagination__list-link">1</a>
    </li>
    <li class="pagination__list-item">
        <a href="#" class="pagination__list-link">2</a>
    </li>
    <li class="pagination__list-item">
        <a href="#" class="pagination__list-link">3</a>
    </li>
    <li class="pagination__list-item">
        <a href="#" class="pagination__list-link">4</a>
    </li>
    <li class="pagination__list-item">
        <a href="#" class="pagination__list-link">5</a>
    </li>
</ul>

<a href="#" class="pagination__btn">
    <span class="pagination__btn-text">Следующая страница</span>
    <i class="pagination__btn-icon icon--arrow--angle--right"></i>
</a>