<tbody class="table__tbody">
    <tr class="table__row-head">
        <th class="table__cell-head">PN</th>
        <th class="table__cell-head">Поставщик</th>
        <th class="table__cell-head">Наименование</th>
        <th class="table__cell-head">Цена, грн</th>
    </tr>

    <tr class="table__row">
        <td class="table__cell" data-col-name="PN">
            <div class="table__cell-inner">
                <span class="text text--nowrap">FM1-B435-Original</span>
            </div>
        </td>
        <td class="table__cell" data-col-name="Поставщик">
            <div class="table__cell-inner">WELLDO</div>
        </td>
        <td class="table__cell table__cell--wide" data-col-name="Наименование">
            <div class="table__cell-inner">
                <a href="#" class="table__product-name text-overflow" data-text-max-row="3" data-modal-id="modal-preview">
                    Термопленка Canon iR1430/ 1435, ORIGINAL!
                </a>
                <div class="table__availability">Наличие: <span class="text text--marker--ok">много</span></div>
            </div>
        </td>
        <td class="table__cell" data-col-name="Цена, грн">
            <div class="table__cell-inner">
                <b class="text text--bigger--115 text--nowrap">1155.50</b>
            </div>
        </td>
    </tr>

    <tr class="table__row">
        <td class="table__cell" data-col-name="PN">
            <div class="table__cell-inner">
                <span class="text text--nowrap">RM1-4209-HP</span>
            </div>
        </td>
        <td class="table__cell" data-col-name="Поставщик">
            <div class="table__cell-inner">WELLDO</div>
        </td>
        <td class="table__cell table__cell--wide" data-col-name="Наименование">
            <div class="table__cell-inner">
                <a href="#" class="table__product-name text-overflow" data-text-max-row="3" data-modal-id="modal-preview">
                    Термопленка HP LJ 1010/ 1150/ 1160/ 1200/ 1300/ 1320/ 1012/ 1015/ 1018/ 1020/ 1022/ 1000/ 3015/
                    3020/ 3030/ 3050/ 3055/ 3300/ 3330/ 3380/ P1005/ 1006/ 1102/ 2015/ M1005/ 2727/ Canon MF3110/
                    5530/ 5550/ 5630/ 5650/ LBP1210/ 2900/ 3000, эталонное качество! супер у паковка! HP iCare
                </a>
                <div class="table__availability">Наличие: <span class="text text--marker--ok">много</span></div>
            </div>
        </td>
        <td class="table__cell" data-col-name="Цена, грн">
            <div class="table__cell-inner">
                <b class="text text--bigger--115 text--nowrap">797.50</b>
            </div>
        </td>
    </tr>

    <tr class="table__row">
        <td class="table__cell" data-col-name="PN">
            <div class="table__cell-inner">
                <span class="text text--nowrap">RM1-4209-HP</span>
            </div>
        </td>
        <td class="table__cell" data-col-name="Поставщик">
            <div class="table__cell-inner">WELLDO</div>
        </td>
        <td class="table__cell table__cell--wide" data-col-name="Наименование">
            <div class="table__cell-inner">
                <a href="#" class="table__product-name text-overflow" data-text-max-row="3" data-modal-id="modal-preview">
                    Термопленка HP LJ P1505/ M1120/ 1522/ Canon LBP-3250 (RM1-4209/RM1-4229/RM1-4729/RM 1-8073),
                    METAL, эталонное каче ство! супер упаковка! HP iCare , гарантированный ресурс 50k
                </a>
                <div class="table__availability">Наличие: <span class="text text--marker--warning">достаточно</span></div>
            </div>
        </td>
        <td class="table__cell" data-col-name="Цена, грн">
            <div class="table__cell-inner">
                <b class="text text--bigger--115 text--nowrap">797.50</b>
            </div>
        </td>
    </tr>

    <tr class="table__row">
        <td class="table__cell" data-col-name="PN">
            <div class="table__cell-inner">
                <span class="text text--nowrap">RM1-6406-Original</span>
            </div>
        </td>
        <td class="table__cell" data-col-name="Поставщик">
            <div class="table__cell-inner">WELLDO</div>
        </td>
        <td class="table__cell table__cell--wide" data-col-name="Наименование">
            <div class="table__cell-inner">
                <a href="#" class="table__product-name text-overflow" data-text-max-row="3" data-modal-id="modal-preview">
                    Термопленка HP LJ P2035/ 2055/ 2030/ 2050/ 1606/ 1102/ M 1132/ M1536/ M102/ 104/ 130/ M203/
                    227/ 230/ Ultra M106/ 134/ M125/ 127/ M15/ M201/ 202/ 225/ 226/ M401/ 402/ 403/ 425/ 426/ 427/
                    451/ 475/ Pro 400/ Canon iR1033/ 1133/ MF211/ 212/ 215/ 216/ 217/ 221/ 222/ 223/ 224/ 226/ 227/
                    229/ 236/ 237/ 242/ 244/ 411/ 416/ 418/ 419/ 525/ MF3010/ 3110/ 3228/ MF4410/ 4430/ 4450/ 4550/
                    4570 /4580/ 4730/ 4750/ 4770/ 4780/ 4870/ 4890/ 5840/ 5850/ 5880/ 5930/ 5940/ 5950/ 5960/ 5970/
                    5980/ 6600/ 6670/ 6680/ 6780/ LBP251/ 252/ 253/ LBP5 970/ 6030/ 6300/ 6304/ 6310/ 6650/ 6653/
                    6654/ 6600/ 6670/ 6680/ 6780/ ImageCLASS D1120/ 1150/ 1170/ 1180/ D520/ 550/ Fax-L418, ORIGINAL!
                </a>
                <div class="table__availability">Наличие: <span class="text text--marker--danger">мало</span></div>
            </div>
        </td>
        <td class="table__cell" data-col-name="Цена, грн">
            <div class="table__cell-inner">
                <b class="text text--bigger--115 text--nowrap">371.25</b>
            </div>
        </td>
    </tr>

    <tr class="table__row">
        <td class="table__cell" data-col-name="PN">
            <div class="table__cell-inner">
                <span class="text text--nowrap">RM1-6319-Original</span>
            </div>
        </td>
        <td class="table__cell" data-col-name="Поставщик">
            <div class="table__cell-inner">WELLDO</div>
        </td>
        <td class="table__cell table__cell--wide" data-col-name="Наименование">
            <div class="table__cell-inner">
                <a href="#" class="table__product-name text-overflow" data-text-max-row="3" data-modal-id="modal-preview">
                    Термопленка HP LJ P3015/ M501/ M506/ M521/ M525/ M527/ Canon LBP-6700/ 6750/ iR1435/ 1430/
                    MF515/ 512, ORIGINAL!
                </a>
                <div class="table__availability">Наличие: <span class="text text--marker--ok">много</span></div>
            </div>
        </td>
        <td class="table__cell" data-col-name="Цена, грн">
            <div class="table__cell-inner">
                <b class="text text--bigger--115 text--nowrap">1 100.00</b>
            </div>
        </td>
    </tr>

    <tr class="table__row">
        <td class="table__cell" data-col-name="PN">
            <div class="table__cell-inner">
                <span class="text text--nowrap">RM1-6319-HP</span>
            </div>
        </td>
        <td class="table__cell" data-col-name="Поставщик">
            <div class="table__cell-inner">WELLDO</div>
        </td>
        <td class="table__cell table__cell--wide" data-col-name="Наименование">
            <div class="table__cell-inner">
                <a href="#" class="table__product-name text-overflow" data-text-max-row="3" data-modal-id="modal-preview">
                    Термопленка HP LJ P3015/ M501/ M506/ M521/ M525/ M527/ Canon LBP-6700/ 6750/ iR1435/ 1430/
                    MF515/ 512, эталонное качество ! супер упаковка! HP iCare, га рантированный ресурс 80k
                </a>
                <div class="table__availability">Наличие: <span class="text text--marker--ok">много</span></div>
            </div>
        </td>
        <td class="table__cell" data-col-name="Цена, грн">
            <div class="table__cell-inner">
                <b class="text text--bigger--115 text--nowrap">962.50</b>
            </div>
        </td>
    </tr>

    <tr class="table__row">
        <td class="table__cell" data-col-name="PN">
            <div class="table__cell-inner">
                <span class="text text--nowrap">FILM-L5500-WD</span>
            </div>
        </td>
        <td class="table__cell" data-col-name="Поставщик">
            <div class="table__cell-inner">WELLDO</div>
        </td>
        <td class="table__cell table__cell--wide" data-col-name="Наименование">
            <div class="table__cell-inner">
                <a href="#" class="table__product-name text-overflow" data-text-max-row="3" data-modal-id="modal-preview">
                    Термопленка WELLDO Brother DCP-L5500/ 5600/ 5650/ HL-L5000/ 5100/ 5200/ 6200/ 6250/ 6300/ 6400/
                    MFC-L5700/ 5800/ 5850/ 5900/ 6700/ 6750/ 6800/ 6900, индивидуальная упаковка + смазка
                </a>
                <div class="table__availability">Наличие: <span class="text text--marker--ok">много</span></div>
            </div>
        </td>
        <td class="table__cell" data-col-name="Цена, грн">
            <div class="table__cell-inner">
                <b class="text text--bigger--115 text--nowrap">687.50</b>
            </div>
        </td>
    </tr>

</tbody>