<tbody class="table__tbody">
    <tr class="table__row-head">
        <th class="table__cell-head table__cell-head--hidden">Отметить</th>
        <th class="table__cell-head">Резерв до</th>
        <th class="table__cell-head">PN</th>
        <th class="table__cell-head">Производитель</th>
        <th class="table__cell-head">Наименование</th>
        <th class="table__cell-head">Цена, грн</th>
        <th class="table__cell-head">Кол-во</th>
        <th class="table__cell-head">Сумма, грн</th>
        <th class="table__cell-head">Отсылка</th>
    </tr>

    <tr class="table__row">
        <td class="table__cell table__cell--check">
            <label class="checkbox-radio checkbox-radio--table">
                <input class="checkbox-radio__input" type="checkbox" name="" value="">
                <span class="checkbox-radio__toggler"></span>
                <span class="checkbox-radio__label">Отметить</span>
            </label>
        </td>
        <td class="table__cell" data-col-name="Резерв до">
            <div class="table__cell-inner">
                <span class="text text--nowrap">13/04/21</span>
            </div>
        </td>
        <td class="table__cell" data-col-name="PN">
            <div class="table__cell-inner">Canon046B-OCase</div>
        </td>
        <td class="table__cell" data-col-name="Производитель">
            <div class="table__cell-inner">1C-Original</div>
        </td>
        <td class="table__cell table__cell--wide" data-col-name="Наименование">
            <div class="table__cell-inner">
                <a href="#" class="table__product-name text-overflow text-overflow" data-text-max-row="3" data-modal-id="modal-preview">
                    Корпус оригинальный после 1 цикла Canon i-SENSYS M F211/ 212/ 216/ 217/ 226/ 229/ HP LJ Pro M201/
                    202/ 225, Canon 737/ CF283X, картридж первопроходный VIRGIN!
                </a>
                <div class="table__availability">Наличие: <span class="text text--marker--ok">много</span></div>
            </div>
        </td>
        <td class="table__cell" data-col-name="Цена, грн">
            <div class="table__cell-inner">
                <b class="text text--nowrap">12.90</b>
            </div>
        </td>
        <td class="table__cell" data-col-name="Кол-во">
            <div class="table__cell-inner">1</div>
        </td>
        <td class="table__cell" data-col-name="Сумма, грн">
            <div class="table__cell-inner">
                <b class="text text--bigger--115 text--nowrap">12.90</b>
            </div>
        </td>
        <td class="table__cell" data-col-name="Отсылка">
            <div class="table__cell-inner">
                <span class="text text--nowrap">13/04/21</span>
            </div>
        </td>
    </tr>

    <tr class="table__row">
        <td class="table__cell table__cell--check">
            <label class="checkbox-radio checkbox-radio--table">
                <input class="checkbox-radio__input" type="checkbox" name="" value="">
                <span class="checkbox-radio__toggler"></span>
                <span class="checkbox-radio__label">Отметить</span>
            </label>
        </td>
        <td class="table__cell" data-col-name="Резерв до">
            <div class="table__cell-inner">
                <span class="text text--nowrap">13/04/21</span>
            </div>
        </td>
        <td class="table__cell" data-col-name="PN">
            <div class="table__cell-inner">Canon046B-OCase</div>
        </td>
        <td class="table__cell" data-col-name="Производитель">
            <div class="table__cell-inner">1C-Original</div>
        </td>
        <td class="table__cell table__cell--wide" data-col-name="Наименование">
            <div class="table__cell-inner">
                <a href="#" class="table__product-name text-overflow" data-text-max-row="3" data-modal-id="modal-preview">
                    Корпус оригинальный после 1 цикла Canon i-Sensys L BP650/ 651/ 652/ 653/ 654/ MF730/ 731/ 732/
                    733/ 734/ 735/ HP COLOR Pro M452/ 477/ 410A, Canon 046/ 1249C002/ 1248C002/ 1247C002/ CF410A/
                    CF411A/ CF412A/ CF413A, COLOR, картридж первопроходный VIRGIN!
                </a>
                <div class="table__availability">Наличие: <span class="text text--marker--ok">много</span></div>
            </div>
        </td>
        <td class="table__cell" data-col-name="Цена, грн">
            <div class="table__cell-inner">
                <b class="text text--nowrap">12.90</b>
            </div>
        </td>
        <td class="table__cell" data-col-name="Кол-во">
            <div class="table__cell-inner">1</div>
        </td>
        <td class="table__cell" data-col-name="Сумма, грн">
            <div class="table__cell-inner">
                <b class="text text--bigger--115 text--nowrap">12.90</b>
            </div>
        </td>
        <td class="table__cell" data-col-name="Отсылка">
            <div class="table__cell-inner">
                <span class="text text--nowrap">13/04/21</span>
            </div>
        </td>
    </tr>

</tbody>