<tbody class="table__tbody">

    <tr class="table__row-head">
        <th class="table__cell-head">№ заказа</th>
        <th class="table__cell-head">Дата создания</th>
        <th class="table__cell-head">Автор</th>
        <th class="table__cell-head">Тип</th>
        <th class="table__cell-head">Статус</th>
        <th class="table__cell-head">Поступил на склад</th>
        <th class="table__cell-head">Дата приема</th>
        <th class="table__cell-head table__cell-head--hidden">Дополнительно</th>
    </tr><!--table row head-->

    <tr class="table__row table__row--toggler">
        <td class="table__cell" data-col-name="№ заказа">
            <div class="table__cell-inner">132300</div>
        </td>
        <td class="table__cell" data-col-name="Дата создания">
            <div class="table__cell-inner">
                <span class="text text--nowrap">07/07/2020</span>
            </div>
        </td>
        <td class="table__cell" data-col-name="Автор">
            <div class="table__cell-inner">Иван Иванов</div>
        </td>
        <td class="table__cell" data-col-name="Тип">
            <div class="table__cell-inner">
                <span class="text text--nowrap">Возврат</span>
            </div>
        </td>
        <td class="table__cell" data-col-name="Cтатус">
            <div class="table__cell-inner">
                <span class="order-status order-status--warning">Проведен</span>
            </div>
        </td>
        <td class="table__cell" data-col-name="Поступил на склад">
            <div class="table__cell-inner">
                Да
            </div>
        </td>
        <td class="table__cell" data-col-name="Дата приема">
            <div class="table__cell-inner">
                <span class="text text--nowrap">07/07/2020</span>
            </div>
        </td>
        <td class="table__cell table__cell--dropdown">
            <div class="table__cell-inner">
                <div class="table__dropdown">
                    <span class="table__dropdown-text">Свернуть</span>
                    <span class="table__dropdown-text table__dropdown-text--active">Развернуть</span>
                    <i class="table__dropdown-icon icon icon--arrow--tiangle--down"></i>
                </div>
            </div>
        </td>
    </tr><!--table row toggler-->

    <tr class="table__row-sub">
        <td colspan="11" class="table__cell-sub">

            <div class="table__cell-sub-content">
                <div class="table__dropdown table__dropdown--sub">
                    <button class="table__dropdown-btn">
                        <span class="table__dropdown-text table__dropdown-text--active">Свернуть</span>
                        <i class="table__dropdown-icon icon--arrow--up"></i>
                    </button>
                </div>

                <table class="table table__cell-sub-table">
                    <tbody class="table__tbody">
                        <tr class="table__row-head">
                            <th class="table__cell-head">PN</th>
                            <th class="table__cell-head">Производитель</th>
                            <th class="table__cell-head">Наименование</th>
                            <th class="table__cell-head">Кол-во</th>
                            <th class="table__cell-head">Номер заказа</th>
                        </tr>

                        <tr class="table__row">
                            <td class="table__cell" data-col-name="PN">
                                <div class="table__cell-inner">101R00432CH</div>
                            </td>
                            <td class="table__cell" data-col-name="Производитель">
                                <div class="table__cell-inner">Другой</div>
                            </td>
                            <td class="table__cell table__cell--wide" data-col-name="Наименование">
                                <div class="table__cell-inner">
                                    <a href="#" class="table__product-name text-overflow" data-text-max-row="3" data-modal-id="modal-preview">
                                        Фотобарабан TOSHIBA E-Studio 160/ 163/ 165/ 166/ 167/ 181/ 182/ 195/ 200/ 202/
                                        203/ 205/ 207/ 212/ 223/ 225/ 230/ 232/ 233/ 237/ 242/ 245/ 250/ 280/ 282/ 283/
                                        160/ 163/ 165/ 166/ 167/ 181/ 182/ 195/ 200/ 202/ 203/ 205/ 207/ 212/ 223/ 225/
                                        230/ 232/ 233/ 237/ 242/ 245/ 250/ 280/ 282/ 283/ 200/ 202/ 203/ 205/ 207/ 212/
                                        223/ 225/ 230/ 232/ 233/ 237/ 242/ 245/ 250/ 280/ 282/ 283/
                                    </a>
                                </div>
                            </td>
                            <td class="table__cell" data-col-name="Кол-во">
                                <div class="table__cell-inner">1000</div>
                            </td>
                            <td class="table__cell" data-col-name="Номер заказа">
                                <div class="table__cell-inner">129045</div>
                            </td>
                        </tr>

                        <tr class="table__row">
                            <td class="table__cell" data-col-name="PN">
                                <div class="table__cell-inner">101R00432CH</div>
                            </td>
                            <td class="table__cell" data-col-name="Производитель">
                                <div class="table__cell-inner">Toshiba</div>
                            </td>
                            <td class="table__cell table__cell--wide" data-col-name="Наименование">
                                <div class="table__cell-inner">
                                    <a href="#" class="table__product-name text-overflow" data-text-max-row="3" data-modal-id="modal-preview">
                                        Фотобарабан TOSHIBA E-Studio 160/ 163/ 165/ 166/ 167/ 181/ 182/ 195/ 200/ 202/
                                        203/ 205/ 207/ 212/ 223/ 225/ 230/ 232/ 233/ 237/ 242/ 245/ 250/ 280/ 282/ 283
                                    </a>
                                </div>
                            </td>
                            <td class="table__cell" data-col-name="Кол-во">
                                <div class="table__cell-inner">12</div>
                            </td>
                            <td class="table__cell" data-col-name="Номер заказа">
                                <div class="table__cell-inner">122134</div>
                            </td>
                        </tr>

                        <tr class="table__row">
                            <td class="table__cell" data-col-name="PN">
                                <div class="table__cell-inner">WD-MRH278AG</div>
                            </td>
                            <td class="table__cell" data-col-name="Производитель">
                                <div class="table__cell-inner">KATUN</div>
                            </td>
                            <td class="table__cell table__cell--wide" data-col-name="Наименование">
                                <div class="table__cell-inner">
                                    <a href="#" class="table__product-name text-overflow" data-text-max-row="3" data-modal-id="modal-preview">
                                        Вал заряда KATUN Ricoh Aficio 1015/ 1018/ 1022/ 1113/ 2015/ 2018/ 2020/ 2510/
                                        3025, MP1500/ 1600/ 1900/ 2000/ 2001/ 2014/ 2352/ 2500/ 2501/ 2510/ 2550
                                    </a>
                                </div>
                            </td>
                            <td class="table__cell" data-col-name="Кол-во">
                                <div class="table__cell-inner">1</div>
                            </td>
                            <td class="table__cell" data-col-name="Номер заказа">
                                <div class="table__cell-inner">122342</div>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div class="order-summary table__order-summary">

                    <div class="order-summary__controls">
                        <button class="order-summary__controls-btn">
                            <i class="order-summary__controls-icon icon icon--printer"></i>
                            <span class="order-summary__controls-text">Распечатать заказ</span>
                        </button>
                    </div><!-- order-summary controls -->

                </div><!-- order-summary -->
            </div>
        </td>
    </tr><!--table row sub-->

    <tr class="table__row table__row--toggler">
        <td class="table__cell" data-col-name="№ заказа">
            <div class="table__cell-inner">342640</div>
        </td>
        <td class="table__cell" data-col-name="Дата создания">
            <div class="table__cell-inner">
                <span class="text text--nowrap">16/06/2020</span>
            </div>
        </td>
        <td class="table__cell" data-col-name="Автор">
            <div class="table__cell-inner">Иван Иванов</div>
        </td>
        <td class="table__cell" data-col-name="Тип">
            <div class="table__cell-inner">
                <span class="text text--nowrap">Возврат</span>
            </div>
        </td>
        <td class="table__cell" data-col-name="Cтатус">
            <div class="table__cell-inner">
                <span class="order-status order-status--warning">Проведен</span>
            </div>
        </td>
        <td class="table__cell" data-col-name="Поступил на склад">
            <div class="table__cell-inner">
                Да
            </div>
        </td>
        <td class="table__cell" data-col-name="Дата приема">
            <div class="table__cell-inner">
                <span class="text text--nowrap">18/06/2020</span>
            </div>
        </td>
        <td class="table__cell table__cell--dropdown">
            <div class="table__cell-inner">
                <div class="table__dropdown">
                    <span class="table__dropdown-text">Свернуть</span>
                    <span class="table__dropdown-text table__dropdown-text--active">Развернуть</span>
                    <i class="table__dropdown-icon icon icon--arrow--tiangle--down"></i>
                </div>
            </div>
        </td>
    </tr><!--table row toggler-->

    <tr class="table__row-sub">
        <td colspan="11" class="table__cell-sub">

            <div class="table__cell-sub-content">
                <div class="table__dropdown table__dropdown--sub">
                    <button class="table__dropdown-btn">
                        <span class="table__dropdown-text table__dropdown-text--active">Свернуть</span>
                        <i class="table__dropdown-icon icon--arrow--up"></i>
                    </button>
                </div>

                <table class="table table__cell-sub-table">
                    <tbody class="table__tbody">
                    <tr class="table__row-head">
                        <th class="table__cell-head">PN</th>
                        <th class="table__cell-head">Производитель</th>
                        <th class="table__cell-head">Наименование</th>
                        <th class="table__cell-head">Кол-во</th>
                        <th class="table__cell-head">Номер заказа</th>
                    </tr>

                    <tr class="table__row">
                        <td class="table__cell" data-col-name="PN">
                            <div class="table__cell-inner">101R00432CH</div>
                        </td>
                        <td class="table__cell" data-col-name="Производитель">
                            <div class="table__cell-inner">Другой</div>
                        </td>
                        <td class="table__cell table__cell--wide" data-col-name="Наименование">
                            <div class="table__cell-inner">
                                <a href="#" class="table__product-name text-overflow" data-text-max-row="3" data-modal-id="modal-preview">
                                    Фотобарабан TOSHIBA E-Studio 160/ 163/ 165/ 166/ 167/ 181/ 182/ 195/ 200/ 202/
                                    203/ 205/ 207/ 212/ 223/ 225/ 230/ 232/ 233/ 237/ 242/ 245/ 250/ 280/ 282/ 283/
                                    160/ 163/ 165/ 166/ 167/ 181/ 182/ 195/ 200/ 202/ 203/ 205/ 207/ 212/ 223/ 225/
                                    230/ 232/ 233/ 237/ 242/ 245/ 250/ 280/ 282/ 283/ 200/ 202/ 203/ 205/ 207/ 212/
                                    223/ 225/ 230/ 232/ 233/ 237/ 242/ 245/ 250/ 280/ 282/ 283/
                                </a>
                            </div>
                        </td>
                        <td class="table__cell" data-col-name="Кол-во">
                            <div class="table__cell-inner">1000</div>
                        </td>
                        <td class="table__cell" data-col-name="Номер заказа">
                            <div class="table__cell-inner">129045</div>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__cell" data-col-name="PN">
                            <div class="table__cell-inner">101R00432CH</div>
                        </td>
                        <td class="table__cell" data-col-name="Производитель">
                            <div class="table__cell-inner">Toshiba</div>
                        </td>
                        <td class="table__cell table__cell--wide" data-col-name="Наименование">
                            <div class="table__cell-inner">
                                <a href="#" class="table__product-name text-overflow" data-text-max-row="3" data-modal-id="modal-preview">
                                    Фотобарабан TOSHIBA E-Studio 160/ 163/ 165/ 166/ 167/ 181/ 182/ 195/ 200/ 202/
                                    203/ 205/ 207/ 212/ 223/ 225/ 230/ 232/ 233/ 237/ 242/ 245/ 250/ 280/ 282/ 283
                                </a>
                            </div>
                        </td>
                        <td class="table__cell" data-col-name="Кол-во">
                            <div class="table__cell-inner">12</div>
                        </td>
                        <td class="table__cell" data-col-name="Номер заказа">
                            <div class="table__cell-inner">122134</div>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__cell" data-col-name="PN">
                            <div class="table__cell-inner">WD-MRH278AG</div>
                        </td>
                        <td class="table__cell" data-col-name="Производитель">
                            <div class="table__cell-inner">KATUN</div>
                        </td>
                        <td class="table__cell table__cell--wide" data-col-name="Наименование">
                            <div class="table__cell-inner">
                                <a href="#" class="table__product-name text-overflow" data-text-max-row="3" data-modal-id="modal-preview">
                                    Вал заряда KATUN Ricoh Aficio 1015/ 1018/ 1022/ 1113/ 2015/ 2018/ 2020/ 2510/
                                    3025, MP1500/ 1600/ 1900/ 2000/ 2001/ 2014/ 2352/ 2500/ 2501/ 2510/ 2550
                                </a>
                            </div>
                        </td>
                        <td class="table__cell" data-col-name="Кол-во">
                            <div class="table__cell-inner">1</div>
                        </td>
                        <td class="table__cell" data-col-name="Номер заказа">
                            <div class="table__cell-inner">122342</div>
                        </td>
                    </tr>

                    </tbody>
                </table>

                <div class="order-summary table__order-summary">

                    <div class="order-summary__controls">
                        <button class="order-summary__controls-btn">
                            <i class="order-summary__controls-icon icon icon--printer"></i>
                            <span class="order-summary__controls-text">Распечатать заказ</span>
                        </button>
                    </div><!-- order-summary controls -->

                </div><!-- order-summary -->
            </div>
        </td>
    </tr><!--table row sub-->

</tbody>