<tbody class="table__tbody">
  <tr class="table__row-head">
    <th class="table__cell-head">Прочитано</th>
    <th class="table__cell-head">Дата</th>
    <th class="table__cell-head">Заголовок</th>
    <th class="table__cell-head table__cell-head--hidden">Дополнительно</th>
  </tr>
  <!--table row head-->

  <tr class="table__row table__row--toggler">
    <td class="table__cell" data-col-name="Прочитано">
      <i class="icon--eye"></i>
    </td>
    <td class="table__cell" data-col-name="Дата">
      <div class="table__cell-inner">07/07/2020</div>
    </td>
    <td class="table__cell" data-col-name="Заголовок">
      <div class="table__cell-inner">
        <span class="text">Съешь ещё этих мягких французских булок, да выпей чаю</span>
      </div>
    </td>
    <td class="table__cell table__cell--dropdown">
      <div class="table__cell-inner">
        <div class="table__dropdown">
          <span class="table__dropdown-text">Свернуть</span>
          <span class="table__dropdown-text table__dropdown-text--active"
            >Развернуть</span
          >
          <i class="table__dropdown-icon icon icon--arrow--tiangle--down"></i>
        </div>
      </div>
    </td>
  </tr>
  <!--table row toggler-->

  <tr class="table__row-sub">
    <td colspan="11" class="table__cell-sub">
      <div class="table__cell-sub-content">
        <div class="post table__post">
          <h2 class="h3">Заголовк 2</h2>
          <p>
            С другой стороны постоянный количественный рост и сфера нашей активности
            представляет собой интересный эксперимент проверки дальнейших направлений
            развития. Не следует, однако забывать, что дальнейшее развитие различных форм
            деятельности требуют от нас анализа направлений прогрессивного развития.
          </p>
          <p>
            С другой стороны постоянный количественный рост и сфера нашей активности
            представляет собой интересный эксперимент проверки дальнейших направлений
            развития. Не следует, однако забывать, что дальнейшее развитие различных форм
            деятельности требуют от нас анализа направлений прогрессивного развития.
          </p>
          <ul>
            <li>
              Значимость этих проблем настолько очевидна, что укрепление и развитие
              структуры влечет за собой процесс внедрения и модернизации существенных
              финансовых и административных условий.
            </li>
            <li>
              Разнообразный и богатый опыт постоянное информационно-пропагандистское
              обеспечение нашей деятельности
            </li>
            <li>
              Повседневная практика показывает, что реализация намеченных плановых заданий
              способствует подготовки и реализации соответствующий условий активизации.
            </li>
          </ul>
        </div>
      </div>
    </td>
  </tr>
  <!--table row sub-->

  <tr class="table__row">
    <td class="table__cell" data-col-name="Прочитано">
      <!-- <i class="icon--eye--hidden"></i> -->
    </td>
    <td class="table__cell" data-col-name="Дата">
      <div class="table__cell-inner">07/07/2020</div>
    </td>
    <td class="table__cell" colspan="2" data-col-name="Заголовок">
      <div class="table__cell-inner">
        <a href="#" class="text">
          <b>Новость: Съешь ещё этих мягких французских булок, да выпей чаю</b>
        </a>
      </div>
    </td>
  </tr>
  <!--table row-->
</tbody>
