<tbody class="table__tbody">

    <tr class="table__row-head">
        <th class="table__cell-head">Дата создания</th>
        <th class="table__cell-head">Кол-во</th>
        <th class="table__cell-head">Сумма, грн</th>
        <th class="table__cell-head">Примечание</th>
        <th class="table__cell-head">Статус</th>
        <th class="table__cell-head table__cell-head--hidden">Удалить заказ</th>
        <th class="table__cell-head table__cell-head--hidden">Дополнительно</th>
    </tr><!--table row head-->

    <tr class="table__row table__row--toggler">
        <td class="table__cell" data-col-name="Дата создания">
            <div class="table__cell-inner">
                <span class="text text--nowrap">07/07/2020</span>
            </div>
        </td>
        <td class="table__cell" data-col-name="Кол-во">
            <div class="table__cell-inner">2</div>
        </td>
        <td class="table__cell" data-col-name="Сумма, грн">
            <div class="table__cell-inner">
                <b class="text text--nowrap text--bigger--115">1 849.54</b>
            </div>
        </td>
        <td class="table__cell" data-col-name="Примечание">
            <div class="table__cell-inner">
                <span class="table__text text text--smaller--085">Комментарий к заказу</span>
            </div>
        </td>
        <td class="table__cell" data-col-name="Сделать текущим">
            <div class="table__cell-inner">
                <label class="checkbox-radio checkbox-radio--table table__status-radio">
                    <input class="checkbox-radio__input" type="radio" name="current order" value="" checked>
                    <span class="checkbox-radio__toggler"></span>
                    <span class="checkbox-radio__label text text--nowrap">Сделать текущим</span>
                </label>
            </div>
        </td>
        <td class="table__cell" data-col-name="Удалить">
            <div class="table__cell-inner">
                <a href="#" class="btn btn--style--grey btn--size--sm" data-modal-id="modal-remove">Удалить</a>
            </div>
        </td>
        <td class="table__cell table__cell--dropdown">
            <div class="table__cell-inner">
                <div class="table__dropdown">
                    <span class="table__dropdown-text">Свернуть</span>
                    <span class="table__dropdown-text table__dropdown-text--active">Развернуть</span>
                    <i class="table__dropdown-icon icon icon--arrow--tiangle--down"></i>
                </div>
            </div>
        </td>
    </tr><!--table row toggler-->

    <tr class="table__row-sub">
        <td colspan="11" class="table__cell-sub">

            <div class="table__cell-sub-content">
                <div class="table__dropdown table__dropdown--sub">
                    <button class="table__dropdown-btn">
                        <span class="table__dropdown-text table__dropdown-text--active">Свернуть</span>
                        <i class="table__dropdown-icon icon--arrow--up"></i>
                    </button>
                </div><!--table dropdown-->

                <table class="table table__cell-sub-table">
                    <tbody class="table__tbody">
                        <tr class="table__row-head">
                            <th class="table__cell-head">PN</th>
                            <th class="table__cell-head">ВЭД-код</th>
                            <th class="table__cell-head">Вес/ Объем</th>
                            <th class="table__cell-head">Производитель</th>
                            <th class="table__cell-head">Наименование</th>
                            <th class="table__cell-head">Цена, уе</th>
                            <th class="table__cell-head">Кол-во</th>
                            <th class="table__cell-head">Сумма, уе</th>
                        </tr>

                        <tr class="table__row">
                            <td class="table__cell" data-col-name="PN">
                                <div class="table__cell-inner">WD-MRH278AG</div>
                            </td>
                            <td class="table__cell" data-col-name="ВЭД-код">
                                <div class="table__cell-inner">8505902990</div>
                            </td>
                            <td class="table__cell" data-col-name="Вес/ Объем">
                                <div class="table__cell-inner">0.00/ 0.00</div>
                            </td>
                            <td class="table__cell" data-col-name="Производитель">
                                <div class="table__cell-inner">WELLDO</div>
                            </td>
                            <td class="table__cell table__cell--wide" data-col-name="Наименование">
                                <div class="table__cell-inner">
                                    <a href="#" class="table__product-name text-overflow" data-text-max-row="3" data-modal-id="modal-preview">
                                        Вал магнитный в сборе WELLDO HP LJ P1005/ 1006/ 1007 /1008/ 1102/ 1505/ 1560/
                                        1566/ 1606/ M1212/ 1214/ 1217/ 1120/ 1132/ 1522/ 1536/ M125/ 127/ Canon MF4410/
                                        4430/ 4450/ 4550/ 4570/ 4580/ 4730/ 4750/ 4780/ 4870/ 4890/ LBP-3010/ 3020/
                                        3100/ 3250/ 6000/ 6020/ 6200/ CB435A/ CB436A/ CE278A/ CE285A/ Canon 712/ 713/
                                        725/ 726/ 728, Silver GLOSSY Coating - OEM технология! + комплект втулок
                                    </a>
                                    <div class="table__availability">Наличие: <span class="text text--marker--ok">много</span></div>
                                </div>
                            </td>
                            <td class="table__cell" data-col-name="Цена, уе">
                                <div class="table__cell-inner">
                                    <b class="text text--bigger--115 text--nowrap">1.08</b>
                                </div>
                            </td>
                            <td class="table__cell" data-col-name="Кол-во">
                                <div class="table__cell-inner">1</div>
                            </td>
                            <td class="table__cell" data-col-name="Сумма, уе">
                                <div class="table__cell-inner">
                                    <b class="text text--bigger--115 text--nowrap">1.08</b>
                                </div>
                            </td>
                        </tr>

                        <tr class="table__row">
                            <td class="table__cell" data-col-name="PN">
                                <div class="table__cell-inner">WD-MRH278AG</div>
                            </td>
                            <td class="table__cell" data-col-name="ВЭД-код">
                                <div class="table__cell-inner">8505902990</div>
                            </td>
                            <td class="table__cell" data-col-name="Вес/ Объем">
                                <div class="table__cell-inner">0.00/ 0.00</div>
                            </td>
                            <td class="table__cell" data-col-name="Производитель">
                                <div class="table__cell-inner">WELLDO</div>
                            </td>
                            <td class="table__cell table__cell--wide" data-col-name="Наименование">
                                <div class="table__cell-inner">
                                    <a href="#" class="table__product-name text-overflow" data-text-max-row="3" data-modal-id="modal-preview">
                                        Вал магнитный в сборе WELLDO HP LJ P1005/ 1006/ 1007 /1008/ 1102/ 1505/ 1560/
                                        1566/ 1606/ M1212/ 1214/ 1217/ 1120/ 1132/ 1522/ 1536/ M125/ 127/ Canon MF4410/
                                        4430/ 4450/ 4550/ 4570/ 4580/ 4730/ 4750/ 4780/ 4870/ 4890/ LBP-3010/ 3020/
                                        3100/ 3250/ 6000/ 6020/ 6200/ CB435A/ CB436A/ CE278A/ CE285A/ Canon 712/ 713/
                                        725/ 726/ 728, Silver GLOSSY Coating - OEM технология! + комплект втулок
                                    </a>
                                    <div class="table__availability">Наличие: <span class="text text--marker--ok">много</span></div>
                                </div>
                            </td>
                            <td class="table__cell" data-col-name="Цена, уе">
                                <div class="table__cell-inner">
                                    <b class="text text--bigger--115 text--nowrap">1.08</b>
                                </div>
                            </td>
                            <td class="table__cell" data-col-name="Кол-во">
                                <div class="table__cell-inner">1</div>
                            </td>
                            <td class="table__cell" data-col-name="Сумма, уе">
                                <div class="table__cell-inner">
                                    <b class="text text--bigger--115 text--nowrap">1.08</b>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div class="order-summary table__order-summary">

                    <div class="order-summary__product-price product-price">
                        <div class="product-price__pre">Итого, к оплате</div>
                        <div class="product-price__item">
                            <span class="product-price__value">1.08</span>
                            <span class="product-price__currency">&#8372;</span>
                        </div>
                    </div>

                    <ul class="order-summary__list">
                        <li class="order-summary__list-item">
                            <div class="order-summary__list-attr">
                                <span class="order-summary__list-inner">Всего позиций</span>
                            </div>
                            <div class="order-summary__list-param">
                                <span class="order-summary__list-inner">1</span>
                            </div>
                        </li>
                        <li class="order-summary__list-item">
                            <div class="order-summary__list-attr">
                                <span class="order-summary__list-inner">Всего товаров, шт</span>
                            </div>
                            <div class="order-summary__list-param">
                                <span class="order-summary__list-inner">1</span>
                            </div>
                        </li>
                        <li class="order-summary__list-item">
                            <div class="order-summary__list-attr">
                                <span class="order-summary__list-inner">Общий вес (кг)</span>
                            </div>
                            <div class="order-summary__list-param">
                                <span class="order-summary__list-inner">0.00</span>
                            </div>
                        </li>
                        <li class="order-summary__list-item">
                            <div class="order-summary__list-attr">
                                <span class="order-summary__list-inner">Общий объем (м<sup>3</sup>)</span>
                            </div>
                            <div class="order-summary__list-param">
                                <span class="order-summary__list-inner">0.00</span>
                            </div>
                        </li>
                    </ul><!-- order-summary list -->

                    <div class="order-summary__note">
                        <div class="form-row order-summary__note-comment">
                            <div class="form-row__label">Комментарий к заказу</div>
                            <textarea class="form-row__control" name="">Комментарий к заказу</textarea>
                        </div>
                    </div><!-- order-summary note -->

                </div><!-- order-summary -->
            </div>
        </td>
    </tr><!--table row sub-->

    <tr class="table__row table__row--toggler">
        <td class="table__cell" data-col-name="Дата создания">
            <div class="table__cell-inner">
                <span class="text text--nowrap">07/07/2020</span>
            </div>
        </td>
        <td class="table__cell" data-col-name="Кол-во">
            <div class="table__cell-inner">2</div>
        </td>
        <td class="table__cell" data-col-name="Сумма, грн">
            <div class="table__cell-inner">
                <b class="text text--nowrap text--bigger--115">1 849.54</b>
            </div>
        </td>
        <td class="table__cell" data-col-name="Примечание">
            <div class="table__cell-inner">
                <span class="table__text text text--smaller--085">
                    Дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки
                    существенных финансовых и административных условий.
                </span>
            </div>
        </td>
        <td class="table__cell" data-col-name="Сделать текущим">
            <div class="table__cell-inner">
                <label class="checkbox-radio checkbox-radio--table table__status-radio">
                    <input class="checkbox-radio__input" type="radio" name="current order" value="">
                    <span class="checkbox-radio__toggler"></span>
                    <span class="checkbox-radio__label text text--nowrap">Сделать текущим</span>
                </label>
            </div>
        </td>
        <td class="table__cell" data-col-name="Удалить">
            <div class="table__cell-inner">
                <a href="#" class="btn btn--style--grey btn--size--sm" data-modal-id="modal-remove">Удалить</a>
            </div>
        </td>
        <td class="table__cell table__cell--dropdown">
            <div class="table__cell-inner">
                <div class="table__dropdown">
                    <span class="table__dropdown-text">Свернуть</span>
                    <span class="table__dropdown-text table__dropdown-text--active">Развернуть</span>
                    <i class="table__dropdown-icon icon icon--arrow--tiangle--down"></i>
                </div>
            </div>
        </td>
    </tr><!--table row toggler-->

    <tr class="table__row-sub">
        <td colspan="11" class="table__cell-sub">

            <div class="table__cell-sub-content">

                <table class="table table__cell-sub-table">
                    <tbody class="table__tbody">
                    <tr class="table__row-head">
                        <th class="table__cell-head">PN</th>
                        <th class="table__cell-head">ВЭД-код</th>
                        <th class="table__cell-head">Вес/ Объем</th>
                        <th class="table__cell-head">Производитель</th>
                        <th class="table__cell-head">Наименование</th>
                        <th class="table__cell-head">Цена, уе</th>
                        <th class="table__cell-head">Кол-во</th>
                        <th class="table__cell-head">Сумма, уе</th>
                    </tr>

                    <tr class="table__row">
                        <td class="table__cell" data-col-name="PN">
                            <div class="table__cell-inner">WD-MRH278AG</div>
                        </td>
                        <td class="table__cell" data-col-name="ВЭД-код">
                            <div class="table__cell-inner">8505902990</div>
                        </td>
                        <td class="table__cell" data-col-name="Вес/ Объем">
                            <div class="table__cell-inner">0.00/ 0.00</div>
                        </td>
                        <td class="table__cell" data-col-name="Производитель">
                            <div class="table__cell-inner">WELLDO</div>
                        </td>
                        <td class="table__cell table__cell--wide" data-col-name="Наименование">
                            <div class="table__cell-inner">
                                <a href="#" class="table__product-name text-overflow" data-text-max-row="3" data-modal-id="modal-preview">
                                    Вал магнитный в сборе WELLDO HP LJ P1005/ 1006/ 1007 /1008/ 1102/ 1505/ 1560/
                                    1566/ 1606/ M1212/ 1214/ 1217/ 1120/ 1132/ 1522/ 1536/ M125/ 127/ Canon MF4410/
                                    4430/ 4450/ 4550/ 4570/ 4580/ 4730/ 4750/ 4780/ 4870/ 4890/ LBP-3010/ 3020/
                                    3100/ 3250/ 6000/ 6020/ 6200/ CB435A/ CB436A/ CE278A/ CE285A/ Canon 712/ 713/
                                    725/ 726/ 728, Silver GLOSSY Coating - OEM технология! + комплект втулок
                                </a>
                                <div class="table__availability">Наличие: <span class="text text--marker--ok">много</span></div>
                            </div>
                        </td>
                        <td class="table__cell" data-col-name="Цена, уе">
                            <div class="table__cell-inner">
                                <b class="text text--bigger--115 text--nowrap">1.08</b>
                            </div>
                        </td>
                        <td class="table__cell" data-col-name="Кол-во">
                            <div class="table__cell-inner">1</div>
                        </td>
                        <td class="table__cell" data-col-name="Сумма, уе">
                            <div class="table__cell-inner">
                                <b class="text text--bigger--115 text--nowrap">1.08</b>
                            </div>
                        </td>
                    </tr>

                    <tr class="table__row">
                        <td class="table__cell" data-col-name="PN">
                            <div class="table__cell-inner">WD-MRH278AG</div>
                        </td>
                        <td class="table__cell" data-col-name="ВЭД-код">
                            <div class="table__cell-inner">8505902990</div>
                        </td>
                        <td class="table__cell" data-col-name="Вес/ Объем">
                            <div class="table__cell-inner">0.00/ 0.00</div>
                        </td>
                        <td class="table__cell" data-col-name="Производитель">
                            <div class="table__cell-inner">WELLDO</div>
                        </td>
                        <td class="table__cell table__cell--wide" data-col-name="Наименование">
                            <div class="table__cell-inner">
                                <a href="#" class="table__product-name text-overflow" data-text-max-row="3" data-modal-id="modal-preview">
                                    Вал магнитный в сборе WELLDO HP LJ P1005/ 1006/ 1007 /1008/ 1102/ 1505/ 1560
                                </a>
                                <div class="table__availability">Наличие: <span class="text text--marker--ok">много</span></div>
                            </div>
                        </td>
                        <td class="table__cell" data-col-name="Цена, уе">
                            <div class="table__cell-inner">
                                <b class="text text--bigger--115 text--nowrap">1.08</b>
                            </div>
                        </td>
                        <td class="table__cell" data-col-name="Кол-во">
                            <div class="table__cell-inner">1</div>
                        </td>
                        <td class="table__cell" data-col-name="Сумма, уе">
                            <div class="table__cell-inner">
                                <b class="text text--bigger--115 text--nowrap">1.08</b>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>

                <div class="order-summary table__order-summary">
                    <div class="table__dropdown table__dropdown--sub">
                        <button class="table__dropdown-btn">
                            <span class="table__dropdown-text table__dropdown-text--active">Свернуть</span>
                            <i class="table__dropdown-icon icon--arrow--up"></i>
                        </button>
                    </div><!--table dropdown-->

                    <div class="order-summary__product-price product-price">
                        <div class="product-price__pre">Итого, к оплате</div>
                        <div class="product-price__item">
                            <span class="product-price__value">1.08</span>
                            <span class="product-price__currency">&#8372;</span>
                        </div>
                    </div>

                    <ul class="order-summary__list">
                        <li class="order-summary__list-item">
                            <div class="order-summary__list-attr">
                                <span class="order-summary__list-inner">Всего позиций</span>
                            </div>
                            <div class="order-summary__list-param">
                                <span class="order-summary__list-inner">1</span>
                            </div>
                        </li>
                        <li class="order-summary__list-item">
                            <div class="order-summary__list-attr">
                                <span class="order-summary__list-inner">Всего товаров, шт</span>
                            </div>
                            <div class="order-summary__list-param">
                                <span class="order-summary__list-inner">1</span>
                            </div>
                        </li>
                        <li class="order-summary__list-item">
                            <div class="order-summary__list-attr">
                                <span class="order-summary__list-inner">Общий вес (кг)</span>
                            </div>
                            <div class="order-summary__list-param">
                                <span class="order-summary__list-inner">0.00</span>
                            </div>
                        </li>
                        <li class="order-summary__list-item">
                            <div class="order-summary__list-attr">
                                <span class="order-summary__list-inner">Общий объем (м<sup>3</sup>)</span>
                            </div>
                            <div class="order-summary__list-param">
                                <span class="order-summary__list-inner">0.00</span>
                            </div>
                        </li>
                    </ul><!-- order-summary list -->

                    <div class="order-summary__note">
                        <div class="form-row order-summary__note-comment">
                            <div class="form-row__label">Комментарий к заказу</div>
                            <textarea class="form-row__control" name="">Дальнейшее развитие различных форм деятельности представляет собой интересный эксперимент проверки существенных финансовых и административных условий.</textarea>
                        </div>
                    </div><!-- order-summary note -->

                </div><!-- order-summary -->
            </div>
        </td>
    </tr><!--table row sub-->

</tbody>