<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head }}
    <title>DW Group | Каталог товаров</title>
</head>

<body class="page">

{{> header }}

<main class="page__main">
    <div class="container container--wide">

        <div class="page__pre">
            <nav class="crumbs crumbs--white page__crumbs">
                <ul class="crumbs__list">
                    <li class="crumbs__item">
                        <a href="/" class="crumbs__link">Главная</a>
                    </li>
                    <li class="crumbs__item">
                        <a href="#" class="crumbs__link">Каталог</a>
                    </li>
                    <li class="crumbs__item crumbs__item--active">
                        <span>Тонеры для МФУ</span>
                    </li>
                </ul>
            </nav>
            <div class="page__summary page__summary--white">
                <div class="page__summary-item">Товаров всего: 1 230</div>
                <div class="page__summary-item">Товаров на странице: 50</div>
            </div>
        </div><!--page pre-->

        <div class="page__content-holder content-holder content-holder--catalog">

            <aside class="sidebar-filter content-holder__sidebar">
                {{> filter-sidebar }}
            </aside>

            <section class="content-holder__inner">

                <div class="content-holder__header content-holder__header--settings">

                    <button class="content-holder__header-btn sidebar-toggle">
                        <i class="icon icon--equalizer--outline"></i>
                        <span>Фильтры</span>
                    </button>

                    <h1 class="content-holder__header-title">Тонеры для МФУ/ Принтеров/ Копировальных аппаратов/ Факсов</h1>

                    <div class="content-holder__header-settings-bar">

                        <div class="content-holder__header-select-alt select-alt">
                            <div class="select-alt__textbox">
                                <div class="select-alt__textbox-pre">Сначала:</div>
                                <div class="select-alt__textbox-value"></div>
                            </div>
                            <div class="select-alt__option-list">
                                <div class="select-alt__option-item select-alt__option-item--active">Дорогие</div>
                                <div class="select-alt__option-item selected">Дешевые</div>
                                <div class="select-alt__option-item">Акционные</div>
                                <div class="select-alt__option-item">Новые</div>
                            </div>
                        </div>

                        <div class="content-holder__header-select-alt select-alt">
                            <div class="select-alt__textbox">
                                <div class="select-alt__textbox-pre">Показать по:</div>
                                <div class="select-alt__textbox-value"></div>
                            </div>
                            <div class="select-alt__option-list">
                                <div class="select-alt__option-item selected">30</div>
                                <div class="select-alt__option-item">50</div>
                                <div class="select-alt__option-item">100</div>
                            </div>
                        </div>

                        <div class="content-holder__header-layout-switch layout-switch">
                            <a href="#" class="layout-switch__item">
                                <i class="icon icon--layout--list"></i>
                                <span>Списком</span>
                            </a>
                            <div class="layout-switch__item layout-switch__item--active">
                                <i class="icon icon--layout--grid--4"></i>
                                <span>Плитками</span>
                            </div>
                        </div>

                    </div> <!--settings bar -->

                </div><!-- page content header -->

                <div class="content-holder__product-grid product-grid">
                    {{> body }}
                </div>

                <nav class="pagination pagination--bottom content-holder__pagination">
                    {{> pagination }}
                </nav>

            </section>
        </div><!--page content-->

        <section class="page-desc">
            <div class="container page-desc__container">
                <div class="page-desc__img">
                    <img src="assets/img/page-desc.png" alt="Лучшие расходные материалы и запчасти для печатающей техники!" class="page-desc__img-item">
                </div>
                <div class="page-desc__text">
                    <h2>Лучшие расходные материалы и запчасти для печатающей техники!</h2>
                    <p>
                        Наша компания предлагает в ассортименте лучшие расходные материалы для печатающей техники. Мы
                        являемся авторизированным импортёром совместимых и оригинальных расходных материалов, а также
                        запчастей к офисной печатающей технике (принтеры, МФУ, копировальные аппараты/КМА/копиры/ксероксы).
                    </p>
                    <p>
                        Наши клиенты - крупные компании из Киева и регионов (дилеры), сервисные центры, предоставляющие
                        услуги заправки и ремонта печатающей техники, а также небольшие компании и ФЛП по всей Украине,
                        которые предоставляют услуги по заправке и ремонту соответствующей техники. Также мы предоставляем
                        необходимые комплектующие для розничных клиентов, которым нужны картриджи/тонеры/расходные
                        материалы/запчасти для полноценной работы и починки принтера.
                    </p>
                    <p>
                        Для того, чтобы Ваш принтер Вас не подводил, нужно быть уверенным в его исправности, а также в
                        наличии тонера. Наша фирма поможет Вам в этом. У нас Вы можете приобрести такие комплектующие, как
                        тонер для лазерного принтера, тонер-картридж, драм-картридж, девелопер, чип, лезвия
                        очистки/дозирования, термопленку, ролик захвата бумаги, тормозную площадку, шестерню, узел
                        закрепления и вал для принтера.
                    </p>
                </div>
            </div>
        </section>

    </div>
</main>

{{> footer }}

{{> modal-search }}

<script src="assets/js/app.js"></script>
</body>
</html>